<div class="hidden-popup activation-popup">
  <div class="close-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
    <path d="M30 10L10 30M10 10L30 30" stroke="#4D5166" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <div class="title">
    <h2>Unlock Huge Benefits with Our Small Account Set-up Fee</h2>
  </div>
    <ul>
      <li><b>Enhanced Support:</b> Enables quick, expert assistance during the activation process.</li>
      <li><b>Immediate Service:</b> Faster activation, ensuring you're online in no time.</li>
      <li><b>Infrastructure Costs:</b> Contributes to maintaining a high-quality, reliable network.</li>
      <li><b>Security Measures:</b> Supports secure, fraud-preventive activation methods.</li>
    </ul>
</div>  