<div class="hidden-popup verify-popup" js-verify-popup>
  <div class="close-btn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none">
      <path
        d="M30 10L10 30M10 10L30 30"
        stroke="#4D5166"
        stroke-width="2.66667"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <div class="title">
    <h2>Check Coverage</h2>
  </div>
  <div class="content">
    <p class="sub-title">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13"
        height="16"
        viewBox="0 0 13 16"
        fill="none">
        <path
          d="M6.74967 8.82878C7.8715 8.82878 8.78092 7.91935 8.78092 6.79753C8.78092 5.6757 7.8715 4.76628 6.74967 4.76628C5.62785 4.76628 4.71842 5.6757 4.71842 6.79753C4.71842 7.91935 5.62785 8.82878 6.74967 8.82878Z"
          stroke="#008061"
          stroke-width="1.35417"
          stroke-linecap="round"
          stroke-linejoin="round" />
        <path
          d="M6.74967 14.9225C9.45801 12.2142 12.1663 9.78907 12.1663 6.79753C12.1663 3.80598 9.74122 1.38086 6.74967 1.38086C3.75813 1.38086 1.33301 3.80598 1.33301 6.79753C1.33301 9.78907 4.04134 12.2142 6.74967 14.9225Z"
          stroke="#008061"
          stroke-width="1.35417"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
      <span>Where will you primarily use this service?</span>
    </p>
    <input
      type="text"
      placeholder="Enter Address"
      class="addr-input"
      id="autocomplete" />
    <span class="error-msg" style="display: none; color: #ff0000;">Please enter address</span>
    <button class="btn btn-primary" js-verify-address>Proceed</button>
    <p class="small-description">By proceeding, you agree to receive communication from Nomad Internet.</p>
  </div>
</div>