<div class="hidden-popup payment-popup">
  <div class="close-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
      <path d="M22.5 7.5L7.5 22.5M7.5 7.5L22.5 22.5" stroke="#4D5166" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

<div class="title">
    <h2>Which Payment Option is Right For You?</h2>
  </div>
  <div class="list-main">
    <div class="list list-1">
      <h2 class="list-title">
        <span>Flex Pay - Tailored Monthly Rental Plans</span>
        <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.16728 10.5452H3.66185C2.83884 10.5452 2.1709 9.87727 2.1709 9.05426C2.1709 8.23126 2.83884 7.56331 3.66185 7.56331H8.1347C8.95771 7.56331 9.62566 8.23126 9.62566 9.05426V13.5271C9.62566 14.3501 8.95771 15.0181 8.1347 15.0181C7.3117 15.0181 6.64375 14.3501 6.64375 13.5271V12.2255C5.69402 13.9371 5.1528 15.9052 5.1528 18C5.1528 24.5825 10.4979 29.9276 17.0804 29.9276C17.9914 29.9276 18.8785 29.8247 19.7313 29.6309C20.5349 29.449 21.3341 29.9529 21.516 30.7551C21.6979 31.5572 21.1954 32.3563 20.3933 32.5397C19.3273 32.7813 18.218 32.9095 17.0804 32.9095C8.85185 32.9095 2.1709 26.2285 2.1709 18C2.1709 15.2849 2.89848 12.7384 4.16728 10.5452ZM27.5171 23.7744C28.4668 22.0628 29.008 20.0948 29.008 18C29.008 11.4174 23.663 6.07236 17.0804 6.07236C16.2186 6.07236 15.3777 6.16331 14.5682 6.33775C13.763 6.5107 12.9699 5.99781 12.7969 5.1927C12.624 4.38907 13.1368 3.5944 13.942 3.42294C14.9543 3.20526 16.0039 3.09045 17.0804 3.09045C25.309 3.09045 31.9899 9.77141 31.9899 18C31.9899 20.715 31.2623 23.2615 29.9935 25.4547H30.499C31.322 25.4547 31.9899 26.1227 31.9899 26.9457C31.9899 27.7687 31.322 28.4366 30.499 28.4366H26.0261C25.2031 28.4366 24.5352 27.7687 24.5352 26.9457V22.4728C24.5352 21.6498 25.2031 20.9819 26.0261 20.9819C26.8491 20.9819 27.5171 21.6498 27.5171 22.4728V23.7744ZM15.5895 12.1122V10.5452C15.5895 9.72221 16.2574 9.05426 17.0804 9.05426C17.9034 9.05426 18.5714 9.72221 18.5714 10.5452V12.0362H20.0623C20.8853 12.0362 21.5533 12.7041 21.5533 13.5271C21.5533 14.3501 20.8853 15.0181 20.0623 15.0181H16.3349C16.1366 15.0181 15.9473 15.0971 15.8071 15.2357C15.6685 15.3759 15.5895 15.5652 15.5895 15.7635C15.5895 15.9618 15.6685 16.1512 15.8071 16.2913C15.9473 16.43 16.1366 16.509 16.3349 16.509H17.8259C18.8144 16.509 19.7626 16.9011 20.4619 17.6004C21.1611 18.2997 21.5533 19.2479 21.5533 20.2364C21.5533 21.2249 21.1611 22.1731 20.4619 22.8724C19.9415 23.3927 19.2825 23.7431 18.5714 23.8877V25.4547C18.5714 26.2777 17.9034 26.9457 17.0804 26.9457C16.2574 26.9457 15.5895 26.2777 15.5895 25.4547V23.9638H14.0985C13.2755 23.9638 12.6076 23.2958 12.6076 22.4728C12.6076 21.6498 13.2755 20.9819 14.0985 20.9819H17.8259C18.0242 20.9819 18.2135 20.9029 18.3537 20.7642C18.4923 20.624 18.5714 20.4347 18.5714 20.2364C18.5714 20.0381 18.4923 19.8487 18.3537 19.7086C18.2135 19.5699 18.0242 19.4909 17.8259 19.4909C17.3383 19.4909 16.8225 19.4909 16.3349 19.4909C15.3464 19.4909 14.3982 19.0988 13.6989 18.3995C12.9997 17.7003 12.6076 16.752 12.6076 15.7635C12.6076 14.775 12.9997 13.8268 13.6989 13.1275C14.2193 12.6072 14.8783 12.2568 15.5895 12.1122Z" fill="#FF6B16"/>
        </svg>            
      </h2>
      <ul>
        <li>
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 3L4.5 8.5L2 6" stroke="#008061" stroke-width="1.3125" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <p>Extended convenience for uncertain service duration.</p>
        </li>
        <li>
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 3L4.5 8.5L2 6" stroke="#008061" stroke-width="1.3125" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <p>Flexibility in payments.</p>
        </li>
        <li>
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 3L4.5 8.5L2 6" stroke="#008061" stroke-width="1.3125" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <p>High-speed connectivity without a large upfront payment.</p>
        </li>
      </ul>

      <a href="/pages/flexpay" target="_blank" class="plans-read-more">Read more</a>
    </div>
 

      <div class="list list-0">
      <h2 class="list-title">
        <span>One-Payment: No Monthly Modem Rental Fees</span>
        <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.7773 6.36035C16.6143 4.5603 19.1301 3.45044 21.9052 3.45044C27.53 3.45044 32.0898 8.01028 32.0898 13.6351C32.0898 16.4102 30.98 18.9261 29.1799 20.763M23.3601 22.3649C23.3601 27.9897 18.8003 32.5496 13.1754 32.5496C7.55056 32.5496 2.99072 27.9897 2.99072 22.3649C2.99072 16.74 7.55056 12.1802 13.1754 12.1802C18.8003 12.1802 23.3601 16.74 23.3601 22.3649Z" stroke="#106594" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </h2>
      <ul>
        <li>
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 3L4.5 8.5L2 6" stroke="#008061" stroke-width="1.3125" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <p>Small one-time fee for modem rental.</p>
        </li>
        <li>
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 3L4.5 8.5L2 6" stroke="#008061" stroke-width="1.3125" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <p>Coverage for the duration of your service.</p>
        </li>
        <li>
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 3L4.5 8.5L2 6" stroke="#008061" stroke-width="1.3125" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <p>Convenient access for the entire service period.</p>
        </li>
      </ul>
    </div>
 </div>
</div>