<div class="hidden-popup modem-popup">
  <div class="close-btn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none">
      <path
        d="M30 10L10 30M10 10L30 30"
        stroke="#4D5166"
        stroke-width="2.66667"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <div class="title">
    <h2>Which Modem is right for you?</h2>
  </div>
  <div class="list-main">

    <div class="list">
      <span class="badge badge-transparent"></span>
      <h2 class="list-title">Nomad Omen Wireless Modem</h2>
      <ul>
        <li>
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.77168 12.1667C7.14172 13.6043 8.4468 14.6667 10 14.6667C11.5532 14.6667 12.8583 13.6043 13.2283 12.1667M9.18141 2.80333L3.52949 7.19927C3.15168 7.49312 2.96278 7.64005 2.82669 7.82405C2.70614 7.98704 2.61633 8.17065 2.56169 8.36588C2.5 8.58627 2.5 8.82558 2.5 9.30421V15.3333C2.5 16.2667 2.5 16.7335 2.68166 17.09C2.84144 17.4036 3.09641 17.6585 3.41002 17.8183C3.76654 18 4.23325 18 5.16667 18H14.8333C15.7668 18 16.2335 18 16.59 17.8183C16.9036 17.6585 17.1586 17.4036 17.3183 17.09C17.5 16.7335 17.5 16.2667 17.5 15.3333V9.30421C17.5 8.82558 17.5 8.58627 17.4383 8.36588C17.3837 8.17065 17.2939 7.98704 17.1733 7.82405C17.0372 7.64005 16.8483 7.49312 16.4705 7.19927L10.8186 2.80333C10.5258 2.57562 10.3794 2.46177 10.2178 2.418C10.0752 2.37938 9.92484 2.37938 9.78221 2.418C9.62057 2.46177 9.47418 2.57562 9.18141 2.80333Z"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Made for Home Use</p>
        </li>
        <li>
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.91666 15.5L11.25 10.5H6.24999L9.58332 5.5M18.3333 11.3333V9.66667M11.6667 15.5H11.8333C13.2335 15.5 13.9335 15.5 14.4683 15.2275C14.9387 14.9878 15.3212 14.6054 15.5608 14.135C15.8333 13.6002 15.8333 12.9001 15.8333 11.5V8.83333C15.8333 8.05836 15.8333 7.67087 15.7481 7.35295C15.517 6.49022 14.8431 5.81635 13.9804 5.58519C13.6625 5.5 13.275 5.5 12.5 5.5M5.83332 5.5H5.66666C4.26653 5.5 3.56646 5.5 3.03168 5.77248C2.56128 6.01217 2.17882 6.39462 1.93914 6.86502C1.66666 7.3998 1.66666 8.09987 1.66666 9.5V12.1667C1.66666 12.9416 1.66666 13.3291 1.75184 13.647C1.98301 14.5098 2.65688 15.1836 3.51961 15.4148C3.83753 15.5 4.22501 15.5 4.99999 15.5"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Compatible with Standard Power Outlet</p>
        </li>
        <li>
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.8333 6.74999L8.33334 9.24999L11.6667 10.9167L9.16668 13.4167M16.6667 10.5C16.6667 14.5904 12.205 17.5653 10.5817 18.5124C10.3972 18.62 10.3049 18.6738 10.1747 18.7018C10.0737 18.7234 9.92631 18.7234 9.82528 18.7018C9.69509 18.6738 9.60284 18.62 9.41835 18.5124C7.79498 17.5653 3.33334 14.5904 3.33334 10.5V6.51466C3.33334 5.8484 3.33334 5.51527 3.44231 5.22891C3.53857 4.97594 3.695 4.75023 3.89806 4.57127C4.12792 4.36869 4.43984 4.25172 5.06368 4.01778L9.53185 2.34222C9.70509 2.27725 9.79171 2.24477 9.88083 2.23189C9.95987 2.22047 10.0401 2.22047 10.1192 2.23189C10.2083 2.24477 10.2949 2.27725 10.4682 2.34222L14.9363 4.01778C15.5602 4.25172 15.8721 4.36869 16.102 4.57127C16.305 4.75023 16.4614 4.97594 16.5577 5.22891C16.6667 5.51527 16.6667 5.8484 16.6667 6.51466V10.5Z"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Built-in Advance Network Security</p>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none">
            <path
              d="M12.5007 1.66602V2.83268C12.5007 3.29939 12.5007 3.53275 12.4098 3.71101C12.3299 3.86781 12.2024 3.99529 12.0456 4.07519C11.8674 4.16602 11.634 4.16602 11.1673 4.16602H8.83398C8.36727 4.16602 8.13392 4.16602 7.95566 4.07519C7.79886 3.99529 7.67137 3.86781 7.59148 3.71101C7.50065 3.53275 7.50065 3.29939 7.50065 2.83268V1.66602M6.00065 18.3327H14.0007C14.9341 18.3327 15.4008 18.3327 15.7573 18.151C16.0709 17.9912 16.3259 17.7363 16.4857 17.4227C16.6673 17.0661 16.6673 16.5994 16.6673 15.666V4.33268C16.6673 3.39926 16.6673 2.93255 16.4857 2.57603C16.3259 2.26243 16.0709 2.00746 15.7573 1.84767C15.4008 1.66602 14.9341 1.66602 14.0007 1.66602H6.00065C5.06723 1.66602 4.60052 1.66602 4.244 1.84767C3.9304 2.00746 3.67543 2.26243 3.51564 2.57603C3.33398 2.93255 3.33398 3.39926 3.33398 4.33268V15.666C3.33398 16.5994 3.33398 17.0661 3.51564 17.4227C3.67543 17.7363 3.9304 17.9912 4.244 18.151C4.60052 18.3327 5.06723 18.3327 6.00065 18.3327Z"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Connects up to 30 Devices</p>
        </li>
      </ul>
    </div>


    <div class="list">
      <span class="badge">Popular</span>
      <h2 class="list-title">Nomad Air Wireless Modem</h2>
      <ul>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none">
            <path
              d="M7.08333 15.8327V17.666C7.08333 17.8994 7.08333 18.016 7.03792 18.1052C6.99797 18.1836 6.93423 18.2473 6.85583 18.2873C6.7667 18.3327 6.65002 18.3327 6.41667 18.3327H4.83333C4.59998 18.3327 4.4833 18.3327 4.39417 18.2873C4.31577 18.2473 4.25203 18.1836 4.21208 18.1052C4.16667 18.016 4.16667 17.8994 4.16667 17.666V15.8327M15.8333 15.8327V17.666C15.8333 17.8994 15.8333 18.016 15.7879 18.1052C15.748 18.1836 15.6842 18.2473 15.6058 18.2873C15.5167 18.3327 15.4 18.3327 15.1667 18.3327H13.5833C13.35 18.3327 13.2333 18.3327 13.1442 18.2873C13.0658 18.2473 13.002 18.1836 12.9621 18.1052C12.9167 18.016 12.9167 17.8994 12.9167 17.666V15.8327M2.5 9.99935H17.5M2.5 4.58268H17.5M5.41667 12.916H6.66667M13.3333 12.916H14.5833M6.5 15.8327H13.5C14.9001 15.8327 15.6002 15.8327 16.135 15.5602C16.6054 15.3205 16.9878 14.9381 17.2275 14.4677C17.5 13.9329 17.5 13.2328 17.5 11.8327V5.66602C17.5 4.26588 17.5 3.56582 17.2275 3.03104C16.9878 2.56063 16.6054 2.17818 16.135 1.9385C15.6002 1.66602 14.9001 1.66602 13.5 1.66602H6.5C5.09987 1.66602 4.3998 1.66602 3.86502 1.9385C3.39462 2.17818 3.01217 2.56063 2.77248 3.03104C2.5 3.56582 2.5 4.26588 2.5 5.66602V11.8327C2.5 13.2328 2.5 13.9329 2.77248 14.4677C3.01217 14.9381 3.39462 15.3205 3.86502 15.5602C4.3998 15.8327 5.09987 15.8327 6.5 15.8327Z"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Made for Traveling</p>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none">
            <path
              d="M7.91602 15L11.2493 10H6.24935L9.58268 5M18.3327 10.8333V9.16667M11.666 15H11.8327C13.2328 15 13.9329 15 14.4677 14.7275C14.9381 14.4878 15.3205 14.1054 15.5602 13.635C15.8327 13.1002 15.8327 12.4001 15.8327 11V8.33333C15.8327 7.55836 15.8327 7.17087 15.7475 6.85295C15.5163 5.99022 14.8425 5.31635 13.9797 5.08519C13.6618 5 13.2743 5 12.4993 5M5.83268 5H5.66602C4.26588 5 3.56582 5 3.03104 5.27248C2.56063 5.51217 2.17818 5.89462 1.9385 6.36502C1.66602 6.8998 1.66602 7.59987 1.66602 9V11.6667C1.66602 12.4416 1.66602 12.8291 1.7512 13.147C1.98237 14.0098 2.65624 14.6836 3.51897 14.9148C3.83688 15 4.22437 15 4.99935 15"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Compatible with External Battery & Standard Power Outlet</p>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none">
            <path
              d="M10.834 6.24932L8.33398 8.74932L11.6673 10.416L9.16732 12.916M16.6673 9.99932C16.6673 14.0897 12.2057 17.0647 10.5823 18.0117C10.3978 18.1194 10.3056 18.1732 10.1754 18.2011C10.0744 18.2228 9.92695 18.2228 9.82592 18.2011C9.69573 18.1732 9.60349 18.1194 9.41899 18.0117C7.79562 17.0647 3.33398 14.0897 3.33398 9.99932V6.01399C3.33398 5.34773 3.33398 5.0146 3.44295 4.72824C3.53921 4.47527 3.69564 4.24955 3.8987 4.0706C4.12856 3.86802 4.44048 3.75105 5.06432 3.51711L9.53249 1.84155C9.70573 1.77658 9.79236 1.7441 9.88147 1.73122C9.96051 1.7198 10.0408 1.7198 10.1198 1.73122C10.2089 1.7441 10.2956 1.77658 10.4688 1.84155L14.937 3.51711C15.5608 3.75105 15.8727 3.86802 16.1026 4.0706C16.3057 4.24955 16.4621 4.47527 16.5584 4.72824C16.6673 5.0146 16.6673 5.34773 16.6673 6.01399V9.99932Z"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Built-in Advance Network Security</p>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none">
            <path
              d="M12.5007 1.66602V2.83268C12.5007 3.29939 12.5007 3.53275 12.4098 3.71101C12.3299 3.86781 12.2024 3.99529 12.0456 4.07519C11.8674 4.16602 11.634 4.16602 11.1673 4.16602H8.83398C8.36727 4.16602 8.13392 4.16602 7.95566 4.07519C7.79886 3.99529 7.67137 3.86781 7.59148 3.71101C7.50065 3.53275 7.50065 3.29939 7.50065 2.83268V1.66602M6.00065 18.3327H14.0007C14.9341 18.3327 15.4008 18.3327 15.7573 18.151C16.0709 17.9912 16.3259 17.7363 16.4857 17.4227C16.6673 17.0661 16.6673 16.5994 16.6673 15.666V4.33268C16.6673 3.39926 16.6673 2.93255 16.4857 2.57603C16.3259 2.26243 16.0709 2.00746 15.7573 1.84767C15.4008 1.66602 14.9341 1.66602 14.0007 1.66602H6.00065C5.06723 1.66602 4.60052 1.66602 4.244 1.84767C3.9304 2.00746 3.67543 2.26243 3.51564 2.57603C3.33398 2.93255 3.33398 3.39926 3.33398 4.33268V15.666C3.33398 16.5994 3.33398 17.0661 3.51564 17.4227C3.67543 17.7363 3.9304 17.9912 4.244 18.151C4.60052 18.3327 5.06723 18.3327 6.00065 18.3327Z"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Connects up to 30 Devices</p>
        </li>
      </ul>
    </div>

    <div class="list">
      <span class="badge">Turbo</span>
      <h2 class="list-title">Nomad Raptor Wireless Modem</h2>
      <ul>
        <li>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M4.9993 9.16602H8.33263M6.66597 7.49935V10.8327M12.4993 9.99935H12.5076M14.9993 8.33268H15.0076M8.70676 4.16602H11.2918C13.4792 4.16602 14.5729 4.16602 15.4314 4.58054C16.1873 4.94551 16.8153 5.53025 17.2332 6.25818C17.7078 7.08493 17.7857 8.17585 17.9416 10.3577L18.1466 13.2281C18.2471 14.6355 17.1324 15.8327 15.7214 15.8327C14.9998 15.8327 14.3155 15.5122 13.8536 14.9578L13.541 14.5827C13.255 14.2395 13.112 14.0679 12.9492 13.9293C12.6079 13.6387 12.1947 13.4451 11.7529 13.369C11.5422 13.3327 11.3189 13.3327 10.8722 13.3327H9.12643C8.67974 13.3327 8.4564 13.3327 8.24566 13.369C7.80388 13.4451 7.3907 13.6387 7.04939 13.9293C6.88658 14.0679 6.7436 14.2395 6.45763 14.5827L6.145 14.9578C5.68305 15.5122 4.99876 15.8327 4.27718 15.8327C2.86616 15.8327 1.75148 14.6355 1.85201 13.2281L2.05704 10.3577C2.21288 8.17585 2.29081 7.08493 2.76544 6.25818C3.18334 5.53025 3.81134 4.94551 4.56718 4.58054C5.42565 4.16602 6.51935 4.16602 8.70676 4.16602Z"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Made for Business & Gaming</p>
        </li>
        <li>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.91602 15L11.2493 10H6.24935L9.58268 5M18.3327 10.8333V9.16667M11.666 15H11.8327C13.2328 15 13.9329 15 14.4677 14.7275C14.9381 14.4878 15.3205 14.1054 15.5602 13.635C15.8327 13.1002 15.8327 12.4001 15.8327 11V8.33333C15.8327 7.55836 15.8327 7.17087 15.7475 6.85295C15.5163 5.99022 14.8425 5.31635 13.9797 5.08519C13.6618 5 13.2743 5 12.4993 5M5.83268 5H5.66602C4.26588 5 3.56582 5 3.03104 5.27248C2.56063 5.51217 2.17818 5.89462 1.9385 6.36502C1.66602 6.8998 1.66602 7.59987 1.66602 9V11.6667C1.66602 12.4416 1.66602 12.8291 1.7512 13.147C1.98237 14.0098 2.65624 14.6836 3.51897 14.9148C3.83688 15 4.22437 15 4.99935 15"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Compatible with Standard Power Outlet</p>
        </li>
        <li>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.834 6.24932L8.33398 8.74932L11.6673 10.416L9.16732 12.916M16.6673 9.99932C16.6673 14.0897 12.2057 17.0647 10.5823 18.0117C10.3978 18.1194 10.3056 18.1732 10.1754 18.2011C10.0744 18.2228 9.92695 18.2228 9.82592 18.2011C9.69573 18.1732 9.60349 18.1194 9.41899 18.0117C7.79562 17.0647 3.33398 14.0897 3.33398 9.99932V6.01399C3.33398 5.34773 3.33398 5.0146 3.44295 4.72824C3.53921 4.47527 3.69564 4.24955 3.8987 4.0706C4.12856 3.86802 4.44048 3.75105 5.06432 3.51711L9.53249 1.84155C9.70573 1.77658 9.79236 1.7441 9.88147 1.73122C9.96051 1.7198 10.0408 1.7198 10.1198 1.73122C10.2089 1.7441 10.2956 1.77658 10.4688 1.84155L14.937 3.51711C15.5608 3.75105 15.8727 3.86802 16.1026 4.0706C16.3057 4.24955 16.4621 4.47527 16.5584 4.72824C16.6673 5.0146 16.6673 5.34773 16.6673 6.01399V9.99932Z"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Built-in Advance Network Security</p>
        </li>
        <li>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.5007 1.66602V2.83268C12.5007 3.29939 12.5007 3.53275 12.4098 3.71101C12.3299 3.86781 12.2024 3.99529 12.0456 4.07519C11.8674 4.16602 11.634 4.16602 11.1673 4.16602H8.83398C8.36727 4.16602 8.13392 4.16602 7.95566 4.07519C7.79886 3.99529 7.67137 3.86781 7.59148 3.71101C7.50065 3.53275 7.50065 3.29939 7.50065 2.83268V1.66602M6.00065 18.3327H14.0007C14.9341 18.3327 15.4008 18.3327 15.7573 18.151C16.0709 17.9912 16.3259 17.7363 16.4857 17.4227C16.6673 17.0661 16.6673 16.5994 16.6673 15.666V4.33268C16.6673 3.39926 16.6673 2.93255 16.4857 2.57603C16.3259 2.26243 16.0709 2.00746 15.7573 1.84767C15.4008 1.66602 14.9341 1.66602 14.0007 1.66602H6.00065C5.06723 1.66602 4.60052 1.66602 4.244 1.84767C3.9304 2.00746 3.67543 2.26243 3.51564 2.57603C3.33398 2.93255 3.33398 3.39926 3.33398 4.33268V15.666C3.33398 16.5994 3.33398 17.0661 3.51564 17.4227C3.67543 17.7363 3.9304 17.9912 4.244 18.151C4.60052 18.3327 5.06723 18.3327 6.00065 18.3327Z"
              stroke="#008061"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Connects up to 128 Devices</p>
        </li>
      </ul>
    </div>

  {%- comment -%}
    <div class="list" style="padding:46px 10px 16px 20px;">
    <h2 class="list-title">Nomad Omega Wireless Modem</h2>
    <ul>
    <li>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M6.77168 11.6663C7.14172 13.104 8.4468 14.1663 10 14.1663C11.5532 14.1663 12.8583 13.104 13.2283 11.6663M9.18141 2.30297L3.52949 6.6989C3.15168 6.99275 2.96278 7.13968 2.82669 7.32368C2.70614 7.48667 2.61633 7.67029 2.56169 7.86551C2.5 8.0859 2.5 8.32521 2.5 8.80384V14.833C2.5 15.7664 2.5 16.2331 2.68166 16.5896C2.84144 16.9032 3.09641 17.1582 3.41002 17.318C3.76654 17.4996 4.23325 17.4996 5.16667 17.4996H14.8333C15.7668 17.4996 16.2335 17.4996 16.59 17.318C16.9036 17.1582 17.1586 16.9032 17.3183 16.5896C17.5 16.2331 17.5 15.7664 17.5 14.833V8.80384C17.5 8.32521 17.5 8.0859 17.4383 7.86551C17.3837 7.67029 17.2939 7.48667 17.1733 7.32368C17.0372 7.13968 16.8483 6.99275 16.4705 6.69891L10.8186 2.30297C10.5258 2.07526 10.3794 1.9614 10.2178 1.91763C10.0752 1.87902 9.92484 1.87902 9.78221 1.91763C9.62057 1.9614 9.47418 2.07526 9.18141 2.30297Z" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <p>Made for Home Use</p>
    </li>
    <li>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M7.91602 15L11.2493 10H6.24935L9.58268 5M18.3327 10.8333V9.16667M11.666 15H11.8327C13.2328 15 13.9329 15 14.4677 14.7275C14.9381 14.4878 15.3205 14.1054 15.5602 13.635C15.8327 13.1002 15.8327 12.4001 15.8327 11V8.33333C15.8327 7.55836 15.8327 7.17087 15.7475 6.85295C15.5163 5.99022 14.8425 5.31635 13.9797 5.08519C13.6618 5 13.2743 5 12.4993 5M5.83268 5H5.66602C4.26588 5 3.56582 5 3.03104 5.27248C2.56063 5.51217 2.17818 5.89462 1.9385 6.36502C1.66602 6.8998 1.66602 7.59987 1.66602 9V11.6667C1.66602 12.4416 1.66602 12.8291 1.7512 13.147C1.98237 14.0098 2.65624 14.6836 3.51897 14.9148C3.83688 15 4.22437 15 4.99935 15" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <p>Compatible /w Standard Power Outlet</p>
    </li>
    <li>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M10.834 6.24932L8.33398 8.74932L11.6673 10.416L9.16732 12.916M16.6673 9.99932C16.6673 14.0897 12.2057 17.0647 10.5823 18.0117C10.3978 18.1194 10.3056 18.1732 10.1754 18.2011C10.0744 18.2228 9.92695 18.2228 9.82592 18.2011C9.69573 18.1732 9.60349 18.1194 9.41899 18.0117C7.79562 17.0647 3.33398 14.0897 3.33398 9.99932V6.01399C3.33398 5.34773 3.33398 5.0146 3.44295 4.72824C3.53921 4.47527 3.69564 4.24955 3.8987 4.0706C4.12856 3.86802 4.44048 3.75105 5.06432 3.51711L9.53249 1.84155C9.70573 1.77658 9.79236 1.7441 9.88147 1.73122C9.96051 1.7198 10.0408 1.7198 10.1198 1.73122C10.2089 1.7441 10.2956 1.77658 10.4688 1.84155L14.937 3.51711C15.5608 3.75105 15.8727 3.86802 16.1026 4.0706C16.3057 4.24955 16.4621 4.47527 16.5584 4.72824C16.6673 5.0146 16.6673 5.34773 16.6673 6.01399V9.99932Z" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <p>Built-in Advance Network Security</p>
    </li>
    <li>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M12.5007 1.66602V2.83268C12.5007 3.29939 12.5007 3.53275 12.4098 3.71101C12.3299 3.86781 12.2024 3.99529 12.0456 4.07519C11.8674 4.16602 11.634 4.16602 11.1673 4.16602H8.83398C8.36727 4.16602 8.13392 4.16602 7.95566 4.07519C7.79886 3.99529 7.67137 3.86781 7.59148 3.71101C7.50065 3.53275 7.50065 3.29939 7.50065 2.83268V1.66602M6.00065 18.3327H14.0007C14.9341 18.3327 15.4008 18.3327 15.7573 18.151C16.0709 17.9912 16.3259 17.7363 16.4857 17.4227C16.6673 17.0661 16.6673 16.5994 16.6673 15.666V4.33268C16.6673 3.39926 16.6673 2.93255 16.4857 2.57603C16.3259 2.26243 16.0709 2.00746 15.7573 1.84767C15.4008 1.66602 14.9341 1.66602 14.0007 1.66602H6.00065C5.06723 1.66602 4.60052 1.66602 4.244 1.84767C3.9304 2.00746 3.67543 2.26243 3.51564 2.57603C3.33398 2.93255 3.33398 3.39926 3.33398 4.33268V15.666C3.33398 16.5994 3.33398 17.0661 3.51564 17.4227C3.67543 17.7363 3.9304 17.9912 4.244 18.151C4.60052 18.3327 5.06723 18.3327 6.00065 18.3327Z" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <p>Connects up to 20 Devices</p>
    </li>
    </ul>
    </div>
  {%- endcomment -%}

  </div>
</div>