  <div class="hidden-popup main-info-popup">
      <div class="close-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
        <path d="M30 10L10 30M10 10L30 30" stroke="#4D5166" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="title">
        <h2>One Simple Upfront Fee for a Lifetime of Savings!</h2>
      </div>
        <ul>
          <li><b>Pay Once, Save Forever:</b> A small one-time fee covers your modem rental for as long as you want service. Say goodbye to those annoying monthly rental fees that other companies charge</li>
          <li><b>All-Inclusive:</b> This single payment takes care of everything —setup, admin, and unlimited tech support. You're not just renting a modem; you're investing in hassle-free rural Internet service.</li>
          <li><b>Easy Exit:</b> Ready to move on? Simply send back the modem, no strings attached</li>
        </ul>
    </div>