<div class="hidden-popup verify-success" js-verify-success>
  <div class="close-btn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none">
      <path
        d="M30 10L10 30M10 10L30 30"
        stroke="#4D5166"
        stroke-width="2.66667"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <div class="verify-icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="99"
      height="100"
      viewBox="0 0 99 100"
      fill="none">
      <path
        d="M28.8753 49.9993L42.6253 63.7493L70.1253 36.2493M95.3337 49.9993C95.3337 75.3124 74.8134 95.8327 49.5003 95.8327C24.1873 95.8327 3.66699 75.3124 3.66699 49.9993C3.66699 24.6863 24.1873 4.16602 49.5003 4.16602C74.8134 4.16602 95.3337 24.6863 95.3337 49.9993Z"
        stroke="#008061"
        stroke-width="6.6"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <div class="title">
    <h2>Congratulations, Nomad Internet is Available in Your Area.</h2>
  </div>
  <div class="content">
    <p class="verify-description" style="text-align: center;">
      Great news! You can now select the modem that best suits your needs. Feel free to customize your order before proceeding to checkout.
    </p>
    <button class="btn btn-primary verify-close" js-verify-close>Customise Order</button>
  </div>
</div>