    <div class="hidden-popup plan-popup monthly-popup">
      <div class="close-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
<path d="M30 10L10 30M10 10L30 30" stroke="#4D5166" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
      </div>
      <div class="title">
        <h2>Which internet plan is right for you?</h2>
      </div>
      <div class="list-main">
        
        <div class="list" style="padding:46px 10px 16px 20px;">
          <h2 class="list-title">Nomad Unlimited Plan</h2>
          <ul>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M9.99967 16.25H10.008M19.005 7.25063C16.6326 5.07666 13.471 3.75 9.99958 3.75C6.52813 3.75 3.36653 5.07666 0.994141 7.25063M3.94295 10.2025C5.55805 8.77971 7.67807 7.91667 9.99965 7.91667C12.3212 7.91667 14.4413 8.77971 16.0564 10.2025M13.0816 13.1459C12.2324 12.4802 11.1623 12.0833 9.99958 12.0833C8.81925 12.0833 7.73444 12.4923 6.87915 13.1763" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p>High-speed download up to <span style="font-weight:bold;color:#004736;">100Mbps</span></p>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M14.166 17.5L9.99935 14.1667L5.83268 17.5M5.66602 14.1667H14.3327C15.7328 14.1667 16.4329 14.1667 16.9677 13.8942C17.4381 13.6545 17.8205 13.272 18.0602 12.8016C18.3327 12.2669 18.3327 11.5668 18.3327 10.1667V6.5C18.3327 5.09987 18.3327 4.3998 18.0602 3.86502C17.8205 3.39462 17.4381 3.01217 16.9677 2.77248C16.4329 2.5 15.7328 2.5 14.3327 2.5H5.66602C4.26588 2.5 3.56582 2.5 3.03104 2.77248C2.56063 3.01217 2.17818 3.39462 1.9385 3.86502C1.66602 4.3998 1.66602 5.09987 1.66602 6.5V10.1667C1.66602 11.5668 1.66602 12.2669 1.9385 12.8016C2.17818 13.272 2.56063 13.6545 3.03104 13.8942C3.56582 14.1667 4.26588 14.1667 5.66602 14.1667Z" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p>1080p HD video streaming</p>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M4.9993 9.16602H8.33263M6.66597 7.49935V10.8327M12.4993 9.99935H12.5076M14.9993 8.33268H15.0076M8.70676 4.16602H11.2918C13.4792 4.16602 14.5729 4.16602 15.4314 4.58054C16.1873 4.94551 16.8153 5.53025 17.2332 6.25818C17.7078 7.08493 17.7857 8.17585 17.9416 10.3577L18.1466 13.2281C18.2471 14.6355 17.1324 15.8327 15.7214 15.8327C14.9998 15.8327 14.3155 15.5122 13.8536 14.9578L13.541 14.5827C13.255 14.2395 13.112 14.0679 12.9492 13.9293C12.6079 13.6387 12.1947 13.4451 11.7529 13.369C11.5422 13.3327 11.3189 13.3327 10.8722 13.3327H9.12643C8.67974 13.3327 8.4564 13.3327 8.24566 13.369C7.80388 13.4451 7.3907 13.6387 7.04939 13.9293C6.88658 14.0679 6.7436 14.2395 6.45763 14.5827L6.145 14.9578C5.68305 15.5122 4.99876 15.8327 4.27718 15.8327C2.86616 15.8327 1.75148 14.6355 1.85201 13.2281L2.05704 10.3577C2.21288 8.17585 2.29081 7.08493 2.76544 6.25818C3.18334 5.53025 3.81134 4.94551 4.56718 4.58054C5.42565 4.16602 6.51935 4.16602 8.70676 4.16602Z" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p>Good gaming latency</p>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M11.6654 9.16602H6.66536M8.33203 12.4993H6.66536M13.332 5.83268H6.66536M16.6654 9.99935V5.66602C16.6654 4.26588 16.6654 3.56582 16.3929 3.03104C16.1532 2.56063 15.7707 2.17818 15.3003 1.9385C14.7656 1.66602 14.0655 1.66602 12.6654 1.66602H7.33203C5.9319 1.66602 5.23183 1.66602 4.69706 1.9385C4.22665 2.17818 3.8442 2.56063 3.60451 3.03104C3.33203 3.56582 3.33203 4.26588 3.33203 5.66602V14.3327C3.33203 15.7328 3.33203 16.4329 3.60451 16.9677C3.8442 17.4381 4.22665 17.8205 4.69706 18.0602C5.23183 18.3327 5.9319 18.3327 7.33203 18.3327H9.9987M13.332 13.3327L17.4987 17.4993M17.4987 13.3327L13.332 17.4993" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p>No contract, no credit check</p>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M8.82084 11.1779C8.16996 10.527 8.16996 9.47171 8.82084 8.82084C9.47171 8.16996 10.527 8.16996 11.1779 8.82084C11.8287 9.47171 11.8287 10.527 11.1779 11.1779M6.46382 13.5349C4.51119 11.5823 4.51119 8.41644 6.46382 6.46381C8.41644 4.51119 11.5823 4.51119 13.5349 6.46381C15.4875 8.41644 15.4875 11.5823 13.5349 13.5349M4.10679 15.8919C0.852424 12.6375 0.852423 7.36116 4.10679 4.10679C7.36116 0.852423 12.6375 0.852423 15.8919 4.10679C19.1463 7.36116 19.1463 12.6375 15.8919 15.8919" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p>Unlimited & unthrottled</p>
            </li>
          </ul>
        </div>

  <div class="list">
          <span class="badge">Popular</span>
          <h2 class="list-title">Nomad Unlimited Ultra Plan</h2>
          <ul>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M9.99967 16.25H10.008M19.005 7.25063C16.6326 5.07666 13.471 3.75 9.99958 3.75C6.52813 3.75 3.36653 5.07666 0.994141 7.25063M3.94295 10.2025C5.55805 8.77971 7.67807 7.91667 9.99965 7.91667C12.3212 7.91667 14.4413 8.77971 16.0564 10.2025M13.0816 13.1459C12.2324 12.4802 11.1623 12.0833 9.99958 12.0833C8.81925 12.0833 7.73444 12.4923 6.87915 13.1763" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p>High-speed download up to <span style="font-weight:bold;color:#004736;">200Mbps</span></p>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M14.166 17.5L9.99935 14.1667L5.83268 17.5M5.66602 14.1667H14.3327C15.7328 14.1667 16.4329 14.1667 16.9677 13.8942C17.4381 13.6545 17.8205 13.272 18.0602 12.8016C18.3327 12.2669 18.3327 11.5668 18.3327 10.1667V6.5C18.3327 5.09987 18.3327 4.3998 18.0602 3.86502C17.8205 3.39462 17.4381 3.01217 16.9677 2.77248C16.4329 2.5 15.7328 2.5 14.3327 2.5H5.66602C4.26588 2.5 3.56582 2.5 3.03104 2.77248C2.56063 3.01217 2.17818 3.39462 1.9385 3.86502C1.66602 4.3998 1.66602 5.09987 1.66602 6.5V10.1667C1.66602 11.5668 1.66602 12.2669 1.9385 12.8016C2.17818 13.272 2.56063 13.6545 3.03104 13.8942C3.56582 14.1667 4.26588 14.1667 5.66602 14.1667Z" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p>Ultra HD 4k video streaming</p>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M4.9993 9.16602H8.33263M6.66597 7.49935V10.8327M12.4993 9.99935H12.5076M14.9993 8.33268H15.0076M8.70676 4.16602H11.2918C13.4792 4.16602 14.5729 4.16602 15.4314 4.58054C16.1873 4.94551 16.8153 5.53025 17.2332 6.25818C17.7078 7.08493 17.7857 8.17585 17.9416 10.3577L18.1466 13.2281C18.2471 14.6355 17.1324 15.8327 15.7214 15.8327C14.9998 15.8327 14.3155 15.5122 13.8536 14.9578L13.541 14.5827C13.255 14.2395 13.112 14.0679 12.9492 13.9293C12.6079 13.6387 12.1947 13.4451 11.7529 13.369C11.5422 13.3327 11.3189 13.3327 10.8722 13.3327H9.12643C8.67974 13.3327 8.4564 13.3327 8.24566 13.369C7.80388 13.4451 7.3907 13.6387 7.04939 13.9293C6.88658 14.0679 6.7436 14.2395 6.45763 14.5827L6.145 14.9578C5.68305 15.5122 4.99876 15.8327 4.27718 15.8327C2.86616 15.8327 1.75148 14.6355 1.85201 13.2281L2.05704 10.3577C2.21288 8.17585 2.29081 7.08493 2.76544 6.25818C3.18334 5.53025 3.81134 4.94551 4.56718 4.58054C5.42565 4.16602 6.51935 4.16602 8.70676 4.16602Z" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p>Excellent gaming latency</p>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M11.6654 9.16602H6.66536M8.33203 12.4993H6.66536M13.332 5.83268H6.66536M16.6654 9.99935V5.66602C16.6654 4.26588 16.6654 3.56582 16.3929 3.03104C16.1532 2.56063 15.7707 2.17818 15.3003 1.9385C14.7656 1.66602 14.0655 1.66602 12.6654 1.66602H7.33203C5.9319 1.66602 5.23183 1.66602 4.69706 1.9385C4.22665 2.17818 3.8442 2.56063 3.60451 3.03104C3.33203 3.56582 3.33203 4.26588 3.33203 5.66602V14.3327C3.33203 15.7328 3.33203 16.4329 3.60451 16.9677C3.8442 17.4381 4.22665 17.8205 4.69706 18.0602C5.23183 18.3327 5.9319 18.3327 7.33203 18.3327H9.9987M13.332 13.3327L17.4987 17.4993M17.4987 13.3327L13.332 17.4993" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p>No contract, no credit check</p>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M8.82084 11.1779C8.16996 10.527 8.16996 9.47171 8.82084 8.82084C9.47171 8.16996 10.527 8.16996 11.1779 8.82084C11.8287 9.47171 11.8287 10.527 11.1779 11.1779M6.46382 13.5349C4.51119 11.5823 4.51119 8.41644 6.46382 6.46381C8.41644 4.51119 11.5823 4.51119 13.5349 6.46381C15.4875 8.41644 15.4875 11.5823 13.5349 13.5349M4.10679 15.8919C0.852424 12.6375 0.852423 7.36116 4.10679 4.10679C7.36116 0.852423 12.6375 0.852423 15.8919 4.10679C19.1463 7.36116 19.1463 12.6375 15.8919 15.8919" stroke="#008061" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p>Unlimited & unthrottled</p>
            </li>
          </ul>
        </div>
      </div>
    </div>