<!-- Summary Section Start -->
	<section class="summary-section">
		<div class="container">
			<div class="section-title">
				<h2>Summary</h2>
				<a href="/pages/configuration" class="edit_order">Edit Order</a>
			</div>
			<div class="summary-details">
				<div class="left-content">
					<div class="title">
						<h2>Estimated monthly charges</h2>
					</div>
					<ul class="price-list">
						<li class="selected_plan">
							<span class="plan_title">Nomad Rural Unlimited 100Mbps Internet Plan</span>
							<span class="price plan_price">$99.95</span>
						</li>
						<li class="addon_1">
							<span class="addon_title">Nomad Prime Upgrade</span>
							<span class="price addon_price">$19.95</span>
						</li>
						<li class="addon_2">
							<span class="addon_title">Nomad Travel Upgrade</span>
							<span class="price addon_price">$19.95</span>
						</li>
                        {% comment %}
                        <li class="fon_referral_discount" style="display:none;">
							<span class="fon_referral_discount_title">15% OFF from <span class="fon_friend_name">[friend's Name]</span></span>
							<span class="price fon_referral_discount_price" data-price="">- $00.00</span>
						</li>
                        {% endcomment %}
						<li class="last nomad_friends">
							<span class="nomad_friend_count">5 Nomad Friends</span>
							<span class="price nomad_discount" data-price="50.00">- $50.00</span>
						</li>
                        
					</ul>
					<div class="total-price">
						<h3>
							<span>Total:</span>
							<p class="monthly_total">$79.95</p>
						</h3>
					</div>
				</div>
				<div class="right-content">
					<div class="title">
						<h2>Estimated initial payment</h2>
					</div>
					<ul class="price-list">
						<li>
							<span>First Month of Service</span>
							<span class="price plan_price">$99.95</span>
						</li>
						<li>
							<span>Modem - One Time Membership</span>
							<span class="price modem_price">$99.95</span>
						</li>
                        <li class="addon_1">
							<span class="addon_title">Nomad Prime Upgrade</span>
							<span class="price addon_price">$19.95</span>
						</li>
						<li class="addon_2">
							<span class="addon_title">Nomad Travel Upgrade</span>
							<span class="price addon_price">$19.95</span>
						</li>
						<li>
							<span>Sim Activation Fee</span>
							<span class="price">Waived</span>
						</li>
						<li>
							<span>Service Activation</span>
							<span class="price">$29.95</span>
						</li>
						<li>
							<span>Modem & WiFi Setup</span>
							<span class="price">$19.95</span>
						</li>
                        <li class="fon_referral_discount" style="display:none;">
							<span class="fon_referral_discount_title">15% OFF from <span class="fon_friend_name">[friend's Name]</span></span>
							<span class="price fon_referral_discount_price" data-price="">- $00.00</span>
						</li>
						<li class="last nomad_friends">
							<span class="nomad_friend_count">5 Nomad Friends</span>
							<span class="price nomad_discount" data-price="50.00">- $50.00</span>
						</li>
					</ul>
					<div class="total-price">
						<h3>
							<span>Total:</span>
							<p class="initial_total">$189.95</p>
						</h3>
					</div>

                  <div class="checkbox-container">
                    
                    <div class="checkbox-wrapper-12">
                    <div class="cbx">
                    <input id="cbx-12" type="checkbox">
                    <label for="cbx-12"></label>
                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none">
                    <path d="M2 8.36364L6.23077 12L13 2"></path>
                    </svg>
                    </div>
                    </div>
                    <p class="toc_line">By proceeding, you agreed to all the terms: <a href="https://nomadinternet.com/policies/terms-of-service" target="_blank">Terms of Service</a>, <a href="https://nomadinternet.com/policies/terms-of-service" target="_blank">Return Policy</a> & <a href="https://nomadinternet.com/policies/terms-of-service" target="_blank">Friend of Nomad Policy</a>.</p>
                    </div>
                  
                    <div class="checkout-button">
						<a href="javascript:;" class="final_checkout disable">Checkout</a>
					</div>
					<div class="payment-icon">
						<h4>GURANTEE SAFE CHECKOUT</h4>
						<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/payment-icon.png?v=1692592080">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Summary Section end -->