{{ '02plan-plan-v2-mobile.css' | asset_url | stylesheet_tag }}

{% unless template == 'page.sales' %}
<section class="wireless-internet-modem mobile mobile-verison">
  <div class="mobile-version__header">
    <div class="heading">
      <h1>All-in-one Premium Wireless Internet Hotspot Modem</h1>
      <em>Setup in seconds and can be used anywhere in the USA!</em>
      <p class="offer-text">
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.36674 6.36479H6.37381M10.6085 10.6066H10.6156M11.3155 5.65782L5.65977 11.3136M5.18877 2.70177C5.75705 2.65642 6.29655 2.43296 6.73045 2.06319C7.74301 1.20029 9.23228 1.20029 10.2448 2.06319C10.6787 2.43296 11.2182 2.65642 11.7865 2.70177C13.1127 2.8076 14.1657 3.86067 14.2716 5.18682C14.3169 5.7551 14.5404 6.2946 14.9101 6.7285C15.773 7.74106 15.773 9.23032 14.9101 10.2429C14.5404 10.6768 14.3169 11.2163 14.2716 11.7846C14.1657 13.1107 13.1127 14.1638 11.7865 14.2696C11.2182 14.315 10.6787 14.5384 10.2448 14.9082C9.23228 15.7711 7.74301 15.7711 6.73045 14.9082C6.29655 14.5384 5.75705 14.315 5.18877 14.2696C3.86262 14.1638 2.80955 13.1107 2.70373 11.7846C2.65838 11.2163 2.43491 10.6768 2.06514 10.2429C1.20224 9.23032 1.20224 7.74106 2.06514 6.7285C2.43491 6.2946 2.65838 5.7551 2.70373 5.18682C2.80955 3.86067 3.86262 2.8076 5.18877 2.70177ZM6.72023 6.36479C6.72023 6.56001 6.56197 6.71827 6.36674 6.71827C6.17152 6.71827 6.01326 6.56001 6.01326 6.36479C6.01326 6.16956 6.17152 6.0113 6.36674 6.0113C6.56197 6.0113 6.72023 6.16956 6.72023 6.36479ZM10.962 10.6066C10.962 10.8018 10.8038 10.9601 10.6085 10.9601C10.4133 10.9601 10.2551 10.8018 10.2551 10.6066C10.2551 10.4114 10.4133 10.2531 10.6085 10.2531C10.8038 10.2531 10.962 10.4114 10.962 10.6066Z" stroke="white" stroke-width="1.50064" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
  
        <span> 50% OFF Today</span>
      </p>
    </div>
  
    <div class="slider-main" style="display: none;">
      <div class="slide">
        <div class="img">
          <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Omen_500x.webp?v=1706932996" alt="slider0" width="540px" height="340px" loading="eager"/>
          <div class="video-play-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51" fill="none">
                 <rect x="4" y="4" width="43" height="43" rx="21.5" fill="white"/>
                 <rect x="2" y="2" width="47" height="47" rx="23.5" stroke="white" stroke-opacity="0.5" stroke-width="4"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4 25.5C4 13.6259 13.6259 4 25.5 4C37.3742 4 47 13.6259 47 25.5C47 37.3742 37.3742 47 25.5 47C13.6259 47 4 37.3742 4 25.5ZM28.514 19.473L28.6772 19.5739C30.0406 20.4173 31.1774 21.1205 32.001 21.7756C32.849 22.45 33.5958 23.2472 33.8642 24.3584C34.0452 25.1074 34.0452 25.8932 33.8642 26.6422C33.5958 27.7532 32.849 28.5504 32.001 29.2248C31.1774 29.88 30.0406 30.5832 28.6772 31.4266L28.514 31.5276C27.2008 32.3402 26.0986 33.0218 25.1844 33.4452C24.2572 33.8746 23.2 34.1988 22.0976 33.8586C21.3689 33.6336 20.7216 33.2118 20.2104 32.65C19.4666 31.833 19.2214 30.765 19.1105 29.6976C18.9999 28.634 19 27.2596 19 25.5862V25.4142C19 23.7408 18.9999 22.3666 19.1105 21.3029C19.2214 20.2355 19.4666 19.1676 20.2104 18.3505C20.7216 17.7888 21.3689 17.3668 22.0976 17.142C23.2 16.8018 24.2572 17.1259 25.1844 17.5553C26.0986 17.9787 27.2006 18.6604 28.514 19.473Z" fill="#008061"/>
           </svg>
         </div>
        </div>
      </div>
  
      <div class="slide">
        <div class="img">
          <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/modem_card_500x.webp?v=1710269371" alt="slider1" width="540px" height="340px" loading="lazy"/>
          <div class="video-play-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51" fill="none">
                 <rect x="4" y="4" width="43" height="43" rx="21.5" fill="white"/>
                 <rect x="2" y="2" width="47" height="47" rx="23.5" stroke="white" stroke-opacity="0.5" stroke-width="4"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4 25.5C4 13.6259 13.6259 4 25.5 4C37.3742 4 47 13.6259 47 25.5C47 37.3742 37.3742 47 25.5 47C13.6259 47 4 37.3742 4 25.5ZM28.514 19.473L28.6772 19.5739C30.0406 20.4173 31.1774 21.1205 32.001 21.7756C32.849 22.45 33.5958 23.2472 33.8642 24.3584C34.0452 25.1074 34.0452 25.8932 33.8642 26.6422C33.5958 27.7532 32.849 28.5504 32.001 29.2248C31.1774 29.88 30.0406 30.5832 28.6772 31.4266L28.514 31.5276C27.2008 32.3402 26.0986 33.0218 25.1844 33.4452C24.2572 33.8746 23.2 34.1988 22.0976 33.8586C21.3689 33.6336 20.7216 33.2118 20.2104 32.65C19.4666 31.833 19.2214 30.765 19.1105 29.6976C18.9999 28.634 19 27.2596 19 25.5862V25.4142C19 23.7408 18.9999 22.3666 19.1105 21.3029C19.2214 20.2355 19.4666 19.1676 20.2104 18.3505C20.7216 17.7888 21.3689 17.3668 22.0976 17.142C23.2 16.8018 24.2572 17.1259 25.1844 17.5553C26.0986 17.9787 27.2006 18.6604 28.514 19.473Z" fill="#008061"/>
           </svg>
         </div>
        </div>
      </div>
  
      <div class="slide">
        <div class="img">
          <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Raptor_500x.webp?v=1703113067" alt="slider2" width="540px" height="340px" loading="lazy"/>
          <div class="video-play-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51" fill="none">
                 <rect x="4" y="4" width="43" height="43" rx="21.5" fill="white"/>
                 <rect x="2" y="2" width="47" height="47" rx="23.5" stroke="white" stroke-opacity="0.5" stroke-width="4"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4 25.5C4 13.6259 13.6259 4 25.5 4C37.3742 4 47 13.6259 47 25.5C47 37.3742 37.3742 47 25.5 47C13.6259 47 4 37.3742 4 25.5ZM28.514 19.473L28.6772 19.5739C30.0406 20.4173 31.1774 21.1205 32.001 21.7756C32.849 22.45 33.5958 23.2472 33.8642 24.3584C34.0452 25.1074 34.0452 25.8932 33.8642 26.6422C33.5958 27.7532 32.849 28.5504 32.001 29.2248C31.1774 29.88 30.0406 30.5832 28.6772 31.4266L28.514 31.5276C27.2008 32.3402 26.0986 33.0218 25.1844 33.4452C24.2572 33.8746 23.2 34.1988 22.0976 33.8586C21.3689 33.6336 20.7216 33.2118 20.2104 32.65C19.4666 31.833 19.2214 30.765 19.1105 29.6976C18.9999 28.634 19 27.2596 19 25.5862V25.4142C19 23.7408 18.9999 22.3666 19.1105 21.3029C19.2214 20.2355 19.4666 19.1676 20.2104 18.3505C20.7216 17.7888 21.3689 17.3668 22.0976 17.142C23.2 16.8018 24.2572 17.1259 25.1844 17.5553C26.0986 17.9787 27.2006 18.6604 28.514 19.473Z" fill="#008061"/>
           </svg>
         </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    {% render '02plan-plan-v2-common' %}

   
  
      {% comment %}    <div class="title">
        <h2>Which Payment Option is Right For You?</h2>
      </div>

      <div class="frame4445">
      <div class="div">
        <div class="div-wrapper"><div class="text-wrapper">FEATURES</div></div>
        <div class="div-2"><div class="yes">Unlimited Data</div></div>
        <div class="div-2"><div class="yes">Connection Speed</div></div>
        <div class="div-2"><div class="yes">Money-Back Guarantee</div></div>
        <div class="div-2"><div class="yes">Nationwide Coverage</div></div>
        <div class="div-3"><div class="yes">Tech Support</div></div>
        <div class="div-3"><div class="yes">Payment Flexibility</div></div>
        <div class="div-2"><p class="yes-2">Zero Impact on Your Credit Score &amp;&nbsp;&nbsp; Approval</p></div>
        <div class="div-2"><div class="yes-2">Life-Time Ownership Equipment&nbsp;&nbsp; Protection</div></div>
        <div class="div-2"><div class="yes-2">Enterprise-Grade Security</div></div>
        <div class="div-2"><div class="yes">Priority Tech Support</div></div>
      </div>
      <div class="div-4">
        <div class="div-5">
          <div class="div-6">
                        <svg class="coins" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
  <path d="M8.83838 4C9.9431 2.91746 11.4561 2.25 13.125 2.25C16.5077 2.25 19.25 4.99226 19.25 8.375C19.25 10.0439 18.5825 11.5569 17.4999 12.6617M14 13.625C14 17.0077 11.2577 19.75 7.87499 19.75C4.49225 19.75 1.74999 17.0077 1.74999 13.625C1.74999 10.2423 4.49225 7.5 7.87499 7.5C11.2577 7.5 14 10.2423 14 13.625Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            <div class="text-wrapper-2">Nomad Classic</div>
          </div>
          <div class="div-7">
            <div class="CHECK"></div>
            <div class="text-wrapper-3">Yes</div>
          </div>
          <div class="div-7"><div class="text-wrapper-3">Up to 200 MB/s</div></div>
          <div class="div-7"><div class="text-wrapper-3">7 Days</div></div>
          <div class="div-7">
            <div class="CHECK"></div>
            <div class="text-wrapper-3">Yes</div>
          </div>
          <div class="div-8"><div class="text-wrapper-3">Online Support</div></div>
          <div class="div-8"><div class="text-wrapper-3">-</div></div>
          <div class="div-8"><div class="text-wrapper-3">-</div></div>
          <div class="div-8"><div class="text-wrapper-3">-</div></div>
          <div class="div-8"><div class="text-wrapper-3">-</div></div>
          <div class="div-7"><div class="text-wrapper-3">-</div></div>
        </div>
        <div class="div-9">
          <div class="div-10">
            <svg class="economy" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.7499 5.11986H1.43852C0.931509 5.11986 0.52002 4.70837 0.52002 4.20136C0.52002 3.69435 0.931509 3.28286 1.43852 3.28286H4.19404C4.70105 3.28286 5.11254 3.69435 5.11254 4.20136V6.95687C5.11254 7.46389 4.70105 7.87538 4.19404 7.87538C3.68702 7.87538 3.27553 7.46389 3.27553 6.95687V6.15502C2.69044 7.20946 2.35703 8.42189 2.35703 9.71238C2.35703 13.7676 5.64986 17.0604 9.70506 17.0604C10.2663 17.0604 10.8128 16.997 11.3382 16.8776C11.8332 16.7656 12.3256 17.076 12.4376 17.5702C12.5497 18.0643 12.2401 18.5567 11.746 18.6696C11.0892 18.8184 10.4059 18.8974 9.70506 18.8974C4.63584 18.8974 0.52002 14.7816 0.52002 9.71238C0.52002 8.03979 0.968249 6.47098 1.7499 5.11986ZM16.1346 13.2697C16.7197 12.2153 17.0531 11.0029 17.0531 9.71238C17.0531 5.65719 13.7603 2.36435 9.70506 2.36435C9.17416 2.36435 8.65613 2.42038 8.15738 2.52785C7.66139 2.63439 7.17274 2.31843 7.0662 1.82243C6.95965 1.32736 7.27562 0.837798 7.77161 0.73217C8.39527 0.598069 9.0419 0.527344 9.70506 0.527344C14.7743 0.527344 18.8901 4.64316 18.8901 9.71238C18.8901 11.385 18.4419 12.9538 17.6602 14.3049H17.9716C18.4786 14.3049 18.8901 14.7164 18.8901 15.2234C18.8901 15.7304 18.4786 16.1419 17.9716 16.1419H15.2161C14.7091 16.1419 14.2976 15.7304 14.2976 15.2234V12.4679C14.2976 11.9609 14.7091 11.5494 15.2161 11.5494C15.7231 11.5494 16.1346 11.9609 16.1346 12.4679V13.2697ZM8.78656 6.08521V5.11986C8.78656 4.61285 9.19804 4.20136 9.70506 4.20136C10.2121 4.20136 10.6236 4.61285 10.6236 5.11986V6.03837H11.5421C12.0491 6.03837 12.4606 6.44986 12.4606 6.95687C12.4606 7.46389 12.0491 7.87538 11.5421 7.87538H9.24581C9.12365 7.87538 9.007 7.92406 8.92066 8.00948C8.83524 8.09582 8.78656 8.21247 8.78656 8.33463C8.78656 8.45679 8.83524 8.57344 8.92066 8.65978C9.007 8.7452 9.12365 8.79388 9.24581 8.79388H10.1643C10.7733 8.79388 11.3574 9.03545 11.7882 9.46622C12.219 9.897 12.4606 10.4812 12.4606 11.0901C12.4606 11.6991 12.219 12.2833 11.7882 12.7141C11.4677 13.0346 11.0617 13.2505 10.6236 13.3396V14.3049C10.6236 14.8119 10.2121 15.2234 9.70506 15.2234C9.19804 15.2234 8.78656 14.8119 8.78656 14.3049V13.3864H7.86805C7.36104 13.3864 6.94955 12.9749 6.94955 12.4679C6.94955 11.9609 7.36104 11.5494 7.86805 11.5494H10.1643C10.2865 11.5494 10.4031 11.5007 10.4895 11.4153C10.5749 11.329 10.6236 11.2123 10.6236 11.0901C10.6236 10.968 10.5749 10.8513 10.4895 10.765C10.4031 10.6796 10.2865 10.6309 10.1643 10.6309C9.86396 10.6309 9.54616 10.6309 9.24581 10.6309C8.63684 10.6309 8.05267 10.3893 7.62189 9.95854C7.19111 9.52776 6.94955 8.9436 6.94955 8.33463C6.94955 7.72566 7.19111 7.14149 7.62189 6.71071C7.94245 6.39015 8.34843 6.17431 8.78656 6.08521Z" fill="white"/>
</svg>
            <div class="text-wrapper-4">Nomad Premier</div>
          </div>
          <div class="div-11">
            <div class="CHECK-2"></div>
            <div class="text-wrapper-3">Yes</div>
          </div>
          <div class="div-11"><div class="text-wrapper-3">Up to 200 MB/s</div></div>
          <div class="div-11"><div class="text-wrapper-3">30 Days</div></div>
          <div class="div-11">
            <div class="CHECK-2"></div>
            <div class="text-wrapper-3">Yes</div>
          </div>
          <div class="div-11"><div class="yes-3">24/7 Messaging &amp; Phone</div></div>
          <div class="div-11"><p class="yes-3">FlexPay as low as $9/Mo</p></div>
          <div class="div-12">
            <div class="CHECK-2"></div>
            <div class="text-wrapper-3">Yes</div>
          </div>
          <div class="div-12">
            <div class="CHECK-2"></div>
            <div class="text-wrapper-3">Yes</div>
          </div>
          <div class="div-12">
            <div class="CHECK-2"></div>
            <div class="text-wrapper-3">Yes</div>
          </div>
          <div class="div-11">
            <div class="CHECK-2"></div>
            <div class="text-wrapper-3">Yes</div>
          </div>
        </div>
      </div>
    </div>

   
    </div>
{% endcomment %}


    
   
  </div>

</section> 

{% endunless %}


{% if template == 'page.sales' %}
  <!-- Confidence Section Start -->
  {% render 'confidence-sales-section' %}

  <style>
    .confidence-section.sales .icon-list {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 32px;
    }

    .confidence-section.sales .icon-list .icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .confidence-section.sales .icon-list .icon svg {
      width: 60px;
      height: 60px;
    }

    @media  (min-width: 1024px) {
      .confidence-section.sales .icon-list {
        grid-template-columns: repeat(4,1fr);
      } 
    }
  </style>
{% else %}
  {% render 'confidence-section' %}
{% endif %}