 <div class="faq_title">
   <div class="faq_title_left">
      <span class="prev_faq" style="display:none;">
      <svg xmlns="http://www.w3.org/2000/svg" width="34" height="27" viewBox="0 0 34 27" fill="none">
      <path d="M13.6928 25.8727C13.8997 26.0556 14.2157 26.0361 14.3986 25.8292L15.6404 24.4244C15.8233 24.2175 15.8039 23.9015 15.597 23.7186L5.66344 14.9377L33 14.9377C33.2761 14.9377 33.5 14.7138 33.5 14.4377L33.5 12.5627C33.5 12.2865 33.2761 12.0627 33 12.0627L5.66344 12.0627L15.597 3.28173C15.8039 3.09884 15.8233 2.78285 15.6404 2.57596L14.3986 1.17115C14.2157 0.96425 13.8997 0.94479 13.6928 1.12768L0.668849 12.6405C0.561484 12.7354 0.499999 12.8718 0.499999 13.0151L0.499999 13.9852C0.499999 14.1285 0.561484 14.2649 0.668849 14.3599L13.6928 25.8727Z" fill="#00A77F" stroke="#00A77F" stroke-linejoin="round"/>
      </svg>
      </span>
      <svg xmlns="http://www.w3.org/2000/svg" width="34" height="27" viewBox="0 0 34 27" fill="none">
      <path d="M10.3141 0.294922C6.89211 0.294922 4.10815 3.24669 4.10815 6.87487C4.10815 10.503 6.89211 13.4548 10.3141 13.4548C13.7361 13.4548 16.5201 10.503 16.5201 6.87487C16.5201 3.24669 13.7362 0.294922 10.3141 0.294922Z" fill="#00A77F"/>
      <path d="M22.3235 1.2207C22.3094 1.2207 22.2952 1.22077 22.2812 1.22084C20.8451 1.23272 19.5037 1.83908 18.5042 2.92834C17.5221 3.99835 16.9882 5.40995 17.0005 6.90303C17.0128 8.39611 17.57 9.79868 18.5695 10.8524C19.5769 11.9143 20.9113 12.4975 22.3315 12.4975C22.3458 12.4975 22.36 12.4974 22.3744 12.4974C23.8105 12.4855 25.1519 11.8791 26.1515 10.7899C27.1335 9.71986 27.6674 8.30826 27.6552 6.81511C27.6296 3.72097 25.242 1.2207 22.3235 1.2207Z" fill="#00A77F"/>
      <path d="M24.6858 13.5908H24.1705C21.7706 13.5908 19.5805 14.5032 17.927 15.9987C18.3407 16.3161 18.7345 16.6621 19.1077 17.0353C20.2087 18.1363 21.0733 19.4193 21.6776 20.8484C22.2222 22.1353 22.533 23.4914 22.6053 24.8879H34V22.9043C34 17.7691 29.8217 13.5908 24.6858 13.5908Z" fill="#00A77F"/>
      <path d="M20.6092 24.8876C20.4213 21.8601 18.8866 19.1972 16.5963 17.4906C14.9302 16.2488 12.8636 15.5137 10.625 15.5137H10.0048C4.47911 15.5137 0 19.9928 0 25.5185V26.7058H20.6291V25.5185C20.6291 25.3066 20.6225 25.0961 20.6092 24.8876Z" fill="#00A77F"/>
      </svg>
      <h2>Friends of Nomad FAQS</h2>
  </div>
  <div class="faq_title_right" style="display:none;">
    <a href="javascript:;" class="faq_discount_btn">Proceed</a>
  </div>      
</div>

 <div class="faq-list">
            <div class="accordion open">
                <div class="accordion-header">
                    <span>What do I do if an invited friend does not sign up?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content" style="display:block;">We understand that life happens! If an invited Friend does not sign up, there is nothing you need to do. Nomad will automatically remove that Friend's discount from your next bill. However, we will still apply the monthly discount for invited Friends that are still active and have been a Nomad customer for more than 30 days! Head to friends.nomadinternet.com to add more friends!</div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    <span>Will I still get my monthly discount if an invited Nomad Friend signs up after 30 days?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">Absolutely. If an invited Friend signs up in the future, we will apply the Friends of Nomad discount after they have been an active customer with Nomad Internet for 30 days. After their 30 days, your Friends of Nomad discount will automatically apply to your next bill!</div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    <span>How long will my Friends of Nomad Discount stay active?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    Your Friends of Nomad Discount will stay active as long as your invited friend has an active Nomad subscription.
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    <span>What do I do if an invited Nomad Friend cancels their subscription?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    We understand that life happens. In this case, you have a couple of options! You can invite another friend to replace the friend that is leaving. Otherwise, there is nothing you need to do, we will automatically remove that Friend of Nomad Discount from your bill.
                </div>
            </div>
        </div>