<section class="confidence-section sales">
  <div class="container">
      <div class="section-title">
      <h2 class="page-title">Join America's Largest Wireless Internet Provider Featuring</h2>
      </div>
      <div class="icon-list">
          <div class="icon">
            <svg width="60" height="61" viewBox="0 0 60 61" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M34.9167 24.12C34.3805 23.5837 34.1123 23.3155 34.0119 23.0064C33.9235 22.7344 33.9235 22.4414 34.0119 22.1694C34.1123 21.8602 34.3805 21.5921 34.9167 21.0558L38.7604 17.2122C37.7404 16.7509 36.6081 16.4941 35.4159 16.4941C30.9286 16.4941 27.2909 20.1318 27.2909 24.6191C27.2909 25.2841 27.3708 25.9304 27.5215 26.5489C27.6828 27.2113 27.7635 27.5425 27.7492 27.7518C27.7342 27.9708 27.7015 28.0874 27.6005 28.2823C27.504 28.4685 27.3192 28.6534 26.9494 29.0231L18.4888 37.4837C17.367 38.6056 17.367 40.4244 18.4888 41.5462C19.6107 42.6681 21.4295 42.6681 22.5513 41.5462L31.0119 33.0856C31.3817 32.7159 31.5665 32.531 31.7527 32.4345C31.9477 32.3335 32.0642 32.3009 32.2833 32.2859C32.4925 32.2715 32.8237 32.3522 33.4861 32.5136C34.1047 32.6643 34.751 32.7441 35.4159 32.7441C39.9032 32.7441 43.5409 29.1065 43.5409 24.6191C43.5409 23.4269 43.2841 22.2947 42.8229 21.2747L38.9792 25.1183C38.443 25.6546 38.1748 25.9227 37.8656 26.0232C37.5936 26.1116 37.3007 26.1116 37.0287 26.0232C36.7195 25.9227 36.4514 25.6546 35.9151 25.1183L34.9167 24.12Z" stroke="#008061" stroke-width="2.16667" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.75 12.9531L47.0833 46.2865" stroke="black" stroke-width="0.833333"/>
              <rect x="12.3348" y="16.1436" width="6" height="45.2671" transform="rotate(-45 12.3348 16.1436)" fill="#008061" stroke="#013127" stroke-width="2"/>
              <circle cx="29.9997" cy="30.0368" r="22.9167" stroke="#008061" stroke-width="4"/>
            </svg>                
            <h3>No Installation<br>Required</h3>
          </div>
          
          <div class="icon">
            <svg width="60" height="42" viewBox="0 0 60 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M29.998 39.7871H30.023M57.0141 12.789C49.8969 6.26709 40.4121 2.28711 29.9978 2.28711C19.5834 2.28711 10.0986 6.26709 2.98145 12.789M11.8279 21.6445C16.6732 17.3763 23.0332 14.7871 29.998 14.7871C36.9627 14.7871 43.3228 17.3763 48.1681 21.6445M39.2439 30.4749C36.6961 28.4778 33.486 27.2871 29.9978 27.2871C26.4568 27.2871 23.2024 28.5141 20.6365 30.5661" stroke="#008061" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                             
            <h3>Unlimited<br>Data</h3>
          </div>

          <div class="icon">
            <svg width="54" height="55" viewBox="0 0 54 55" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.49805 27.0371C9.49805 17.3721 17.3331 9.53711 26.998 9.53711M38.2478 15.7871L26.9978 27.0371M51.9981 27.0371C51.9981 40.8442 40.8052 52.0371 26.998 52.0371C13.1909 52.0371 1.99805 40.8442 1.99805 27.0371C1.99805 13.23 13.1909 2.03711 26.998 2.03711C40.8052 2.03711 51.9981 13.23 51.9981 27.0371ZM29.498 27.0371C29.498 28.4178 28.3788 29.5371 26.998 29.5371C25.6173 29.5371 24.498 28.4178 24.498 27.0371C24.498 25.6564 25.6173 24.5371 26.998 24.5371C28.3788 24.5371 29.498 25.6564 29.498 27.0371Z" stroke="#008061" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h3>Speeds Up To<br>200Mbps</h3>
          </div>

          <div class="icon">
            <svg width="54" height="53" viewBox="0 0 54 53" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M36.9981 28.4732C45.8276 30.2092 51.9981 34.1739 51.9981 38.7871C51.9981 45.0003 40.8052 50.0371 26.998 50.0371C13.1909 50.0371 1.99805 45.0003 1.99805 38.7871C1.99805 34.1739 8.16852 30.2092 16.998 28.4732M26.998 37.5371V2.53711L40.2924 10.7182C41.2621 11.315 41.7469 11.6133 41.9016 11.9892C42.0365 12.3171 42.0258 12.6869 41.8722 13.0064C41.6961 13.3728 41.1949 13.6427 40.1924 14.1825L26.998 21.2871" stroke="#008061" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h3>Nationwide<br>Coverage</h3>
          </div>


          <div class="icon">
            <svg width="60" height="61" viewBox="0 0 60 61" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M35.001 27.5371H20.001M25.001 37.5371H20.001M40.001 17.5371H20.001M50.001 30.0371V17.0371C50.001 12.8367 50.001 10.7365 49.1835 9.13218C48.4645 7.72097 47.3171 6.57361 45.9059 5.85456C44.3016 5.03711 42.2014 5.03711 38.001 5.03711H22.001C17.8006 5.03711 15.7004 5.03711 14.096 5.85456C12.6848 6.57361 11.5375 7.72097 10.8184 9.13218C10.001 10.7365 10.001 12.8367 10.001 17.0371V43.0371C10.001 47.2375 10.001 49.3377 10.8184 50.942C11.5375 52.3533 12.6848 53.5006 14.096 54.2197C15.7004 55.0371 17.8006 55.0371 22.001 55.0371H30.001M40.001 40.0371L52.501 52.5371M52.501 40.0371L40.001 52.5371" stroke="#008061" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
            <h3>No Contracts/<br>Cancel Anytime</h3>
          </div>
          
          <div class="icon">
            <svg width="60" height="61" viewBox="0 0 60 61" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M34.5265 15.4265L34.7427 19.8977C40.6382 21.7902 44.9197 27.3191 44.9197 33.8347H49.1777C49.1777 24.8768 42.907 17.3586 34.5265 15.4265ZM41.2923 31.9902H38.3379C37.7503 31.9902 37.2734 32.4671 37.2734 33.0543C37.2734 33.6416 37.7503 34.1185 38.3379 34.1185H41.2923C41.8791 34.1185 42.3568 33.6416 42.3568 33.0543C42.3568 32.4671 41.8795 31.9902 41.2923 31.9902ZM38.5446 24.63C38.1286 24.2136 37.4552 24.2136 37.0395 24.63L34.9494 26.7186C34.5341 27.1343 34.5341 27.8096 34.9494 28.2249C35.1572 28.4331 35.4297 28.537 35.7029 28.537C35.9754 28.537 36.2474 28.4331 36.4557 28.2249L38.545 26.1348C38.9603 25.7195 38.9603 25.0457 38.5446 24.63ZM33.0822 29.6556L32.1065 9.45996H28.4591L28.1889 15.0588C18.7522 16.1048 11.3887 24.1244 11.3887 33.8347H15.6467C15.6467 26.5478 20.9999 20.4891 27.9803 19.3811L27.4842 29.6556C26.1389 30.5599 25.2542 32.0926 25.2542 33.8331C25.2542 36.6114 27.5065 38.8632 30.2836 38.8632C33.0607 38.8632 35.3129 36.6114 35.3129 33.8331C35.3122 32.0926 34.4271 30.5599 33.0822 29.6556ZM30.2832 35.8016C29.1968 35.8016 28.3151 34.9196 28.3151 33.8331C28.3151 32.7467 29.1968 31.8655 30.2832 31.8655C31.3696 31.8655 32.2509 32.7467 32.2509 33.8331C32.2509 34.9196 31.3696 35.8016 30.2832 35.8016Z" fill="#008061"/>
              <path d="M12.2734 11.4004L48.6371 47.764" stroke="black" stroke-width="1.85"/>
              <rect x="10.8592" y="14.8809" width="6" height="49.2005" transform="rotate(-45 10.8592 14.8809)" fill="#008061" stroke="#013127" stroke-width="2"/>
              <circle cx="30" cy="30.0371" r="25" stroke="#008061" stroke-width="4"/>
            </svg>                            
            <h3>No<br>Throttling</h3>
          </div>

          <div class="icon">
            <svg width="60" height="61" viewBox="0 0 60 61" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.498 30.0371L27.498 35.0371L38.7481 23.7871M23.0028 51.5393C23.8222 51.431 24.6499 51.6532 25.3026 52.1559L28.3107 54.4642C29.3051 55.2281 30.6883 55.2281 31.6799 54.4642L34.8018 52.0671C35.3851 51.6198 36.1211 51.4226 36.8489 51.5198L40.7541 52.0337C41.9957 52.1976 43.1928 51.506 43.6733 50.3477L45.176 46.7144C45.4565 46.0339 45.9953 45.495 46.6758 45.2145L50.3089 43.7117C51.4671 43.234 52.1587 42.034 51.9948 40.7924L51.5004 37.0286C51.3921 36.2092 51.6143 35.3814 52.117 34.7286L54.4252 31.7204C55.189 30.726 55.189 29.3427 54.4252 28.351L52.0282 25.2289C51.581 24.6456 51.3838 23.9095 51.481 23.1817L51.9948 19.2763C52.1587 18.0347 51.4671 16.8375 50.3089 16.3569L46.6758 14.8542C45.9953 14.5736 45.4565 14.0348 45.176 13.3542L43.6733 9.72101C43.1956 8.56271 41.9957 7.87106 40.7541 8.03494L36.8489 8.54882C36.1211 8.64881 35.3851 8.4516 34.8046 8.00716L31.6826 5.61001C30.6883 4.84614 29.3051 4.84614 28.3135 5.61001L25.1915 8.00716C24.6082 8.4516 23.8722 8.64881 23.1445 8.55437L19.2392 8.0405C17.9977 7.87661 16.8005 8.56826 16.32 9.72656L14.8201 13.3598C14.5368 14.0376 13.998 14.5764 13.3203 14.8598L9.68724 16.3597C8.529 16.8403 7.83739 18.0374 8.00127 19.2791L8.51511 23.1845C8.60955 23.9123 8.41234 24.6484 7.96794 25.2289L5.57092 28.351C4.80709 29.3455 4.80709 30.7288 5.57092 31.7204L7.96794 34.8425C8.41512 35.4258 8.61233 36.1619 8.51511 36.8897L8.00127 40.7951C7.83739 42.0368 8.529 43.234 9.68724 43.7145L13.3203 45.2172C14.0008 45.4978 14.5396 46.0367 14.8201 46.7172L16.3228 50.3504C16.8005 51.5087 18.0004 52.2004 19.242 52.0365L23.0028 51.5393Z" stroke="#008061" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h3>No<br>Credit Checks</h3>
          </div>

          <div class="icon">
            <svg width="54" height="55" viewBox="0 0 54 55" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.748 34.5371V19.5371M33.248 34.5371V19.5371M51.9981 27.0371C51.9981 40.8442 40.8052 52.0371 26.998 52.0371C13.1909 52.0371 1.99805 40.8442 1.99805 27.0371C1.99805 13.23 13.1909 2.03711 26.998 2.03711C40.8052 2.03711 51.9981 13.23 51.9981 27.0371Z" stroke="#008061" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h3>Pause & Restart<br>Anytime</h3>
          </div>
      </div>
  </div>
</section>