<section class="confidence-section">
  <div class="container">
      <div class="section-title">
      <h2 class="page-title">Shop with confidence</h2>
      </div>
      <div class="icon-list">
          <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="65" height="64" viewBox="0 0 65 64" fill="none">
                  <g clip-path="url(#clip0_1213_12143)">
                  <path d="M51.875 1.09766V12.4998H63.2764L51.875 1.09766Z" fill="#008061"/>
                  <path d="M50 16.25C48.9645 16.25 48.125 15.4105 48.125 14.375V0H21.25C18.1484 0 15.625 2.52338 15.625 5.625V26.5861C16.2427 26.5301 16.8679 26.5 17.5 26.5C23.891 26.5 29.6121 29.422 33.3983 34H53.75C54.7855 34 55.625 34.8395 55.625 35.875C55.625 36.9105 54.7855 37.75 53.75 37.75H35.8685C37.0405 40.037 37.7963 42.5706 38.0389 45.25H53.75C54.7855 45.25 55.625 46.0895 55.625 47.125C55.625 48.1605 54.7855 49 53.75 49H38.0389C37.4781 55.1924 34.1696 60.6032 29.3447 64H58.75C61.8516 64 64.375 61.4766 64.375 58.375V16.25H50ZM53.75 26.5H26.25C25.2145 26.5 24.375 25.6605 24.375 24.625C24.375 23.5895 25.2145 22.75 26.25 22.75H53.75C54.7855 22.75 55.625 23.5895 55.625 24.625C55.625 25.6605 54.7855 26.5 53.75 26.5Z" fill="#008061"/>
                  <path d="M17.4409 30C8.17219 30 0.5 37.5404 0.5 46.8091C0.5 56.0778 8.17219 63.75 17.4409 63.75C26.7096 63.75 34.25 56.0778 34.25 46.8091C34.25 37.5404 26.7096 30 17.4409 30ZM25.7611 52.3323C26.5323 53.1036 26.5323 54.358 25.7611 55.1299C24.9958 55.8946 23.7414 55.9071 22.9635 55.1299L17.4409 49.6053L11.7858 55.1306C11.0146 55.9018 9.76016 55.9018 8.98826 55.1306C8.21702 54.3593 8.21702 53.1049 8.98826 52.333L14.5122 46.8091L8.98826 41.2852C8.21702 40.5133 8.21702 39.2588 8.98826 38.4876C9.76016 37.7164 11.0146 37.7164 11.7858 38.4876L17.4409 44.0128L22.9635 38.4876C23.7334 37.7177 24.9879 37.715 25.7611 38.4876C26.5323 39.2588 26.5323 40.5133 25.7611 41.2852L20.2372 46.8091L25.7611 52.3323Z" fill="#008061"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_1213_12143">
                  <rect width="64" height="64" fill="white" transform="translate(0.5)"/>
                  </clipPath>
                  </defs>
              </svg>
              <h3>No Contracts</h3>
          </div>
          <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="74" height="64" viewBox="0 0 74 64" fill="none">
                  <path d="M67.0007 17.0791H62.5331C58.7334 8.05697 50.3666 1.50042 40.7343 0.248201C31.1889 -1.02435 21.8101 2.6497 15.6743 10.0456C13.8705 12.22 12.4397 14.5839 11.3921 17.0791H6.99888C3.47072 17.0791 0.600586 19.9493 0.600586 23.4774V32.0085C0.600586 35.5367 3.47072 38.4068 6.99888 38.4068H15.7576L14.8412 35.6096C12.1731 27.4617 13.6749 19.1368 18.9589 12.7698C24.1513 6.511 32.0804 3.41394 40.1803 4.4762C48.7465 5.59206 56.182 11.6501 59.1281 19.9137L59.146 19.9616C59.6209 21.2238 59.9542 22.5214 60.1457 23.8565C60.7851 27.8451 60.4207 31.8876 59.094 35.5472L59.0846 35.5726C55.7915 44.9226 46.9342 51.2034 37.0415 51.2034C33.4903 51.2034 30.6015 54.0735 30.6015 57.6017C30.6015 61.1299 33.4716 64 36.9998 64C40.528 64 43.3981 61.1299 43.3981 57.6017V54.7253C51.9141 52.7012 59.0671 46.6644 62.5053 38.4067H67.0007C70.5289 38.4067 73.399 35.5365 73.399 32.0084V23.4773C73.399 19.9491 70.5289 17.0791 67.0007 17.0791Z" fill="#008061"/>
                  <path d="M17.8047 42.6721V46.9376H36.9996C47.5842 46.9376 56.1945 38.3274 56.1945 27.7427C56.1945 17.1581 47.5842 8.54785 36.9996 8.54785C26.4149 8.54785 17.8047 17.1581 17.8047 27.7427C17.8047 32.0583 19.2543 36.228 21.9036 39.6001C21.3892 41.3974 19.7479 42.6721 17.8047 42.6721ZM43.3979 25.61H47.6634V29.8755H43.3979V25.61ZM34.8668 25.61H39.1323V29.8755H34.8668V25.61ZM26.3358 25.61H30.6013V29.8755H26.3358V25.61Z" fill="#008061"/>
              </svg>
              <h3>24/7 Support</h3>
          </div>
          <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="65" height="64" viewBox="0 0 65 64" fill="none">
                  <path d="M53.8019 13.7848C49.1853 9.00934 43.2103 5.97272 36.7258 5.04897L38.574 3.20072C39.3063 2.46847 39.3063 1.28134 38.574 0.549094C37.8419 -0.183031 36.6546 -0.183031 35.9224 0.549094L31.174 5.29734C30.4418 6.02947 30.4418 7.21672 31.174 7.94897L35.9223 12.6972C36.2884 13.0633 36.7683 13.2465 37.248 13.2465C37.7278 13.2465 38.2078 13.0633 38.5738 12.6972C39.306 11.9651 39.306 10.7778 38.5738 10.0456L37.5119 8.98372C42.6635 9.99184 47.3884 12.5461 51.1055 16.3911C55.7936 21.2406 58.3755 27.6271 58.3755 34.374C58.3758 48.642 46.7678 60.2498 32.4999 60.2498C18.232 60.2498 6.62402 48.642 6.62402 34.3741C6.62402 28.9297 8.2949 23.7217 11.4561 19.3132C14.5518 14.9961 18.8193 11.7747 23.7976 9.99747C24.7729 9.64922 25.2811 8.57647 24.933 7.60109C24.5849 6.62584 23.5119 6.11759 22.5366 6.46572C16.8363 8.50084 11.9509 12.1878 8.40852 17.128C4.78777 22.1775 2.87402 28.1411 2.87402 34.3742C2.87402 42.2876 5.95565 49.7272 11.5513 55.3228C17.1469 60.9181 24.5865 63.9998 32.4999 63.9998C40.4133 63.9998 47.8529 60.9182 53.4485 55.3227C59.0441 49.7271 62.1258 42.2875 62.1258 34.3741C62.1258 26.6493 59.1695 19.3372 53.8019 13.7848Z" fill="#008061"/>
                  <path d="M13.2354 34.374C13.2354 44.9964 21.8774 53.6384 32.4999 53.6384C43.1222 53.6384 51.7642 44.9964 51.7642 34.374C51.7642 23.7516 43.1222 15.1094 32.4999 15.1094C21.8772 15.1094 13.2354 23.7515 13.2354 34.374ZM33.6509 36.0429C30.9519 35.0888 29.3881 34.3368 28.2536 33.4469C26.8574 32.3517 26.2182 30.4604 26.5855 28.511C26.984 26.3962 28.4587 24.7127 30.4344 24.1176C30.4617 24.1094 30.4886 24.1027 30.5159 24.0947V23.3398C30.5159 22.3043 31.3554 21.4648 32.3909 21.4648C33.4264 21.4648 34.2659 22.3043 34.2659 23.3398V23.9754C35.575 24.282 36.4887 24.8804 36.8581 25.1565C37.6875 25.7766 37.8572 26.9515 37.2372 27.781C36.6171 28.6105 35.4425 28.78 34.6127 28.1601C34.2157 27.8634 33.12 27.2249 31.516 27.7081C30.5684 27.9936 30.3232 28.9263 30.2706 29.2054C30.1667 29.7566 30.2861 30.2755 30.5677 30.4963C31.5486 31.2654 33.3083 31.9445 34.9005 32.5072C37.813 33.5368 39.4325 36.2349 38.9305 39.221C38.684 40.6871 37.9465 42.0475 36.8535 43.0517C36.1019 43.7422 35.226 44.2333 34.2659 44.5103V45.408C34.2659 46.4435 33.4264 47.283 32.3909 47.283C31.3554 47.283 30.5159 46.4435 30.5159 45.408V44.6946C29.2685 44.548 28.2276 44.1639 26.8277 43.2481C25.9611 42.6812 25.7182 41.5191 26.2851 40.6525C26.852 39.7857 28.0142 39.543 28.8807 40.1099C30.1786 40.959 30.6694 41.037 32.3784 41.0251C34.061 41.0139 35.0372 39.7597 35.2323 38.5992C35.3279 38.0325 35.3645 36.6486 33.6509 36.0429Z" fill="#008061"/>
              </svg>
              <h3 style="font-size:20px;">7-Day Money Back<br/>Guarantee</h3>
          </div>
      </div>
  </div>
</section>