<div class="infobar">
	<div class="container">
		<div class="row align-center">
			<div class="col-auto">
				<span class="infobar__btn">Learn More</span>
			</div>
			<div class="col">
				<div class="infobar__text">
					<p>!!! Special offer from Nomad Internet in honor of Valentine's Day !!!</p>
					<a href="/pages/valentines-day">
						<span class="sr-only">Learn More</span>
					</a>
				</div>
			</div>
			<div class="col-auto">
				<span class="infobar__btn">Learn More</span>
			</div>
		</div>
	</div>
</div>
