<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Tech_Bullion.webp?v=1709921049" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 8, 2024</span>
    </div>

    <h3 class="card__title">BUSINESS NEWSMeet Nomad Raptor- The Best Upgrade Any Pro Gamer or ESports Player Could Make in 2024</h3>

    <a href="https://techbullion.com/meet-nomad-raptor-the-best-upgrade-any-pro-gamer-or-esports-player-could-make-in-2024/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Tech_Announcer.webp?v=1709921050" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 8, 2024</span>
    </div>

    <h3 class="card__title">Nomad Raptor: Simply the Best Modem in 2024 for Pro Gamers & Esports Players</h3>

    <a href="https://techannouncer.com/nomad-raptor-simply-the-best-modem-in-2024-for-pro-gamers-esports-players/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Kansas_news_headlines.webp?v=1709921050" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 8, 2024</span>
    </div>

    <h3 class="card__title">Latency in ESports becomes a thing of the past with The Nomad Raptor: God of Modems</h3>

    <a href="https://www.kansasnewsheadlines.com/news/story/456898/latency-in-esports-becomes-a-thing-of-the-past-with-the-nomad-raptor-god-of-modems.html" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/A_new_week.webp?v=1709921050" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 8, 2024</span>
    </div>

    <h3 class="card__title">Nomad Raptor: God of Modems is Pushing Boundaries in Gaming and ESports With Fiber-Like Speed & Latency</h3>

    <a href="https://www.anewsweek.com/nomad-raptor-god-of-modems-is-pushing-boundaries-in-gaming-and-esports-with-fiber-like-speed-latency/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Emerald_Journal.webp?v=1709921049" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 8, 2024</span>
    </div>

    <h3 class="card__title">Nomad Raptor: God of Modems is Pushing Boundaries in Gaming and ESports With Fiber-Like Speed & Latency</h3>

    <a href="https://www.emeraldjournal.com/nomad-raptor-god-of-modems-is-pushing-boundaries-in-gaming-and-esports-with-fiber-like-speed-latency/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Market_Research.webp?v=1709921049" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 8, 2024</span>
    </div>

    <h3 class="card__title">The Nomad Raptor: God of Modems Knocks-out Latency in Esports and Games</h3>

    <a href="https://marketresearchrecord.com/the-nomad-raptor-god-of-modems-knocks-out-latency-in-esports-and-games/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Central_28.webp?v=1709661872" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 5, 2024</span>
    </div>

    <h3 class="card__title">The Nomad Raptor: God of Modems Launched to help Gamers and Esports Players Defeat their Biggest Enemy, Latency</h3>

    <a href="https://azcentral27.com/press-release/2024-02-27/7190/the-nomad-raptor-god-of-modems-launched-to-help-gamers-and-esports-players-defeat-their-biggest-enemy-latency" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Digital_Journal.webp?v=1709661872" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 5, 2024</span>
    </div>

    <h3 class="card__title">The Nomad Raptor: God of Modems Launched to help Gamers and Esports Players Defeat their Biggest Enemy, Latency</h3>

    <a href="https://www.digitaljournal.com/pr/news/globe-pr-wire/nomad-raptor-god-modems-launched-1387146923.html" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/International_Business_Reporter.webp?v=1709661872" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 5, 2024</span>
    </div>

    <h3 class="card__title">REDEFINING ESPORTS- MEET THE NOMAD RAPTOR: GOD OF MODEMS</h3>

    <a href="https://ibreporter.com/redefining-esports-meet-the-nomad-raptor-god-of-modems/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Califonia_Weekly.webp?v=1709661872" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 5, 2024</span>
    </div>

    <h3 class="card__title">Introducing the Nomad Raptor: God of Modems that is Revolutionizing Esports & Competitive Gaming</h3>

    <a href="https://cfweekly.com/introducing-the-nomad-raptor-god-of-modems-that-is-revolutionizing-esports-competitive-gaming/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Media_Timez.webp?v=1709661872" alt="Medi Timez"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 5, 2024</span>
    </div>

    <h3 class="card__title">Pro Esports Gamers Ultimate Choice, The Nomad Raptor: God of Modems</h3>

    <a href="https://mediatimez.com/2024/02/22/pro-esports-gamers-ultimate-choice-the-nomad-raptor-god-of-modems/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Thumbnail08.webp?v=1709661872" alt="CBS"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 5, 2024</span>
    </div>

    <h3 class="card__title">The Nomad Raptor: God of Modems Launched to help Gamers and Esports Players Defeat their Biggest Enemy, Latency</h3>

    <a href="https://cbs247news.com/press-release/2024-02-27/7155/the-nomad-raptor-god-of-modems-launched-to-help-gamers-and-esports-players-defeat-their-biggest-enemy-latency" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Newsbreak.webp?v=1709661873" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 5, 2024</span>
    </div>

    <h3 class="card__title">The Nomad Raptor: God of Modems Leads in Ultra-Low Latency Gaming Connectivity</h3>

    <a href="https://www.newsbreak.com/1862410/3349842100657-the-nomad-raptor-god-of-modems-leads-in-ultra-low-latency-gaming-connectivity?s=mp_1862410" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Market_Research_Record.webp?v=1709661872" alt="Marketresearchrecord"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 5, 2024</span>
    </div>

    <h3 class="card__title">Say Hello to Nomad Flex Pay: A Monthly Subscription Service to Enjoy Internet Access</h3>

    <a href="https://marketresearchrecord.com/say-hello-to-nomad-flex-pay-a-monthly-subscription-service-to-enjoy-internet-access/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Barchart.webp?v=1709661872" alt="Barchart"/>
      </div>
    </div>

    <div class="card__date">
      <span>March 5, 2024</span>
    </div>

    <h3 class="card__title">Latency in ESports becomes a thing of the past with The Nomad Raptor: God of Modems</h3>

    <a href="https://www.barchart.com/story/news/24534604/latency-in-esports-becomes-a-thing-of-the-past-with-the-nomad-raptor-god-of-modems" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/01_bfd4fd4a-6c68-4646-b0ee-2b1155114997.webp?v=1708966991" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 26, 2024</span>
    </div>

    <h3 class="card__title">Flex Pay Propels Nomad Internet in Bridging the Digital Divide</h3>

    <a href="https://usawire.com/flex-pay-propels-nomad-internet-in-bridging-the-digital-divide/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/02_29de1069-7807-439e-84c0-d7e9479af561.webp?v=1708966991" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 26, 2024</span>
    </div>

    <h3 class="card__title">The Nomad Raptor: God of Modems is Redefining Competitive Gaming Space & Esports with Fiber-Like Speed and Latency</h3>

    <a href="https://www.theglobeandmail.com/investing/markets/markets-news/GetNews/24223921/the-nomad-raptor-god-of-modems-is-redefining-competitive-gaming-space-esports-with-fiberlike-speed-and-latency/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/0009_2.webp?v=1708970827" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 26, 2024</span>
    </div>

    <h3 class="card__title">Nomad Raptor: God of Modems is Defeating Latency in Esports & Online Games</h3>

    <a href="https://www.msn.com/en-us/sports/other/nomad-raptor-god-of-modems-is-defeating-latency-in-esports-online-games/ar-BB1iQSus" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/03_7b7d6c15-0e34-463b-9210-dc9ffb481b71.webp?v=1708966991" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 26, 2024</span>
    </div>

    <h3 class="card__title">The Nomad Raptor: God of Modems, Defeats the Biggest Monster in Esports, Latency</h3>

    <a href="https://sypstudios.com/the-nomad-raptor-god-of-modems-defeats-the-biggest-monster-in-esports-latency" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/04_392d9f7b-bff0-43bf-83ee-e5f2ba2a461b.webp?v=1708966991" alt="The Nomad Raptor"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 26, 2024</span>
    </div>

    <h3 class="card__title">The Nomad Raptor: God of Modems is Redefining Competitive Gaming Space & Esports with Fiber-Like Speed and Latency</h3>

    <a href="https://thenoobgamerz.com/the-nomad-raptor-god-of-modems-is-redefining-competitive-gaming-space-esports-with-fiber-like-speed-and-latency/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/05_e05bace5-2db7-4489-9c65-5c9f613c8fec.webp?v=1708966991" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 26, 2024</span>
    </div>

    <h3 class="card__title">Nomad Flex Pay Simplifies Internet Accessibility, Empowering Underprivileged & Rural Communities</h3>

    <a href="https://www.newsbreak.com/1862410/3334389153383-nomad-flex-pay-simplifies-internet-accessibility-empowering-underprivileged-rural-communities?s=mp_1862410" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/06.webp?v=1708966991" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 26, 2024</span>
    </div>

    <h3 class="card__title">Pro Esports Gamers Ultimate Choice, The Nomad Raptor: God of Modems</h3>

    <a href="https://mediatimez.com/2024/02/22/pro-esports-gamers-ultimate-choice-the-nomad-raptor-god-of-modems/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/07.webp?v=1708966991" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 26, 2024</span>
    </div>

    <h3 class="card__title">Nomad Flex Pay to bring Nomad Modem on a Monthly Subscription basis</h3>

    <a href="https://thetraveltourism.com/nomad-flex-pay-to-bring-nomad-modem-on-a-monthly-subscription-basis/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/08.webp?v=1708966991" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 26, 2024</span>
    </div>

    <h3 class="card__title">Nomad Flex Pay: Bridging the Digital Divide in the USA</h3>

    <a href="https://travelworldhub.com/nomad-flex-pay-bridging-the-digital-divide-in-the-usa/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>


<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/01_d6ae2589-6ba0-4cf1-852d-4a814b8d76e6.webp?v=1707836688" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 13, 2024</span>
    </div>

    <h3 class="card__title">GetNews Press Releases & Markets News</h3>

    <a href="https://www.theglobeandmail.com/investing/markets/markets-news/GetNews/24018670/nomad-flex-pay-a-single-allinclusive-monthly-subscription-plan-for-nomad-modem-launched/" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/02_0b1f7668-4387-488c-a298-d3415ca2facf.webp?v=1707836688" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 13, 2024</span>
    </div>

    <h3 class="card__title">Nomad Flex Pay: A Single All-inclusive Monthly Subscription Plan for Nomad Modem Launched</h3>

    <a href="https://www.barchart.com/story/news/24017488/nomad-flex-pay-a-single-allinclusive-monthly-subscription-plan-for-nomad-modem-launched" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/03_3aa3a973-98dc-4799-9a9c-242b80d49669.webp?v=1707836687" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 13, 2024</span>
    </div>

    <h3 class="card__title">Nomad Flex Pay: A Single All-inclusive Monthly Subscription Plan for Nomad Modem Launched</h3>

    <a href="https://www.benzinga.com/pressreleases/24/02/ab37078884/nomad-flex-pay-a-single-all-inclusive-monthly-subscription-plan-for-nomad-modem-launched" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>

<div class="col-lg-4 col-sm-6 col-12">
  <div class="lp-26__card">
    <div class="card__image">
      <div class="ratio" style="--ratio: calc(268 / 384 * 100%)">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/04_1a996e6d-4b05-4d3e-88c9-7a02b820b9b2.webp?v=1707836688" alt="Nomad Flex pay"/>
      </div>
    </div>

    <div class="card__date">
      <span>February 13, 2024</span>
    </div>

    <h3 class="card__title">Nomad Flex Pay: A Single All-inclusive Monthly Subscription Plan for Nomad Modem Launched</h3>

    <a href="https://www.wpgxfox28.com/story/50441505/nomad-flex-pay-a-single-allinclusive-monthly-subscription-plan-for-nomad-modem-launched" class="card__link" target="_blank" rel="nofollow">
      <span class="sr-only">Go</span>
    </a>
  </div>
</div>