  <div class="popup-detils">
      <h2>Plan Specification</h2>
      <a class="close-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
              <path d="M11.1049 10.5L19.7712 1.83372C20.0763 1.5286 20.0763 1.03391 19.7712 0.728837C19.4661 0.42376 18.9714 0.423721 18.6663 0.728837L9.99999 9.39515L1.33372 0.728837C1.0286 0.423721 0.533915 0.423721 0.228837 0.728837C-0.0762401 1.03395 -0.0762792 1.52864 0.228837 1.83372L8.89511 10.5L0.228837 19.1663C-0.0762792 19.4714 -0.0762792 19.9661 0.228837 20.2712C0.381376 20.4237 0.581337 20.5 0.781297 20.5C0.981258 20.5 1.18118 20.4237 1.33376 20.2712L9.99999 11.6049L18.6663 20.2712C18.8188 20.4237 19.0188 20.5 19.2187 20.5C19.4187 20.5 19.6186 20.4237 19.7712 20.2712C20.0763 19.9661 20.0763 19.4714 19.7712 19.1663L11.1049 10.5Z" fill="black"/>
          </svg>
      </a>
      <div class="table-content desktop_only">
          <div class="table">
              <div class="first-column column">
                  <div class="details"></div>
                  <div class="details">
                     Download speed up to
                  </div>
                  <div class="details">
                      Upload speed up to
                  </div>
                  <div class="details">
                     Gaming latency
                  </div>
                  <div class="details">
                     Time to download a 2.5 hour movie<br/><span>(1080p, 6Mbps encoding)</span>
                  </div>
                  <div class="details">
                    Time to download 30 5-minute songs<br/><span>(MP3@190kbps)</span>
                  </div>
                  <div class="details last">
                     Time to download a 10GB game
                  </div>
              </div>
              <div class="second-column column">
                  <div class="details" style="font-weight:600;color:#00a77f;">
                      RURAL UNLIMITED 
                  </div>
                  <div class="details">
                     100Mbps
                  </div>
                  <div class="details">
                      25Mbps
                  </div>
                  <div class="details" >
                      Good
                  </div>
                  <div class="details" style="min-height: 88px;">
                     8.5 minutes*
                  </div>
                <div class="details" style="min-height: 88px;">
                     18 seconds*
                  </div>
                  <div class="details last">
                     10.5 minutes*
                  </div>
                  
              </div>
              <div class="third-column column">
                  <div class="details" style="font-weight:600;color:#00a77f;">
                      RURAL UNLIMITED ULTRA 
                  </div>
                  <div class="details">
                     200Mbps
                  </div>
                  <div class="details">
                      50Mbps
                  </div>
                  <div class="details">
                    Excellent
                  </div>
                  <div class="details" style="min-height: 88px;">
                     4.3 minutes*
                  </div>
                <div class="details" style="min-height: 88px;">
                    9 seconds*
                  </div>
                  <div class="details last">
                     4.5 minutes*
                  </div>
                  
              </div>
          </div>
      </div>


     <div class="table-content mobile_only">
          <table>
            <tr class="main_tr">
              <th>Download speed up to</th>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED</th>
            </tr>
            <tr>
              <td>100Mbps</td>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED ULTRA</th>
            </tr>
            <tr>
              <td>200Mbps</td>
            </tr>
            <tr class="main_tr">
              <th>Upload speed up to</th>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED</th>
            </tr>
            <tr>
              <td>
                25Mbps
              </td>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED ULTRA</th>
            </tr>
            <tr>
              <td>50Mbps</td>
            </tr>
            <tr class="main_tr">
              <th>Gaming latency</th>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED</th>
            </tr>
            <tr>
              <td>Good</td>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED ULTRA</th>
            </tr>
            <tr>
              <td>Excellent</td>
            </tr>
            <tr class="main_tr">
              <th>Time to download a 2.5 hour movie<br/><span>(1080p, 6Mbps encoding)</span></th>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED</th>
            </tr>
            <tr>
              <td>8.5 minutes*</td>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED ULTRA</th>
            </tr>
            <tr>
              <td>4.3 minutes*</td>
            </tr>      
             <tr class="main_tr">
              <th>Time to download 30 5-minute songs<br/><span>(MP3@190kbps)</span></th>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED</th>
            </tr>
            <tr>
              <td>18 seconds*</td>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED ULTRA</th>
            </tr>
            <tr>
              <td>9 seconds*</td>
            </tr>    
             <tr class="main_tr">
              <th>Time to download a 10GB game</th>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED</th>
            </tr>
            <tr>
             <td>10.5 minutes*</td>
            </tr>
            <tr class="sub_tr">
              <th>RURAL UNLIMITED ULTRA</th>
            </tr>
            <tr>
              <td>4.5 minutes*</td>
            </tr>    
            
          </table>      
     </div>   
    <p style="font-size: 1rem;margin: 10px 0;">*Estimated speeds can vary based on signal, coverage, and distance</p>
  </div>

<style>
  .table-content .table .column .details span{
    font-size: .875rem;
    line-height: 1.7142857143;
    font-weight: 400;
    letter-spacing: .15px;
    color: #5f6368;
  }
  .table-content .table .first-column{width:40%;}
  .table-content .table .second-column{width:30%;}
  .table-content .table .third-column{width:30%;}
</style>  