<div class="reco_main_container">
<div class="reco_plan">
<div class="plan_img">
  <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/First_screen_Cube.jpg?v=1682783941" />
</div>
<div class="plan_text">
  <div class="plan_info">
    <div class="title">
      <h2>NOMAD RESIDENTIAL 5G PLAN</h2>
      <p>Hi-Speed Wireless with up to Unlimited Data</p>
    </div>
    <div class="price"><h2>$109<sub>/MONTH</sub></h2></div>
  </div>
  <div class="plan_info_usp">
    <p><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="30px" height="30px" fill-rule="nonzero"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11.045 -8.955,20 -20,20c-11.045,0 -20,-8.955 -20,-20c0,-11.045 8.955,-20 20,-20c11.045,0 20,8.955 20,20z" fill="#00a77f"/><path d="M34.586,14.586l-13.57,13.586l-5.602,-5.586l-2.828,2.828l8.434,8.414l16.395,-16.414z" fill="#ffffff"/></g></g></svg> 14-day Trial, Return Anytime</p>
    <p><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="30px" height="30px" fill-rule="nonzero"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11.045 -8.955,20 -20,20c-11.045,0 -20,-8.955 -20,-20c0,-11.045 8.955,-20 20,-20c11.045,0 20,8.955 20,20z" fill="#00a77f"/><path d="M34.586,14.586l-13.57,13.586l-5.602,-5.586l-2.828,2.828l8.434,8.414l16.395,-16.414z" fill="#ffffff"/></g></g></svg> No Contract, No Credit Check</p>
      </div>
      <div class="plan_info_usp">
      <p><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="30px" height="30px" fill-rule="nonzero"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11.045 -8.955,20 -20,20c-11.045,0 -20,-8.955 -20,-20c0,-11.045 8.955,-20 20,-20c11.045,0 20,8.955 20,20z" fill="#00a77f"/><path d="M34.586,14.586l-13.57,13.586l-5.602,-5.586l-2.828,2.828l8.434,8.414l16.395,-16.414z" fill="#ffffff"/></g></g></svg> Unlimited, Unthrottled & Uncapped</p>
    <p><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="30px" height="30px" fill-rule="nonzero"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11.045 -8.955,20 -20,20c-11.045,0 -20,-8.955 -20,-20c0,-11.045 8.955,-20 20,-20c11.045,0 20,8.955 20,20z" fill="#00a77f"/><path d="M34.586,14.586l-13.57,13.586l-5.602,-5.586l-2.828,2.828l8.434,8.414l16.395,-16.414z" fill="#ffffff"/></g></g></svg> Pay As You Go</p>
  </div>
</div>
</div>
<div class="reco_modem">
<div class="plan_img">
  <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/1260x1260_trans_BG-1.png?v=1691392132" />
  <span class="sale_badge">$300 OFF</span>
</div>
<div class="plan_text">
  <div class="plan_info">
    <div class="title">
      <h2>The Nomad Omega - Unlimited Edition</h2>
      <h1>$99<sub><del>$399</del></sub></h1>
    </div>
    <div class="wizard-membership__description expander-initialized" data-max-heigh="70" style="max-height: 70px; overflow: hidden;">
<p>The Nomad Omega - Unlimited Edition is a new entry-level Wireless Modem with up to Unlimited Data!<br><br>Features:<br>- Works anywhere in the USA with up to unlimited 5G<br>- Download speeds up to 200Mbps!<br>- Easy self-install: activates in less than 60 seconds!<br>- Dual-band Wi-Fi 6 for up to 15 connected devices<br>- Ethernet LAN port to use your own router!<br>- Great for light gaming!</p>
</div><span class="expander">View More</span><br/>
    <a data-href="/cart/39999977488442:1,39798048751674:1,39889402232890:1" class="btn outline wizard-membership__btn">
  <span>Order Now</span>
</a>
  </div>
</div>
</div>
</div>