<div class="reco_main_container">
<div class="reco_plan">
<div class="plan_img">
  <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/First_screen_bcd17663-4aed-47c0-99ae-423712b13f17.jpg?v=1679859812" />
</div>
<div class="plan_text">
  <div class="plan_info">
    <div class="title">
      <h2>NOMAD UNLIMITED POWER PLAN</h2>
      <p>Up to Unlimited Hi-Speed Wireless Data for “The most demanding use”</p>
    </div>
    <div class="price"><h2>$199<sub>/MONTH</sub></h2></div>
  </div>
 <div class="plan_info_usp">
    <p><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="30px" height="30px" fill-rule="nonzero"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11.045 -8.955,20 -20,20c-11.045,0 -20,-8.955 -20,-20c0,-11.045 8.955,-20 20,-20c11.045,0 20,8.955 20,20z" fill="#00a77f"/><path d="M34.586,14.586l-13.57,13.586l-5.602,-5.586l-2.828,2.828l8.434,8.414l16.395,-16.414z" fill="#ffffff"/></g></g></svg> 14-day Trial, Return Anytime</p>
    <p><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="30px" height="30px" fill-rule="nonzero"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11.045 -8.955,20 -20,20c-11.045,0 -20,-8.955 -20,-20c0,-11.045 8.955,-20 20,-20c11.045,0 20,8.955 20,20z" fill="#00a77f"/><path d="M34.586,14.586l-13.57,13.586l-5.602,-5.586l-2.828,2.828l8.434,8.414l16.395,-16.414z" fill="#ffffff"/></g></g></svg> No Contract, No Credit Check</p>
    </div>
      <div class="plan_info_usp">
      <p><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="30px" height="30px" fill-rule="nonzero"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11.045 -8.955,20 -20,20c-11.045,0 -20,-8.955 -20,-20c0,-11.045 8.955,-20 20,-20c11.045,0 20,8.955 20,20z" fill="#00a77f"/><path d="M34.586,14.586l-13.57,13.586l-5.602,-5.586l-2.828,2.828l8.434,8.414l16.395,-16.414z" fill="#ffffff"/></g></g></svg> Unlimited, Unthrottled & Uncapped</p>
    <p><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="30px" height="30px" fill-rule="nonzero"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11.045 -8.955,20 -20,20c-11.045,0 -20,-8.955 -20,-20c0,-11.045 8.955,-20 20,-20c11.045,0 20,8.955 20,20z" fill="#00a77f"/><path d="M34.586,14.586l-13.57,13.586l-5.602,-5.586l-2.828,2.828l8.434,8.414l16.395,-16.414z" fill="#ffffff"/></g></g></svg> Pay As You Go</p>
  </div>
</div>
</div>
<div class="reco_modem">
<div class="plan_img">
  <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Raptor_42084112-4501-4301-9238-ebae92d19602.jpg?v=1688036327" />
  <span class="sale_badge">$400 OFF</span>
</div>
<div class="plan_text">
  <div class="plan_info">
    <div class="title">
      <h2>Nomad RAPTOR</h2>
      <h1>$399<sub><del>$799</del></sub></h1>
    </div>
    <div class="wizard-membership__description expander-initialized" data-max-heigh="80" style="max-height: 80px; overflow: hidden;">
<p>The Nomad Raptor is our fastest portable wireless modem designed for more demanding home, office, and gaming environments.<br><br>Features:<br>- Works anywhere in the USA with up to unlimited 5G and 4G LTE<br>- Download speeds up to 250Mbps!<br>- Easy self-install: activates in less than 60 seconds!<br>- Dual-band Wi-Fi 6 for up to 128 connected devices<br>- Multiple ethernet LAN ports and 1 Gbps WAN port that can also be used as a wireless backup system</p>
</div><span class="expander">View More</span><br/>
    <a data-href="/cart/39870758584378:1,39798048751674:1,39822378336314:1" class="btn outline wizard-membership__btn">
  <span>Order Now</span>
</a>
  </div>
</div>
</div>
</div>
