<div class="video-popup-container hidden" js-video-popup>
  <div class="video-popup-bg" js-close-btn></div>
  <div class="video-popup-content">
    <a href="#" class="video-popup-closebtn" js-close-btn>x</a>

    <video id="video-pop-ele" loop playsinline autoplay controls>
      <source src="" type="video/mp4">
      <p>Your browser does not support the video tag.</p>
    </video>
  </div>
</div>