<div class="top-block">
	<div class="container">
		<div class="top-block__content">
			<div class="top-block__close">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
			</div>
			<div class="top-block__logo">
				<img src="{{ 'mini-logo.png' | asset_url }}" alt="nomad" loading="lazy" width="50" height="50">
			</div>
			<div class="top-block__text">
				<h4>Nomad Internet Talk</h4>
				<p>One spot. All rural internet</p>
			</div>
			<div class="top-block__button">
				<a href="https://apps.apple.com/us/app/nomad-internet/id6444594379" target="_blank" class="btn theme sm">Open</a>
			</div>
		</div>
	</div>
</div>
