<section class="contact-section">
    <div class="container">
        <div class="section-title">
            <h3>Contact us</h3>
            <h2>Chat with our friendly team</h2>
            <p>We’d love to hear from you.</p>
        </div>
        <div class="section-content">
            <div class="left-content">
                <div class="contact-icon">
                  {% comment %}
                    <div class="icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6M22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6M22 6L12 13L2 6" stroke="#00A77F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <h4>Email</h4>
                        <a href="mailto:support@nomadinternet.com">support@nomadinternet.com</a>
                    </div>
                    {% endcomment %}
                    <div class="icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21 11.5C21.0034 12.8199 20.6951 14.1219 20.1 15.3C19.3944 16.7118 18.3098 17.8992 16.9674 18.7293C15.6251 19.5594 14.0782 19.9994 12.5 20C11.1801 20.0035 9.87812 19.6951 8.7 19.1L3 21L4.9 15.3C4.30493 14.1219 3.99656 12.8199 4 11.5C4.00061 9.92179 4.44061 8.37488 5.27072 7.03258C6.10083 5.69028 7.28825 4.6056 8.7 3.90003C9.87812 3.30496 11.1801 2.99659 12.5 3.00003H13C15.0843 3.11502 17.053 3.99479 18.5291 5.47089C20.0052 6.94699 20.885 8.91568 21 11V11.5Z"
                                stroke="#00A77F"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                        </svg>
                        <h4>Live chat</h4>
                        <p><a href="javascript:void(0);" onclick="$zoho.salesiq.floatwindow.visible('show');">Start new chat</a></p>
                    </div>
                  {% comment %}
                    <div class="icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z"
                                stroke="#00A77F"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                            <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="#00A77F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <h4>Phone</h4>
                        <p><a href="tel:+1 385 257 2809">+1 385 257 2809</a></p>
                    </div>
                  {% endcomment %}
                    <div class="icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M22.0004 16.9201V19.9201C22.0016 20.1986 21.9445 20.4743 21.8329 20.7294C21.7214 20.9846 21.5577 21.2137 21.3525 21.402C21.1473 21.5902 20.905 21.7336 20.6412 21.8228C20.3773 21.912 20.0978 21.9452 19.8204 21.9201C16.7433 21.5857 13.7874 20.5342 11.1904 18.8501C8.77425 17.3148 6.72576 15.2663 5.19042 12.8501C3.5004 10.2413 2.44866 7.27109 2.12042 4.1801C2.09543 3.90356 2.1283 3.62486 2.21692 3.36172C2.30555 3.09859 2.44799 2.85679 2.63519 2.65172C2.82238 2.44665 3.05023 2.28281 3.30421 2.17062C3.5582 2.05843 3.83276 2.00036 4.11042 2.0001H7.11042C7.59573 1.99532 8.06621 2.16718 8.43418 2.48363C8.80215 2.80008 9.0425 3.23954 9.11042 3.7201C9.23704 4.68016 9.47187 5.62282 9.81042 6.5301C9.94497 6.88802 9.97408 7.27701 9.89433 7.65098C9.81457 8.02494 9.62928 8.36821 9.36042 8.6401L8.09042 9.9101C9.51398 12.4136 11.5869 14.4865 14.0904 15.9101L15.3604 14.6401C15.6323 14.3712 15.9756 14.1859 16.3495 14.1062C16.7235 14.0264 17.1125 14.0556 17.4704 14.1901C18.3777 14.5286 19.3204 14.7635 20.2804 14.8901C20.7662 14.9586 21.2098 15.2033 21.527 15.5776C21.8441 15.9519 22.0126 16.4297 22.0004 16.9201Z"
                                stroke="#00A77F"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                        </svg>
                        <h4>Phone</h4>
                        <a href="tel:+1 210 598 5949">+1 210 598 5949</a>
                    </div>
                  
                </div>
            </div>
            <div class="right-content">
               {% form 'contact' %}
<div class="send-button"><button type="button" class="redirect_ticket">Submit a Ticket</button></div>
                 {% endform %}
              {% comment %}
                {% form 'contact' %}

                {% if form.posted_successfully? %}
                  <p class="note form-success"> {{ 'contact.form.post_success' | t }} </p>
                {% endif %}
        
                {{ form.errors | default_errors }}
              
                    <div class="name-input">
                        <div class="first-name input"><label for="fname">First name</label><input type="text" name="contact[firstname]" placeholder="First name" /></div>
                        <div class="first-name input"><label for="lname">Last name</label><input type="text" name="contact[lastname]" placeholder="Last name" /></div>
                    </div>
                    <div class="name-input">
                        <div class="phone-number input"><label for="phone">Phone</label><input type="text" name="contact[phone]" placeholder="Phone Number" /></div>
                        <div class="email-input input"><label for="email">Email</label><input type="text" name="contact[email]" placeholder="you@company.com" /></div>
                    </div>
                    <div class="message"><label for="message">Message</label><textarea name="contact[body]"></textarea></div>
                    <div class="send-button"><button type="submit">Send message</button></div>
                {% endform %}
{% endcomment %}

                
            </div>
        </div>
    </div>
</section>


{% schema %}
  {
    "name": "Home Contact",
    "presets": [
  {
    "name": "Home Contact"
  }
], 
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}