<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="banner-slider">
<div class="banner-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Main_Slider_1.png?v=1694264041');">
    <div class="container">
        <div class="slide">
            <h1>We Provide Wireless High-Speed Internet for Rural Homes, Businesses and RVs</h1>
          <h3>Starting at <span><a href="/pages/plans">$49.95/mo</a></span></h3>
            <div class="banner-list desktop_only">
              <div>
                <p class="banner-list-item">No Installation Required</p>
                <p class="banner-list-item">Works Anywhere in the USA</p>
                <p class="banner-list-item">Unthrottled Internet</p>
                <p class="banner-list-item">No Contract</p>
            </div>
            <div>
                <p class="banner-list-item">Unlimited Internet Data</p>
                <p class="banner-list-item">Speeds Up to 200mbps</p>
                <p class="banner-list-item">Pause & Unpause</p>
              <p class="banner-list-item">No Credit Check</p>
            </div>
          
            </div>
            <div class="banner-list mobile_only">
              <div>
                <p class="banner-list-item"><span>●</span> Unlimited Internet Data</p>
                <p class="banner-list-item"><span>●</span> Speeds Up To 200Mbps</p>
                <p class="banner-list-item"><span>●</span> No Contract</p>
            </div>
            <div>
                <p class="banner-list-item"><span>●</span> No Installation Required</p>
                <p class="banner-list-item"><span>●</span> Unthrottled Internet</p>
                <p class="banner-list-item"><span>●</span> No Credit Check</p>
            </div>
            </div>

          
            <a class="banner-btn" href="/pages/plansv2">View Plans</a><a class="banner-link plan_popup" href="/pages/coverage-map">Can I get Nomad?</a>
        </div>
    </div>
</div>

<div class="banner-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/RV_Travel_Slider_1.png?v=1694264041');">
    <div class="container">
        <div class="slide">
            <h1>We Provide Wireless High-Speed Internet for Rural Homes, Businesses and RVs</h1>
          <h3>Starting at <span><a href="/pages/plans">$49.95/mo</a></span></h3>
            <div class="banner-list desktop_only">
              <div>
                <p class="banner-list-item">No Installation Required</p>
                <p class="banner-list-item">Works Anywhere in the USA</p>
                <p class="banner-list-item">Unthrottled Internet</p>
                <p class="banner-list-item">No Contract</p>
            </div>
            <div>
                <p class="banner-list-item">Unlimited Internet Data</p>
                <p class="banner-list-item">Speeds Up to 200mbps</p>
                <p class="banner-list-item">Pause & Unpause</p>
              <p class="banner-list-item">No Credit Check</p>
            </div>
            </div>
            <div class="banner-list mobile_only">
              <div>
                <p class="banner-list-item"><span>●</span> Unlimited Internet Data</p>
                <p class="banner-list-item"><span>●</span> Speeds Up To 200Mbps</p>
                <p class="banner-list-item"><span>●</span> No Contract</p>
            </div>
            <div>
                <p class="banner-list-item"><span>●</span> No Installation Required</p>
                <p class="banner-list-item"><span>●</span> Unthrottled Internet</p>
                <p class="banner-list-item"><span>●</span> No Credit Check</p>
            </div>
            </div>
            <a class="banner-btn" href="/pages/plansv2">View Plans</a><a class="banner-link plan_popup" href="/pages/coverage-map">Can I get Nomad?</a>
        </div>
    </div>
</div>

<div class="banner-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Business_1.png?v=1694264041');">
    <div class="container">
        <div class="slide">
            <h1>We Provide Wireless High-Speed Internet for Rural Homes, Businesses and RVs</h1>
          <h3>Starting at <span><a href="/pages/plans">$49.95/mo</a></span></h3>
            <div class="banner-list desktop_only">
              <div>
                <p class="banner-list-item">No Installation Required</p>
                <p class="banner-list-item">Works Anywhere in the USA</p>
                <p class="banner-list-item">Unthrottled Internet</p>
                <p class="banner-list-item">No Contract</p>
            </div>
            <div>
                <p class="banner-list-item">Unlimited Internet Data</p>
                <p class="banner-list-item">Speeds Up to 200mbps</p>
                <p class="banner-list-item">Pause & Unpause</p>
              <p class="banner-list-item">No Credit Check</p>
            </div>
            </div>
            <div class="banner-list mobile_only">
              <div>
                <p class="banner-list-item"><span>●</span> Unlimited Internet Data</p>
                <p class="banner-list-item"><span>●</span> Speeds Up To 200Mbps</p>
                <p class="banner-list-item"><span>●</span> No Contract</p>
            </div>
            <div>
                <p class="banner-list-item"><span>●</span> No Installation Required</p>
                <p class="banner-list-item"><span>●</span> Unthrottled Internet</p>
                <p class="banner-list-item"><span>●</span> No Credit Check</p>
            </div>
            </div>
            <a class="banner-btn" href="/pages/plansv2">View Plans</a><a class="banner-link plan_popup" href="/pages/coverage-map">Can I get Nomad?</a>
        </div>
    </div>
</div>

<div class="banner-section " style="background-image: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Gamer_1.png?v=1694264041');">
    <div class="container">
        <div class="slide">
            <h1>We Provide Wireless High-Speed Internet for Rural Homes, Businesses and RVs</h1>
          <h3>Starting at <span><a href="/pages/plans">$49.95/mo</a></span></h3>
            <div class="banner-list desktop_only">
             <div>
                <p class="banner-list-item">No Installation Required</p>
                <p class="banner-list-item">Works Anywhere in the USA</p>
                <p class="banner-list-item">Unthrottled Internet</p>
                <p class="banner-list-item">No Contract</p>
            </div>
            <div>
                <p class="banner-list-item">Unlimited Internet Data</p>
                <p class="banner-list-item">Speeds Up to 200mbps</p>
                <p class="banner-list-item">Pause & Unpause</p>
              <p class="banner-list-item">No Credit Check</p>
            </div>
            </div>
            <div class="banner-list mobile_only">
              <div>
                <p class="banner-list-item"><span>●</span> Unlimited Internet Data</p>
                <p class="banner-list-item"><span>●</span> Speeds Up To 200Mbps</p>
                <p class="banner-list-item"><span>●</span> No Contract</p>
            </div>
            <div>
                <p class="banner-list-item"><span>●</span> No Installation Required</p>
                <p class="banner-list-item"><span>●</span> Unthrottled Internet</p>
                <p class="banner-list-item"><span>●</span> No Credit Check</p>
            </div>
            </div>
            <a class="banner-btn" href="/pages/plansv2">View Plans</a><a class="banner-link plan_popup" href="/pages/coverage-map">Can I get Nomad?</a>
        </div>
    </div>
</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
var $j = $.noConflict();  
$j(document).ready(function(){
$j('.banner-slider').slick({
dots: false,
infinite: true,
speed: 500,
slidesToShow: 1,
autoplaySpeed: 5000,
arrows: false,
slidesToScroll: 1,
autoplay: true,
fade: true,
  cssEase: 'ease-out',
});
$j('.mobile_only .deals_image').slick({
dots: true,
infinite: true,
speed: 500,
slidesToShow: 1,
autoplaySpeed: 3000,
arrows: false,
slidesToScroll: 1,
autoplay: false,
fade: true,
  cssEase: 'ease-out',
});  
$j('.logo-list').slick({
dots: false,
infinite: true,
speed: 500,
slidesToShow: 8,
slidesToScroll: 1,
arrows: false,
draggable: true,
autoplay: true,
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 5,
slidesToScroll: 1,
},
},
{
breakpoint: 640,
settings: {
slidesToShow: 3,
slidesToScroll: 1,
},
},
],
});
var newWindowWidth = $(window).width();
if (newWindowWidth < 767) {
$j('.best-internet-list').slick({
infinite: false,
dots: false,  
slidesToShow: 4,
speed: 500,
arrows: false,
autoplaySpeed: 5000,
autoplay: false,
dots: true,
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 2,
slidesToScroll: 1,
},
},
  {
breakpoint: 767,
settings: {
slidesToShow: 1,
slidesToScroll: 1,
centerMode: true,
centerPadding: '15px'
},
},
],
});

$j('.blog-list').slick({
infinite: false,
dots: false,  
slidesToShow: 4,
speed: 500,
arrows: false,
autoplaySpeed: 5000,
autoplay: false,
dots: true,
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 2,
slidesToScroll: 1,
},
},
  {
breakpoint: 767,
settings: {
slidesToShow: 1,
slidesToScroll: 1,
centerMode: true,
centerPadding: '15px'
},
},
],
});
  
        }
$j('.review-list').slick({
className: 'center',
centerMode: true,
infinite: true,
slidesToShow: 3,
speed: 500,
arrows: false,
  autoplaySpeed: 5000,
  autoplay: true,
dots: true,
centerPadding: '0px',
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 2,
slidesToScroll: 1,
},
},
  {
breakpoint: 640,
settings: {
slidesToShow: 1,
slidesToScroll: 1,
centerPadding: '0px',
},
},
],
});
$j('.video-list').slick({
dots: false,
infinite: true,
speed: 500,
slidesToShow: 5,
slidesToScroll: 1,
arrows: true,
prevArrow: '<i class="prev_arrow fa fa-angle-left" aria-hidden="true"></i>',
nextArrow: '<i class="next_arrow fa fa-angle-right" aria-hidden="true"></i>',
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 3,
slidesToScroll: 1,
},
},
  {
breakpoint: 640,
settings: {
slidesToShow: 2,
slidesToScroll: 1,
centerPadding: '0px',
},
},
],  
});

$j('.plan_popup').click(function(){
  $j('#myBtn').trigger('click');
});

$j('.redirect_ticket').click(function(){
  //window.location.href = "/pages/ticket";
  window.open('https://support.nomadinternet.com/', '_blank');
})
  
});
</script>

{% schema %}
{
"name": "Home Banner Slider",
"presets": [
{
"name": "Home Banner Slider"
}
],  
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}