<section class="get-the-best-section">
   <div class="container">
      <div class="section-title">
         <h2 class="page-title">Get the best internet in your area</h2>
         <p>Connect anywhere you need it. Fast Internet for Rural Communities, Travelers, RVs &amp; More</p>
      </div>
      <div class="best-internet-list">
         <div class="best-box">
            <div class="image"><img src="https://cdn.shopify.com/oxygen/10328473658/98362/x2hcgp3ch/build/_assets/travelers-image-1-W3C2JFQT.png" alt="image1" loading="lazy"></div>
            <div class="internet-title">
               <h3>Rural Internet </h3>
               <a href="/pages/nomad-residential-plan">
                  Learn More
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M9.16784 15.5L15.7012 8.5L9.16784 1.5" stroke="#00A77F" stroke-width="2.14967" stroke-linecap="round" stroke-linejoin="round"></path>
                     <path d="M1.70117 8.49988L15.7012 8.49988" stroke="#00A77F" stroke-width="2.14967" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
               </a>
            </div>
         </div>
         <div class="best-box">
            <div class="image"><img src="https://cdn.shopify.com/oxygen/10328473658/98362/x2hcgp3ch/build/_assets/travelers-image-2-CCELOVX2.png" alt="image2" loading="lazy"></div>
            <div class="internet-title">
               <h3>Travelers &amp; RV Internet </h3>
               <a href="/pages/nomad-air-plan">
                  Learn More
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M9.16784 15.5L15.7012 8.5L9.16784 1.5" stroke="#00A77F" stroke-width="2.14967" stroke-linecap="round" stroke-linejoin="round"></path>
                     <path d="M1.70117 8.49988L15.7012 8.49988" stroke="#00A77F" stroke-width="2.14967" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
               </a>
            </div>
         </div>
         <div class="best-box">
            <div class="image"><img src="https://cdn.shopify.com/oxygen/10328473658/98362/x2hcgp3ch/build/_assets/travelers-image-3-WR2A2AJR.png" alt="image3" loading="lazy"></div>
            <div class="internet-title">
               <h3>Internet for Business </h3>
               <a href="/pages/nomad-business-plan">
                  Learn More
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M9.16784 15.5L15.7012 8.5L9.16784 1.5" stroke="#00A77F" stroke-width="2.14967" stroke-linecap="round" stroke-linejoin="round"></path>
                     <path d="M1.70117 8.49988L15.7012 8.49988" stroke="#00A77F" stroke-width="2.14967" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
               </a>
            </div>
         </div>
         <div class="best-box">
            <div class="image"><img src="https://cdn.shopify.com/oxygen/10328473658/98362/x2hcgp3ch/build/_assets/travelers-image-4-YIZG7XXE.png" alt="image4" loading="lazy"></div>
            <div class="internet-title">
               <h3>Internet For Everone</h3>
               <a href="/pages/wireless-internet">
                  Learn More
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M9.16784 15.5L15.7012 8.5L9.16784 1.5" stroke="#00A77F" stroke-width="2.14967" stroke-linecap="round" stroke-linejoin="round"></path>
                     <path d="M1.70117 8.49988L15.7012 8.49988" stroke="#00A77F" stroke-width="2.14967" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>

{% schema %}
{
"name": "Home Get the Best",
"presets": [
  {
    "name": "Home Get the Best"
  }
],  
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}