<section class="get-fast-internet" style="
   /* background-color: #f3f3f3; */
   ">
   <div class="container">
      <div class="section-content">
         <div class="left-content">
            <h2>Unlock Lightning-Fast Wi-Fi Perfect for Rural Homes, Travelers, and RVs. Sign Up Today!</h2>
            <div class="banner-button">
              {% comment %}
               <a class="buy-button" href="/pages/plans">
                  Buy Modem
                  <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M12.9127 0.878435C12.5274 0.511376 11.9176 0.526279 11.5505 0.91171C11.1834 1.29701 11.1984 1.90689 11.5838 2.27395L12.9127 0.878435ZM18.3288 8.69779C18.7141 9.06485 19.324 9.04994 19.6911 8.66451C20.0581 8.27921 20.0432 7.66933 19.6578 7.30227L18.3288 8.69779ZM19.6578 8.69779C20.0432 8.33073 20.0581 7.72085 19.6911 7.33555C19.324 6.95012 18.7141 6.93522 18.3288 7.30227L19.6578 8.69779ZM11.5838 13.7261C11.1984 14.0931 11.1834 14.703 11.5505 15.0884C11.9176 15.4738 12.5274 15.4886 12.9127 15.1216L11.5838 13.7261ZM18.9933 8.96361C19.5254 8.96361 19.9569 8.53218 19.9569 8.00003C19.9569 7.46788 19.5254 7.03646 18.9933 7.03646L18.9933 8.96361ZM1.00654 7.03646C0.474381 7.03646 0.0429684 7.46788 0.0429684 8.00003C0.0429685 8.53218 0.474381 8.96361 1.00654 8.96361L1.00654 7.03646ZM11.5838 2.27395L18.3288 8.69779L19.6578 7.30227L12.9127 0.878435L11.5838 2.27395ZM18.3288 7.30227L11.5838 13.7261L12.9127 15.1216L19.6578 8.69779L18.3288 7.30227ZM18.9933 7.03646L1.00654 7.03646L1.00654 8.96361L18.9933 8.96361L18.9933 7.03646Z" fill="white"></path>
                  </svg>
               </a>
               {% endcomment %}
               <a class="plan-button" href="/pages/plans">
                  View Plans
               </a>
            </div>
         </div>
         <div class="right-content"><img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/f714302c26a06842.png?v=1690218303" alt="internet" loading="lazy"></div>
      </div>
   </div>
</section>

{% schema %}
  {
"name": "Home Get Fast Internet",
"presets": [
  {
    "name": "Home Get Fast Internet"
  }
],  
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}