<div class="banner_tab mobile_only">
  <h2 class="page-title">Our Latest Deals</h2>
  <div class="deals_image">
    <div>
    <a href="https://free.nomadinternet.com/v2/11/passwordlessaccess">
    <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/FON.png?v=1695305973" loading="lazy"/>
    </a>
    </div>
    <div>
    <a href="/pages/plans?find=air-backup">
      <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Backup.png?v=1695305973" loading="lazy"/>
    </a>
    </div>
    <div>
    <a href="https://free.nomadinternet.com/v2/7/passwordlessaccess">
      <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/54live.png?v=1695305973" loading="lazy"/>
    </a>
  </div>
  </div>
</div>


{% schema %}
{
"name": "Home Tab Mobile",
"presets": [
{
"name": "Home Tab Mobile"
}
],  
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}