<section class="faq-section">
    <div class="container">
        <div class="section-title">
            <h2 class="page-title">Frequently Asked Questions (FAQs)</h2>
            <p>Here are our most frequently asked questions</p>
        </div>
        <div class="faq-list">
          {% if page.handle == 'coverage-map' %}
          <div class="accordion">
                <div class="accordion-header">
                    <span>Why do I need to enter my exact address?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    We need your address to find offers in your specific location. We will never sell or distribute your information. Specific location data is necessary to determine what you may already have and other services you can get with Nomad Internet.
                </div>
            </div>
          {% endif %}
            {% unless page.handle == 'coverage-map' %}
                <div class="accordion">
                    <div class="accordion-header">
                        <span>What is Nomad Internet?</span>
                        <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div class="accordion-content">
                        <!-- <strong>Experience High-Speed Wireless Internet with Nomad</strong>
                        <ul>
                            <li><strong>Leading Provider:</strong> America's Largest Wireless Internet Service.</li>
                            <li><strong>Rural Connectivity:</strong> Specializing in High-Speed Internet for Rural Communities.</li>
                            <li><strong>Traveler-Friendly:</strong> Seamless Internet Access for On-the-Road Travelers.</li>
                            <li><strong>Low Start-Up Costs:</strong> Affordable Access to Quality Internet Service.</li>
                            <li><strong>Rapid Connection Speeds:</strong> Experience Fast and Reliable Internet Anywhere.</li>
                        </ul> -->
                        <p>Nomad Internet is your reliable source for high-speed internet in rural areas. We ensure you stay connected no matter how remote your location might be—without requiring any complex equipment.</p>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-header">
                        <span>How does Nomad Internet work?</span>
                        <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div class="accordion-content">
                        <!-- <strong>Revolutionize Your Internet Connection</strong>
                        <ul>
                            <li><strong>Wireless Connectivity:</strong> Direct to your home, business, or on-the-go</li>
                            <li><strong>Advanced Technology:</strong> Utilizing the latest innovations for optimal speed.</li>
                            <li><strong>Nationwide Network:</strong> Access high-speed internet even in rural areas other providers cannot reach.</li>
                            <li><strong>Tailored Plans:</strong> Variety of options to suit every unique need.</li>
                            <li><strong>Stay Connected Everywhere:</strong> Reliable service for both stationery and nomadic lifestyles.</li>
                        </ul> -->
                        <p>Using advanced cellular networks, we bring you continuous, fast internet directly to your home or property. Our technology is designed to provide stable connections in areas where traditional providers might not reach.</p>
                    </div>
                </div>
            {% endunless %}

            <div class="accordion">
                <div class="accordion-header">
                    <span>Can I use Nomad Internet for gaming and streaming?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p>Yes, indeed! Our service is robust enough to handle high-demand online activities such as HD streaming, online gaming, and more, even across multiple devices. Enjoy top-quality entertainment without interruptions.</p>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion-header">
                    <span>How does Nomad Internet compare to traditional satellite internet?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p>Our cellular-based internet service offers more reliable and consistent speeds without the issues commonly associated with satellite internet, like signal interruption due to weather or obstructions. It’s an ideal alternative for rural locations.</p>
                    
                </div>
            </div>

            
            <div class="accordion">
                <div class="accordion-header">
                    <span>Is Nomad Internet a good option for those who aren’t tech-savvy?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p>Absolutely! Our service is designed for easy setup and use. There’s no need for complicated installations or technical know-how, making it perfect for anyone who wants straightforward, effective internet service.</p>
                    
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    <span>What are the Contract Requirements for Nomad Internet?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p>We offer month-to-month service with no long-term contracts, giving you the flexibility to choose what’s best for your rural lifestyle without the commitment.</p>
                    
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    <span>Is Nomad Internet Secure?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p>Yes, security is a priority for us. Our service includes advanced security features to protect your online activities, ensuring a safe and secure experience for all users.</p>
                    
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-header">
                    <span>What happens if I experience issues with my service?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p>We are here to help! Our dedicated support team is just a call or click away, ready to assist you with any concerns or questions you might have about your internet service.</p>
                    
                </div>
            </div>

            <!-- <div class="accordion">
                <div class="accordion-header">
                    <span>Can I Use Nomad Internet for RVing, Off-Trail Hiking, and More?</span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.88184 1.84485L9.92136 9.88437L17.9609 1.84485" stroke="black" stroke-width="2.67984" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <p>Yes: Nomad Internet users can bring the same high-speed, low-latency service they have at home to any location covered by Nomad Internet.</p>
                    <ul>
                        <li>
                            <strong>Flexible Connectivity on the Go:</strong> Nomad Internet for RVers and travelers offers the convenience of pausing and un-pausing service based on individual travel needs.
                        </li>
                        <li>
                            <strong>Ideal for Remote Adventures:</strong> Whether RVing, off-trail hiking, or exploring remote locations, Nomad Internet ensures reliable connectivity for work or leisure activities on the move.
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
        {% comment %} <div class="more-button"><a href="/pages/plans">View Plans</a></div> {% endcomment %}
    </div>
</section>

{% unless page.handle == 'coverage-map' %}
<script>
$j(document).ready(function(){
  $j(document).on('click', '.accordion-header', function () {
        // Toggle the visibility of the content
        var isVisible = $j(this).next('.accordion-content').is(':visible');

        // Hide all accordion content
        $j('.accordion-content').slideUp();
        $j('.accordion').removeClass('open');
        // If the clicked header's content was not visible, show it
        if (!isVisible) {
          $j(this).next('.accordion-content').slideDown();
          $j(this).parents('.accordion').addClass('open');
        }
      });
});
</script>
{% endunless %}
  
{% schema %}
{
"name": "Home FAQ",
"presets": [
  {
    "name": "Home FAQ"
  }
],  
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}