<section class="chat-and-call-section">
    <div class="container">
        <div class="section-content">
            <div class="chat-and-call-section__bg">
                <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/background_lines.svg?v=1708634207" alt="bg"/>
            </div>
            <div class="left-content" style="z-index: 3;">
                <h2>{{ section.settings.heading }}</h2>
                <p>{{ section.settings.content }}</p>
                <a href="/pages/plans">VIEW PLANS</a>
            </div>
            <div class="right-content">
                <div class="chat-icon-list">
                    <div class="icon-and-text">
                        <div class="image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                <path d="M6.09436 11.6341C6.03221 11.2335 5.99996 10.8231 5.99996 10.4053C5.99996 5.987 9.60525 2.40527 14.0526 2.40527C18.4999 2.40527 22.1052 5.987 22.1052 10.4053C22.1052 11.4033 21.9213 12.3587 21.5852 13.2398C21.5154 13.4228 21.4804 13.5143 21.4646 13.5857C21.4489 13.6565 21.4428 13.7062 21.4411 13.7787C21.4394 13.8519 21.4493 13.9324 21.4692 14.0936L21.8717 17.3638C21.9153 17.7178 21.9371 17.8948 21.8782 18.0235C21.8266 18.1362 21.735 18.2258 21.6211 18.2748C21.4911 18.3307 21.3146 18.3048 20.9617 18.2531L17.7765 17.7862C17.6101 17.7618 17.527 17.7496 17.4512 17.75C17.3763 17.7505 17.3245 17.756 17.2511 17.7714C17.177 17.787 17.0823 17.8225 16.893 17.8934C16.0097 18.2243 15.0524 18.4053 14.0526 18.4053C13.6344 18.4053 13.2237 18.3736 12.8227 18.3125M7.63158 22.4053C10.5965 22.4053 13 19.9428 13 16.9053C13 13.8677 10.5965 11.4053 7.63158 11.4053C4.66668 11.4053 2.26316 13.8677 2.26316 16.9053C2.26316 17.5159 2.36028 18.1032 2.53955 18.652C2.61533 18.884 2.65322 19 2.66566 19.0792C2.67864 19.1619 2.68091 19.2084 2.67608 19.292C2.67145 19.3721 2.65141 19.4626 2.61134 19.6436L2 22.4053L4.9948 21.9963C5.15827 21.9739 5.24 21.9628 5.31137 21.9633C5.38652 21.9638 5.42641 21.9679 5.50011 21.9825C5.5701 21.9965 5.67416 22.0332 5.88227 22.1067C6.43059 22.3002 7.01911 22.4053 7.63158 22.4053Z" stroke="#00A77F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <a onclick="$zoho.salesiq.floatwindow.visible('show');">Start chat</a>
                    </div>
                    <div class="icon-and-text">
                        <div class="image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                <path d="M14.0497 6.40527C15.0264 6.59584 15.924 7.07353 16.6277 7.77721C17.3314 8.48089 17.8091 9.37854 17.9997 10.3553M14.0497 2.40527C16.0789 2.63071 17.9713 3.53945 19.4159 4.98228C20.8606 6.42511 21.7717 8.31628 21.9997 10.3453M10.2266 14.2683C9.02506 13.0668 8.07627 11.7081 7.38028 10.2585C7.32041 10.1338 7.29048 10.0715 7.26748 9.99258C7.18576 9.71222 7.24446 9.36796 7.41447 9.13053C7.46231 9.06372 7.51947 9.00657 7.63378 8.89225C7.98338 8.54265 8.15819 8.36784 8.27247 8.19207C8.70347 7.52918 8.70347 6.6746 8.27247 6.0117C8.15819 5.83593 7.98338 5.66112 7.63378 5.31152L7.43891 5.11665C6.90747 4.58521 6.64174 4.31948 6.35636 4.17514C5.7888 3.88807 5.11854 3.88807 4.55098 4.17514C4.2656 4.31949 3.99987 4.58521 3.46843 5.11665L3.3108 5.27428C2.78117 5.80391 2.51636 6.06872 2.31411 6.42875C2.08969 6.82826 1.92833 7.44875 1.9297 7.90697C1.93092 8.31992 2.01103 8.60214 2.17124 9.16659C3.03221 12.2 4.65668 15.0623 7.04466 17.4503C9.43264 19.8383 12.295 21.4628 15.3284 22.3237C15.8928 22.484 16.1751 22.5641 16.588 22.5653C17.0462 22.5667 17.6667 22.4053 18.0662 22.1809C18.4263 21.9786 18.6911 21.7138 19.2207 21.1842L19.3783 21.0266C19.9098 20.4951 20.1755 20.2294 20.3198 19.944C20.6069 19.3764 20.6069 18.7062 20.3198 18.1386C20.1755 17.8532 19.9098 17.5875 19.3783 17.0561L19.1835 16.8612C18.8339 16.5116 18.6591 16.3368 18.4833 16.2225C17.8204 15.7915 16.9658 15.7915 16.3029 16.2225C16.1271 16.3368 15.9523 16.5116 15.6027 16.8612C15.4884 16.9755 15.4313 17.0327 15.3644 17.0805C15.127 17.2505 14.7828 17.3092 14.5024 17.2275C14.4235 17.2045 14.3612 17.1746 14.2365 17.1147C12.7869 16.4187 11.4282 15.4699 10.2266 14.2683Z" stroke="#00A77F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <a href="tel:+1 210 598 5949">Call us <br> +1 210 598 5949</a>
                    </div>
                    <div class="icon-and-text">
                        <div class="image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                <path d="M6 6.40527L10.5 10.9053M6 6.40527H3L2 3.40527L3 2.40527L6 3.40527V6.40527ZM19.259 3.14629L16.6314 5.7739C16.2354 6.16992 16.0373 6.36793 15.9632 6.59626C15.8979 6.7971 15.8979 7.01345 15.9632 7.21429C16.0373 7.44262 16.2354 7.64063 16.6314 8.03664L16.8686 8.2739C17.2646 8.66992 17.4627 8.86793 17.691 8.94212C17.8918 9.00737 18.1082 9.00737 18.309 8.94212C18.5373 8.86793 18.7354 8.66992 19.1314 8.2739L21.5893 5.81599C21.854 6.46016 22 7.16567 22 7.90527C22 10.9428 19.5376 13.4053 16.5 13.4053C16.1338 13.4053 15.7759 13.3695 15.4298 13.3012C14.9436 13.2053 14.7005 13.1574 14.5532 13.1721C14.3965 13.1877 14.3193 13.2112 14.1805 13.2855C14.0499 13.3553 13.919 13.4863 13.657 13.7482L6.5 20.9053C5.67157 21.7337 4.32843 21.7337 3.5 20.9053C2.67157 20.0768 2.67157 18.7337 3.5 17.9053L10.657 10.7482C10.919 10.4863 11.0499 10.3553 11.1198 10.2248C11.1941 10.086 11.2176 10.0087 11.2332 9.85208C11.2479 9.70473 11.1999 9.46166 11.1041 8.97551C11.0358 8.62933 11 8.27148 11 7.90527C11 4.86771 13.4624 2.40527 16.5 2.40527C17.5055 2.40527 18.448 2.6751 19.259 3.14629ZM12.0001 15.4052L17.5 20.9052C18.3284 21.7336 19.6716 21.7336 20.5 20.9052C21.3284 20.0767 21.3284 18.7336 20.5 17.9052L15.9753 13.3806C15.655 13.3503 15.3427 13.2925 15.0408 13.2096C14.6517 13.1028 14.2249 13.1803 13.9397 13.4656L12.0001 15.4052Z" stroke="#00A77F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <a class="redirect_ticket">Submit a <br> ticket</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if template == 'page.flex-pay' %}
    <style>
        @media (min-width: 1024px) {
            .chat-and-call-section .section-content .left-content h2,
            .chat-and-call-section .section-content .left-content p
            {
                max-width: 500px;
            }
        }
    </style>
{% endif %}
{% comment %}
<section class="home-signup">
   <div class="container">
      <div class="section-content">
         <h2>Sign Up Today and Experience Internet Without Boundaries!</h2>
         <a class="btn" href="/pages/plans">View Plans</a>
          <div class="banner_contact">
          <span>Have Questions?</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
          <g id="phone-call-01">
          <path id="Icon" d="M11.7084 5.49935C12.5223 5.65815 13.2704 6.05623 13.8568 6.64263C14.4432 7.22903 14.8412 7.97707 15 8.79102M11.7084 2.16602C13.3994 2.35388 14.9764 3.11116 16.1802 4.31352C17.3841 5.51588 18.1434 7.09186 18.3334 8.78268M8.52253 12.0519C7.52121 11.0506 6.73055 9.91839 6.15056 8.71037C6.10067 8.60647 6.07572 8.55451 6.05656 8.48877C5.98846 8.25514 6.03737 7.96826 6.17905 7.7704C6.21892 7.71472 6.26655 7.66709 6.36181 7.57183C6.65315 7.28049 6.79881 7.13483 6.89405 6.98834C7.25322 6.43593 7.25321 5.72378 6.89405 5.17138C6.79881 5.02489 6.65315 4.87923 6.36181 4.58789L6.19942 4.42549C5.75655 3.98263 5.53511 3.76119 5.2973 3.6409C4.82433 3.40168 4.26577 3.40168 3.79281 3.6409C3.55499 3.76119 3.33355 3.98263 2.89069 4.42549L2.75932 4.55686C2.31797 4.99821 2.09729 5.21889 1.92875 5.51891C1.74174 5.85183 1.60727 6.36891 1.60841 6.75076C1.60943 7.09488 1.67618 7.33007 1.80969 7.80044C2.52716 10.3283 3.88089 12.7136 5.87088 14.7036C7.86086 16.6935 10.2462 18.0473 12.774 18.7647C13.2444 18.8983 13.4795 18.965 13.8237 18.966C14.2055 18.9672 14.7226 18.8327 15.0555 18.6457C15.3555 18.4771 15.5762 18.2565 16.0176 17.8151L16.1489 17.6837C16.5918 17.2409 16.8132 17.0194 16.9335 16.7816C17.1728 16.3087 17.1728 15.7501 16.9335 15.2771C16.8132 15.0393 16.5918 14.8179 16.1489 14.375L15.9865 14.2126C15.6952 13.9213 15.5495 13.7756 15.4031 13.6804C14.8506 13.3212 14.1385 13.3212 13.5861 13.6804C13.4396 13.7756 13.2939 13.9213 13.0026 14.2126C12.9073 14.3079 12.8597 14.3555 12.804 14.3954C12.6062 14.5371 12.3193 14.586 12.0857 14.5179C12.0199 14.4987 11.968 14.4738 11.8641 14.4239C10.656 13.8439 9.52384 13.0532 8.52253 12.0519Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g></svg>
          <span>Call us today at <em><a href="tel:+1 210 598 5949" style="color:#fff;">+1 210 598 5949</a></em></span>
          </div>
      </div>
   </div>
</section>
{% endcomment %}

{% schema %}
{
    "name": "Home SignUp",
    "presets": [
        {
            "name": "Home SignUp"
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Rural or On-the-Road, We've Got You Covered! – Starting At $99.95/Mo"
        },
        {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "Sign Up Today and Experience Internet Without Boundaries!"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}