<div class="banner-slider plan_banner">


<div class="banner-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Main_Slider.png?v=1690193788');">
    <div class="container">
        <div class="slide">
          <a href="tel:+1 385 257 2809"><img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Frame_37.png?v=1690004287" /></a>
            <h1>Nomad Serves the Underserved</h1>
          <h3>Internet for Rural Homes, Businesses, and RVs</h3>
            <div class="banner-list desktop_only">
              <div>
                <p class="banner-list-item">Stream Your Favorite Shows</p>
                <p class="banner-list-item">Play Online Games</p>
                <p class="banner-list-item">Video Calls</p>
                <p class="banner-list-item">Travel Anywhere with Wi-Fi</p>
            </div>
            <div>
                <p class="banner-list-item">Unlimited Internet Data</p>
                <p class="banner-list-item">Speeds Up to 250mbps</p>
                <p class="banner-list-item">Works Anywhere in the USA</p>
                <p class="banner-list-item">Unthrottled Internet</p>
            </div>
            <div>
                <p class="banner-list-item">Easy Self Installation</p>
                <p class="banner-list-item">Pause & Unpause</p>
                <p class="banner-list-item">No Contract</p>
                <p class="banner-list-item">No Credit Check</p>
            </div>
            </div>
            <div class="banner-list mobile_only">
              <div>
                <p class="banner-list-item"><span>●</span> Stream Your Favorite Shows</p>
                <p class="banner-list-item"><span>●</span> Play Online Games</p>
                <p class="banner-list-item"><span>●</span> Video Calls</p>
                <p class="banner-list-item"><span>●</span> Travel Anywhere with Wi-Fi</p>
                <p class="banner-list-item"><span>●</span> Unlimited Internet Data</p>
                <p class="banner-list-item"><span>●</span> Speeds Up to 250mbps</p>
            </div>
            <div>
                <p class="banner-list-item"><span>●</span> Works Anywhere in the USA</p>
                <p class="banner-list-item"><span>●</span> Unthrottled Internet</p>
                <p class="banner-list-item"><span>●</span> Easy Self Installation</p>
                <p class="banner-list-item"><span>●</span> Pause & Unpause</p>
              <p class="banner-list-item"><span>●</span> No Contract</p>
              <p class="banner-list-item"><span>●</span> No Credit Check</p>
            </div>
            </div>
            <a class="banner-btn join_us" href="#modemsection">Join Us</a>
        </div>
    </div>
</div>

<div class="banner-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/RV_Travel_Slider.png?v=1690193788');">
    <div class="container">
        <div class="slide">
          <a href="tel:+1 385 257 2809"><img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Frame_37.png?v=1690004287" /></a>
            <h1>Nomad Serves the Underserved</h1>
          <h3>Internet for Rural Homes, Businesses, and RVs</h3>
            <div class="banner-list desktop_only">
              <div>
                <p class="banner-list-item">Stream Your Favorite Shows</p>
                <p class="banner-list-item">Play Online Games</p>
                <p class="banner-list-item">Video Calls</p>
                <p class="banner-list-item">Travel Anywhere with Wi-Fi</p>
            </div>
            <div>
                <p class="banner-list-item">Unlimited Internet Data</p>
                <p class="banner-list-item">Speeds Up to 250mbps</p>
                <p class="banner-list-item">Works Anywhere in the USA</p>
                <p class="banner-list-item">Unthrottled Internet</p>
            </div>
            <div>
                <p class="banner-list-item">Easy Self Installation</p>
                <p class="banner-list-item">Pause & Unpause</p>
                <p class="banner-list-item">No Contract</p>
                <p class="banner-list-item">No Credit Check</p>
            </div>
            </div>
            <div class="banner-list mobile_only">
              <div>
                <p class="banner-list-item"><span>●</span> Stream Your Favorite Shows</p>
                <p class="banner-list-item"><span>●</span> Play Online Games</p>
                <p class="banner-list-item"><span>●</span> Video Calls</p>
                <p class="banner-list-item"><span>●</span> Travel Anywhere with Wi-Fi</p>
                <p class="banner-list-item"><span>●</span> Unlimited Internet Data</p>
                <p class="banner-list-item"><span>●</span> Speeds Up to 250mbps</p>
            </div>
            <div>
                <p class="banner-list-item"><span>●</span> Works Anywhere in the USA</p>
                <p class="banner-list-item"><span>●</span> Unthrottled Internet</p>
                <p class="banner-list-item"><span>●</span> Easy Self Installation</p>
                <p class="banner-list-item"><span>●</span> Pause & Unpause</p>
              <p class="banner-list-item"><span>●</span> No Contract</p>
              <p class="banner-list-item"><span>●</span> No Credit Check</p>
            </div>
            </div>
            <a class="banner-btn join_us" href="#modemsection">Join Us</a>
        </div>
    </div>
</div>

<div class="banner-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Business.png?v=1690193788');">
    <div class="container">
        <div class="slide">
          <a href="tel:+1 385 257 2809"><img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Frame_37.png?v=1690004287" /></a>
            <h1>Nomad Serves the Underserved</h1>
          <h3>Internet for Rural Homes, Businesses, and RVs</h3>
            <div class="banner-list desktop_only">
              <div>
                <p class="banner-list-item">Stream Your Favorite Shows</p>
                <p class="banner-list-item">Play Online Games</p>
                <p class="banner-list-item">Video Calls</p>
                <p class="banner-list-item">Travel Anywhere with Wi-Fi</p>
            </div>
            <div>
                <p class="banner-list-item">Unlimited Internet Data</p>
                <p class="banner-list-item">Speeds Up to 250mbps</p>
                <p class="banner-list-item">Works Anywhere in the USA</p>
                <p class="banner-list-item">Unthrottled Internet</p>
            </div>
            <div>
                <p class="banner-list-item">Easy Self Installation</p>
                <p class="banner-list-item">Pause & Unpause</p>
                <p class="banner-list-item">No Contract</p>
                <p class="banner-list-item">No Credit Check</p>
            </div>
            </div>
            <div class="banner-list mobile_only">
              <div>
                <p class="banner-list-item"><span>●</span> Stream Your Favorite Shows</p>
                <p class="banner-list-item"><span>●</span> Play Online Games</p>
                <p class="banner-list-item"><span>●</span> Video Calls</p>
                <p class="banner-list-item"><span>●</span> Travel Anywhere with Wi-Fi</p>
                <p class="banner-list-item"><span>●</span> Unlimited Internet Data</p>
                <p class="banner-list-item"><span>●</span> Speeds Up to 250mbps</p>
            </div>
            <div>
                <p class="banner-list-item"><span>●</span> Works Anywhere in the USA</p>
                <p class="banner-list-item"><span>●</span> Unthrottled Internet</p>
                <p class="banner-list-item"><span>●</span> Easy Self Installation</p>
                <p class="banner-list-item"><span>●</span> Pause & Unpause</p>
              <p class="banner-list-item"><span>●</span> No Contract</p>
              <p class="banner-list-item"><span>●</span> No Credit Check</p>
            </div>
            </div>
            <a class="banner-btn join_us" href="#modemsection">Join Us</a>
        </div>
    </div>
</div>  

<div class="banner-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Gamer.png?v=1690193788');">
    <div class="container">
        <div class="slide">
          <a href="tel:+1 385 257 2809"><img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Frame_37.png?v=1690004287" /></a>
            <h1>Nomad Serves the Underserved</h1>
          <h3>Internet for Rural Homes, Businesses, and RVs</h3>
            <div class="banner-list desktop_only">
              <div>
                <p class="banner-list-item">Stream Your Favorite Shows</p>
                <p class="banner-list-item">Play Online Games</p>
                <p class="banner-list-item">Video Calls</p>
                <p class="banner-list-item">Travel Anywhere with Wi-Fi</p>
            </div>
            <div>
                <p class="banner-list-item">Unlimited Internet Data</p>
                <p class="banner-list-item">Speeds Up to 250mbps</p>
                <p class="banner-list-item">Works Anywhere in the USA</p>
                <p class="banner-list-item">Unthrottled Internet</p>
            </div>
            <div>
                <p class="banner-list-item">Easy Self Installation</p>
                <p class="banner-list-item">Pause & Unpause</p>
                <p class="banner-list-item">No Contract</p>
                <p class="banner-list-item">No Credit Check</p>
            </div>
            </div>
            <div class="banner-list mobile_only">
              <div>
                <p class="banner-list-item"><span>●</span> Stream Your Favorite Shows</p>
                <p class="banner-list-item"><span>●</span> Play Online Games</p>
                <p class="banner-list-item"><span>●</span> Video Calls</p>
                <p class="banner-list-item"><span>●</span> Travel Anywhere with Wi-Fi</p>
                <p class="banner-list-item"><span>●</span> Unlimited Internet Data</p>
                <p class="banner-list-item"><span>●</span> Speeds Up to 250mbps</p>
            </div>
            <div>
                <p class="banner-list-item"><span>●</span> Works Anywhere in the USA</p>
                <p class="banner-list-item"><span>●</span> Unthrottled Internet</p>
                <p class="banner-list-item"><span>●</span> Easy Self Installation</p>
                <p class="banner-list-item"><span>●</span> Pause & Unpause</p>
              <p class="banner-list-item"><span>●</span> No Contract</p>
              <p class="banner-list-item"><span>●</span> No Credit Check</p>
            </div>
            </div>
            <a class="banner-btn join_us" href="#modemsection">Join Us</a>
        </div>
    </div>
</div>    

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
var $j = $.noConflict();  
$j(document).ready(function(){
$j('.plan_banner').slick({
dots: false,
infinite: true,
speed: 500,
slidesToShow: 1,
autoplaySpeed: 5000,
arrows: false,
slidesToScroll: 1,
autoplay: true,
fade: true,
cssEase: 'ease-out',  
});
$j('.review-list').slick({
className: 'center',
centerMode: true,
infinite: true,
slidesToShow: 3,
speed: 500,
arrows: false,
  autoplaySpeed: 5000,
  autoplay: true,
dots: true,
centerPadding: '0px',
responsive: [
{
breakpoint: 1025,
settings: {
slidesToShow: 2,
slidesToScroll: 1,
},
},
  {
breakpoint: 640,
settings: {
slidesToShow: 1,
slidesToScroll: 1,
centerPadding: '0px',
},
},
],
});
  
});
</script>

{% schema %}
{
"name": "Plan Banner Slider",
"presets": [
{
"name": "Plan Banner Slider"
}
],  
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}