<div class="appcontainer">
  <div class="feturs">
    <h2>Our Features</h2>
    <p>Explore some of the Features included in our Nomad App</p>
  </div>
  <div class="survl">
    <div class="urplan">
      <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Group.png?v=1670498327">
      <div class="lln"></div>
      <h4>Activate your Plan</h4>
      <p>Activate your Internet plan directly from the Nomad app in just a few clicks</p>
    </div>
    <div class="urplan rd-plan">
      <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/ic_twotone-pause-circle-outline-_1.png?v=1670571444">
      <div class="lln"></div>
      <h4>Pause</h4>
      <p>For the First Time Ever, now you can Pause your Billing at your convenience </p>
    </div>
    <div class="urplan">
      <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Manage-your-Plan.png?v=1670578649">
      <div class="lln"></div>
      <h4>Manage your Plan</h4>
      <p>Manage all your plans, devices and other settings using the Nomad Mobile App</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}