<div class="VD">
    <video controls poster="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Group_1000006904.png?v=1670590452" width="100%">
      <source src="https://cdn.shopify.com/videos/c/o/v/91134b450eba46f6819a74d275e4fdf7.mp4" type="video/mp4">
    </video>
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}