<div class="appcontainer">
    <h3 class="thnk">Number Speaks Everything</h3>
  <div class="spks">
    <div class="dnlod">
      <h2>50000+</h2>
      <p>Downloads</p>
    </div>
    <div class="dnlod">
      <h2>$300K+</h2>
      <p>Worth Bill Saved </p>
    </div>
    <div class="dnlod">
      <h2>500+</h2>
      <p>5 Star Rating</p>
    </div>
    <div class="dnlod">
      <h2>22</h2>
      <p>Times  Featured</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "app below ban",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}