<div class="appcontainer">
  <div class="scrn">
    <h3>App Screen</h3>
    <h2>How our app looks like</h2>
    <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Frame-1629.png?v=1670573207">
  </div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}