<div class="appcontainer">
  <div class="apall">
      <div class="appleft">
          <h4>Welcome To Nomad App</h4>
        <h1>First Time Ever</h1>
        <h5>Now Manage your Billing at your <span style="color:#109D59; font-size:70px; font-weight:700; line-height:84px; letter-spacing: -0.04em;">Convenience</span></h5>
        <div class="flbtn">
          <a href="https://apps.apple.com/us/app/nomad-internet/id6444594379" class="cnbutn">
          <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Vector_18.png?v=1670485791">Download for iOS
        </a>
        <a href="https://play.google.com/store/apps/details?id=co.shopney.everywhereinternet&hl=en_US&gl=US" class="cnbutn2">
          <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Vector_17.png?v=1670485639">Download for Android
        </a>
        </div>
      </div>
    <div class="appright">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/banner.png?v=1670485903">
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "App Banner",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
  div#shopify-section-app-banner {
    background: url(https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Vector_2.png?v=1670498073);
    background-size: cover;
    background-position: bottom right;
    padding-top: 132px;
    padding-bottom: 130px;
    background-repeat: no-repeat;
}
  #nomad-app .main-header {
    position: absolute;
    width: 100%;
}
.appleft {
    padding-top: 50px;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}