<div class="sec_2bar">
	<div class="icn_flx">
		<div class="bdr_1">
<div class="im_1">
<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Group6.png?v=1670322699">
</div>
<div class="dat">
	<h3>12+ TB</h3>
	<p>Daily Data consumed</p>
</div>
</div>
</div>

<div class="icn_flx">
	<div class="bdr_1">
<div class="im_1">
<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Group_1829.png?v=1670321326">
</div>
<div class="dat">
	<h3>5000+</h3>
	<p>Our loyal customers </p>
</div>
</div>
</div>

<div class="icn_flx bdr_2">
	<div class="bdr_1">
<div class="im_1">
<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Group_1831.png?v=1670321330">
</div>
<div class="dat">
	<h3>174+</h3>
	<p>Number of Cities</p>
</div>
</div>
</div>

</div>
<style>

	.sec_2bar {
  width: 100%;
      max-width: 1860px;
/*   background: #11112E; */
  display: flex;
justify-content: space-between;
padding: 20px 20px;
      margin: auto;
}
.dat h3 {
 font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.dat p{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
color: rgba(255, 255, 255, 0.6);
}
.icn_flx {
    width: 100%;
        max-width: 515px;

    border-right: 1px solid #fff;
    margin: auto;
  display: flex;
    justify-content: center;
}
.bdr_1 {
      width: 100%;
    max-width: 255px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.bdr_2 {
  border: none;
}
@media only screen and (max-width: 786px) {
		.sec_2bar {
			display: table;
			padding: 20px 20px;
		}
		.icn_flx {
		margin-top: 50px;
		border: none;
	}
}
</style>