<div class="cube-table">
	<div class="cube-table__header">
		<div class="row" style="--gutter-x: 10px">
			<div class="col">
				<div class="cube-table__card card">
					<div class="card__image">
						<div class="ratio" style="--ratio: calc(274 / 360 * 100%)">
							<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/4_976a1f79-c03f-47c3-b210-abd4f829ccf8.jpg?v=1677265155" alt="The Noma AIR" loading="lazy" width="360" height="274">
						</div>
					</div>
					<div class="card__content">
						<h3>The Nomad AIR</h3>
						<div class="card__price">
							<span>$299</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="cube-table__card card card--primary">
					<div class="card__image">
						<div class="ratio" style="--ratio: calc(274 / 360 * 100%)">
							<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/5.jpg?v=1677265429" alt="The Nomad Cube" loading="lazy" width="360" height="274">
						</div>
					</div>
					<div class="card__content">
						<h3>The Nomad Cube</h3>
						<div class="card__price">
							<s>$399</s>
							<span>$99</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="cube-table__card card">
					<div class="card__image">
						<div class="ratio" style="--ratio: calc(274 / 360 * 100%)">
							<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/6_341697f1-36f8-43e8-b8c5-81bcd89a0bd2.jpg?v=1677265252" alt="The Nomad Raptor" loading="lazy" width="360" height="274">
						</div>
					</div>
					<div class="card__content">
						<h3>The Nomad Raptor</h3>
						<div class="card__price">
							<span>$499</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="--gutter-x: 10px">
			<div class="col-12">
				<div class="row__title">Wireless C-Band Modem with Up to Unlimited Data</div>
				<div class="row" style="--gutter-x: 10px; --gutter-y: 10px">
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="--gutter-x: 10px">
			<div class="col-12">
				<div class="row__title">Made for Travelers</div>
				<div class="row" style="--gutter-x: 10px; --gutter-y: 10px">
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell negative">
							{% render 'x-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell negative">
							{% render 'x-circle' %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="--gutter-x: 10px">
			<div class="col-12">
				<div class="row__title">Made for Business or Gaming</div>
				<div class="row" style="--gutter-x: 10px; --gutter-y: 10px">
					<div class="col">
						<div class="cell negative">
							{% render 'x-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell negative">
							{% render 'x-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="--gutter-x: 10px">
			<div class="col-12">
				<div class="row__title">Optional battery backup</div>
				<div class="row" style="--gutter-x: 10px; --gutter-y: 10px">
					<div class="col">
						<div class="cell negative">
							{% render 'x-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell negative">
							{% render 'x-circle' %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="--gutter-x: 10px">
			<div class="col-12">
				<div class="row__title">Compatible with 5G and 4G</div>
				<div class="row" style="--gutter-x: 10px; --gutter-y: 10px">
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="--gutter-x: 10px">
			<div class="col-12">
				<div class="row__title">High Capacity</div>
				<div class="row" style="--gutter-x: 10px; --gutter-y: 10px">
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="--gutter-x: 10px">
			<div class="col-12">
				<div class="row__title">Cost-Effective</div>
				<div class="row" style="--gutter-x: 10px; --gutter-y: 10px">
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
					<div class="col">
						<div class="cell">
							{% render 'check-circle' %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="--gutter-x: 10px">
			<div class="col-12">
				<div class="row" style="--gutter-x: 10px; --gutter-y: 10px">
					<div class="col-12">
						<div class="cell">
							<a href="#cube-choose-plans" class="btn lg">Choose a Plan</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% schema %}
{
  "name": "cube-table",
  "class": "container",
  "tag": "div",
  "limit": 1,
  "presets": [
    {
      "name": "Cube Table"
    }
	]
}
{% endschema %}
