<section class="drpdwn_1">
<div class="fst_div">
  <h3>Air vs Raptor</h3>
   </div>
  <div class="tp_flx">
<div class="nm_1">
    <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/1_8a196c50-289b-4e57-8682-608f7d6f6b48.png?v=1670329264">
  <h2>Nomad AIR</h2> 
</div>
<div class="nm_1 nm_2">
    <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/2_6c48b008-2ed9-4789-ab7e-11f9654694af.png?v=1670330013">
  <h2>Nomad RAPTOR</h2> 
</div>
  </div>
 
<div class="lst_btm_sec">
  
<div class="lis_modm_1">
<div class="air_drop">
<p>2x2 MIMO Wi-Fi 6</p>
</div>
<div class="air_drop">
<p>Up to 30</p>
</div>
<div class="air_drop">
<p>Up to 1 Gbps*</p>
</div>
<div class="air_drop">
<p>1 LAN Port, 1 USB-C Port</p>
</div>
<div class="air_drop">
<p>Open VPN</p>
</div>
  </div>

  <div class="lis_modm_2">
<div class="air_drop air_drop1">
<p>4x4 MIMO Wi-Fi 6</p>
</div>
<div class="air_drop air_drop1">
<p>Up to 128</p>
</div>
<div class="air_drop air_drop1">
<p>Up to 3.3 Gbps*</p>
</div>
<div class="air_drop air_drop1">
<p>3 LAN Ports, 1 WAN Port</p>
</div>
<div class="air_drop air_drop1">
<p>Open VPN, IPsec VPN</p>
</div>
  </div>
  </div>

  <div class="trngle_1">
  <div class="trngle_drop">
  <p style="padding-top:20px;">Network Technology</p>
    <span class="line"></span>
</div>
  <div class="trngle_drop">
  <p>Number of Devices</p>
    <span class="line"></span>
</div>
  <div class="trngle_drop">
  <p>Download Speed</p>
    <span class="line"></span>
</div>
  <div class="trngle_drop">
  <p>Ports</p>
    <span class="line"></span>
</div>
  <div class="trngle_drop">
  <p style="padding-bottom:15px;margin-bottom: 5px;padding-top: 5px;">VPN</p>
</div>
      </div>
</section>
<style>
  .lis_modm_1 {
    width: 50%;
}
  .lis_modm_2 {
    width: 50%;
}
  .trngle_1 {
    background: url(https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Group_47570.png?v=1670326549);
   background-size: cover;
   /* height: 388px;
    width: 500px;*/
   background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 40%;
    left: 35%;
    width: 100%;
    max-width: 560px;
  }
  section.drpdwn_1 {
    padding: 20px 0px 20px 0px;
    position:relative;
}
  .nm_1 img {
    width: 100%;
    max-width: 342px;
}
  .nm_1 h2 {
    font-weight: 800;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #121212;
  }
  .nm_1 {
    text-align: center;
}
  .nm_2{
      margin-left: 40px;
  }

  .tp_flx {
    display: flex;
    width: 100%;
    max-width: 1350px;
    justify-content: space-between;
       margin: auto;
    padding-top:27px;
    margin-bottom: 30px;
}

  .lst_btm_sec {
    display: flex;
   justify-content: space-evenly;
    width: 100%;
    max-width: 1650px;
    margin: auto;
    column-gap: 20%;
}
 .fst_div {
    display: flex;
    justify-content: center;
    max-width: 1590px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
  .air_drop p {
    font-weight: 600;
    font-size: 32px;
    line-height: 60px;
    letter-spacing: 0.5px;
    color: #fff;
    margin-bottom:60px;
}
  .air_drop {
    background: linear-gradient(90deg, #37DED6 0%, #00B295 100%);
    border-radius: 50px 0px 0px 50px;
    text-align: center;
/*     width: 850px; */
}
 .air_drop1 {
    background: linear-gradient(90deg, #478BEC 0%, #27BFE8 100%);
    border-radius: 0px 50px 50px 0px;
    text-align: center;
/*     width: 850px; */
  
}
  .trngle_drop p {
    text-align: center;
    letter-spacing: 0.5px;
    color: #000000;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 64px;
    padding-top:10px;
    /*padding: 10px 0 30px;*/
}
  .line{
    max-width: 300px;
    margin: auto;
    background: #000;
    height: 0.5px;
    width: 260px;
    /* border-bottom: 1px solid #000; */
    display: block;
    margin: 25px auto;
        opacity: .3;
  }


</style>