<div class="container1">


	<div class="all_flx">
		<div class="div_1">
	<div class="flx flx1">
	
<div class="txt_1 txt_2">
  <h6>Nomad App</h6>
<h2>The ultimate control for your Internet plan</h2>
<br>
<p>Lose the Stress, Not Your Plans. There is only one choice for a faster and smarter way to manage your plan: Nomad App. Say goodbye to the days of limited control over your internet plan. The only app that gives you ultimate control over your internet plan. Don't stress about wasting money on a plan you won't use. While other apps offer limited features, Nomad gives you full power to activate or pause your plan, manage your bills, breeze through amazing speed, and never worry about surprise charges. Enjoy the freedom to take a vacation without worrying about your ongoing commitment.
<br><br>
But that's not all. The Nomad App is known for its lightning-fast speed and top-rated performance, with over 500+ 5-star ratings and 50,000 downloads. And with over $300,000 worth of bills saved, it's no surprise that the Nomad App is a must-have for anyone looking to take control of their internet plan.

</p>


</div>
</div>


</div>


<div class="div_2">
<h2>Here’s Why You’ll Love This</h2>
		<div class="flx">
	<div class="icn_1">
<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/healthicons_yes.png?v=1670417612">
	</div>
<div class="txt_1">
<h3>Full control over your internet plan</h3>
<p>With the Nomad App, you can activate and pause your plan at will, giving you ultimate control over your internet usage.
 </p>
</div>
</div>
<div class="flx">
	<div class="icn_1">
<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/healthicons_yes.png?v=1670417612">
	</div>
<div class="txt_1">
<h3>Save money on your bills</h3>
<p>The Nomad App has already helped its users save over $300,000 on their bills - imagine how much you could save with this powerful tool.
 </p>
</div>
</div>
<div class="flx">
	<div class="icn_1">
<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/healthicons_yes.png?v=1670417612">
	</div>
<div class="txt_1">
<h3>Sleek user interface</h3>
<p>The Nomad App is not only functional but also super sleek and easy to use. You'll love the intuitive design and smooth navigation.
</p>
</div>
</div>
<div class="flx">
  <div class="icn_1">
<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/healthicons_yes.png?v=1670417612">
  </div>
<div class="txt_1">
<h3>Blazing fast speeds</h3>
<p>Don't let a slow internet connection hold you back. The Nomad App ensures that you have lightning-fast speeds for all your internet needs.
</p>
</div>
</div>
<div class="flx">
	<div class="icn_1">
<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/healthicons_yes.png?v=1670417612">
	</div>
<div class="txt_1">
<h3>Trusted by thousands</h3>
<p>With over 50,000 downloads and 500+ 5-star ratings, it's clear that the Nomad App is a trusted and reliable choice for managing your internet plan.<br><br><strong>So why wait?</strong> Download the Nomad App today and join the ranks of satisfied users enjoying ultimate control and peace of mind.
</p>
</div>
</div>
</div>
</div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<style>
 #shopify-section-Customhtmlforapp .all_flx {
  max-width: 1700px !important;
  padding: 10px 40px;
  margin: auto;
}
  #shopify-section-Customhtmlforapp  .div_2 h2 {
  padding-bottom: 30px;
}
 #shopify-section-Customhtmlforapp   .txt_1.txt_2 h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  display: flex;
  align-items: center;
  color: #000000;
}
  .div_2 h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 75px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-top: 40px;
}
 #shopify-section-Customhtmlforapp .txt_1.txt_2 h6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  letter-spacing: -0.02em;
  color: #109D59!important; 
}
 #shopify-section-Customhtmlforapp .div_2{
    padding-top:0px;
 }
 #shopify-section-Customhtmlforapp .flx{
    max-width:100%!important;
  }
@media only screen and (max-width: 990px){
 #shopify-section-Customhtmlforapp .all_flx h2 {
  line-height: 1.8em !important;
   padding-left:6px;
}
 #shopify-section-Customhtmlforapp  .div_1 {
  padding: 0px;
}
 #shopify-section-Customhtmlforapp .div_2{
    padding:5px;
  }
  #shopify-section-Customhtmlforapp .all_flx{
    padding:10px!important;
  }
}
    
</style>