{%- comment -%} FAQ section {%- endcomment -%}

<div data-section-id="{{ section.id }}" data-section-type="faq-section">
	{%- render 'faq-new' -%}
</div>
<style>.faq-content,.faq-section{margin:50px 0}.faq-content .page-title__subheading,.faq-section .page-title__subheading{margin-bottom:0}.faq-list{list-style:none;max-width:1000px;margin:0 auto}.faq-list__item{border-bottom:1px solid var(--color-border)}.faq-list__item-question{font-family:var(--heading-font-family);font-weight:var(--heading-font-weight);font-style:var(--heading-font-style);font-size:var(--font-size-h3);line-height:1.3;margin-bottom:.2em;display:block;position:relative;padding:20px 40px 20px 0;cursor:pointer}.faq-list__item-question .icon{top:50%;right:0;position:absolute;display:flex;align-items:center;justify-content:center;width:40px;height:40px;padding:10px;margin-top:-20px;transition:opacity .3s linear,transform .3s linear}.faq-list__item-question .icon-minus{opacity:0;transform:rotate(90deg)}.faq-list__item-question .icon-plus{opacity:1}.is-expanded .faq-list__item-question .icon-minus{opacity:1;transform:rotate(0deg)}.is-expanded .faq-list__item-question .icon-plus{opacity:0;transform:rotate(90deg)}.faq-list__item-answer{overflow:hidden;max-height:0;padding:0;opacity:0;transition:max-height .3s ease-in-out,padding .3s ease-in-out,opacity .3s ease-in-out}.is-expanded .faq-list__item-answer{max-height:2000px;padding:0 0 30px;opacity:1}</style>
{% schema %}
{
	"name": "FAQ",
	"class": "shopify-section--faq",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "FAQ"
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "Subheading",
			"default": "Questions and Answers"
		},
		{
			"type": "header",
			"content": "FAQ tabs",
			"info": "Tabs are required for FAQ page template. You can add them as blocks in order to edit or reorder."
		}
	],
	"blocks": [
		{
			"name": "Item",
			"type": "item",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Question",
					"default": "Question"
				},
				{
					"type": "richtext",
					"id": "answer",
					"label": "Answer",
					"default": "<p>Use this answer block to discuss some commonly asked questions you've discovered from your customers interactions. You could discuss product details, size fit, shipping policies, or anything you think would help merchants make an informed decision about your product or collection. This section will appear across all products.</p>"
				}
			]
		}
	],
	"presets": [
		{
			"category": "Text",
			"name": "FAQ",
			"blocks": [
				{
					"type": "item"
				},
				{
					"type": "item"
				},
				{
					"type": "item"
				}
			]
		}
	]
}
{% endschema %}