<footer>
  <div class="container">
      <div class="top-footer">
          <a class="font-bold" href="/"><img src="https://cdn.shopify.com/oxygen/10328473658/98362/x2hcgp3ch/build/_assets/logo-white-QWTJ7P6L.png" alt="logo" class="footer-logo" loading="lazy" width="300px" height="100px"/></a>
        <div class="google-pay-logo"> 
        <a href="https://play.google.com/store/apps/details?id=com.nomadbusiness&pcampaignid=web_share" target="_blank"><img class="apple_store" src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Mobile_play_store_badge.svg?v=1695114000" alt="logo" class="google-pay-logo" loading="lazy"  width="150px" height="100px"/></a>
        <a href="https://apps.apple.com/us/app/nomad-connect/id6473183049" target="_blank"><img class="play_store" src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Mobile_app_store_badge-1.svg?v=1695113998" alt="logo" class="google-pay-logo" loading="lazy" width="150px" height="100px"/></a>
        </div>
      </div>
      <div class="footer-menu">
          <div class="menu">
              <h4>Internet</h4>
            {% comment %} 
            <ul>
                <li><a href="/pages/wireless-internet">Wireless Internet</a></li>
                <li><a href="/pages/nomad-enterprise">Enterprise</a></li>
                <li><a href="/pages/nomad-wifi">WiFi</a></li>
                <li><a href="/pages/nomad-transportation">Transportation</a></li>
                <li><a href="/pages/nomad-retail">Retail</a></li>
                <li><a href="/pages/states">Availability</a></li>
              </ul>
              {% endcomment %}
              <ul>
                <li><a href="/pages/plans">Wireless Internet</a></li>
                <li><a href="/pages/plans">Enterprise</a></li>
                <li><a href="/pages/plans">WiFi</a></li>
                <li><a href="/pages/plans">Transportation</a></li>
                <li><a href="/pages/plans">Retail</a></li>
                <li><a href="/pages/plans">Availability</a></li>
              </ul>
          </div>
          <div class="menu">
              <h4>Modems</h4>
              <ul>
                <li><a href="/pages/offers">Nomad Modems</a></li>
                <li><a href="/pages/nomad-air">Nomad Air</a></li>
                <li><a href="/pages/nomad-raptor">Nomad Raptor</a></li>
                <li><a href="/pages/nomad-omega">Nomad Omega</a></li>
                <li><a href="/pages/travel-bag-nomad">Nomad Travel Kit System</a></li>
              </ul>
          </div>

          <div class="menu">
              <h4>Community Programs</h4>
              <ul>
                <li><a href="/pages/free-modem">Friends of Nomad</a></li>
                {% comment %}target="_blank"{% endcomment %}
                <li><a href="http://free.nomadinternet.com" target="_blank">Five 4 Life Program</a></li>
                <li><a href="/pages/primestore">Prime Store</a></li>
                <li><a href="/pages/collaborator">Influencers & Creators</a></li>
                <li><a href="https://apps.apple.com/us/app/nomad-internet/id6444594379" target="_blank">Mobile App</a></li>
                <li><a href="/pages/reseller">Nomad reseller</a></li>
              </ul>
          </div>
        
          <div class="menu">
              <h4>Resources</h4>
              <ul>
                  <li><a href="/pages/aboutus">About Us</a></li>
                <li><a href="/blogs/countrynomad">Blog</a></li>
                  <li><a href="https://support.nomadinternet.com/portal/en/kb/hxo" target="_blank">FAQ's</a></li>
                  <li><a href="https://support.nomadinternet.com" target="_blank">Submit Ticket</a></li>
                <li><a href="https://nomadinternet.com/pages/nomad-technology" target="_blank">How it Works</a></li>
                <li><a href="/pages/survey">Survey</a></li>
              </ul>
          </div>
          <div class="menu">
              <h4>Company</h4>
              <ul>
                <li><a href="/pages/press-room">Recent News</a></li>
                  <li><a href="/pages/contacts">Business Opportunities</a></li>  
                <li><a href="/pages/nomad-brand">Nomad Brand</a></li>
                  <li><a href="https://nomadinternet.zohorecruit.com/careers" target="_blank">Careers</a></li>  
                  <li><a href="/policies/terms-of-service" target="_blank">Terms of Service</a></li>
                  <li><a href="/pages/privacy-policy">Privacy Policy</a></li>  
              </ul>
          </div>
      </div>

<div class="social_links">
        <a href="https://www.facebook.com/nomadinternet" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="50px" height="50px" fill-rule="nonzero" fill="#00a77f"><g transform="translate(-24.32,-24.32) scale(1.19,1.19)"><g fill="#00a77f" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M41,4h-32c-2.76,0 -5,2.24 -5,5v32c0,2.76 2.24,5 5,5h32c2.76,0 5,-2.24 5,-5v-32c0,-2.76 -2.24,-5 -5,-5zM37,19h-2c-2.14,0 -3,0.5 -3,2v3h5l-1,5h-4v15h-5v-15h-4v-5h4v-3c0,-4 2,-7 6,-7c2.9,0 4,1 4,1z"/></g></g></g></svg>
        </a>
        
        <a href="https://www.instagram.com/nomadinternet/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="50px" height="50px" fill-rule="nonzero" fill="#00a77f"><g transform="translate(-34.56,-34.56) scale(1.27,1.27)"><g fill="#00a77f" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(4,4)"><path d="M21.58008,7c-8.039,0 -14.58008,6.54494 -14.58008,14.58594v20.83203c0,8.04 6.54494,14.58203 14.58594,14.58203h20.83203c8.04,0 14.58203,-6.54494 14.58203,-14.58594v-20.83398c0,-8.039 -6.54494,-14.58008 -14.58594,-14.58008zM47,15c1.104,0 2,0.896 2,2c0,1.104 -0.896,2 -2,2c-1.104,0 -2,-0.896 -2,-2c0,-1.104 0.896,-2 2,-2zM32,19c7.17,0 13,5.83 13,13c0,7.17 -5.831,13 -13,13c-7.17,0 -13,-5.831 -13,-13c0,-7.169 5.83,-13 13,-13zM32,23c-4.971,0 -9,4.029 -9,9c0,4.971 4.029,9 9,9c4.971,0 9,-4.029 9,-9c0,-4.971 -4.029,-9 -9,-9z"/></g></g></g></svg>
        </a>
        
        <a href="https://twitter.com/NomadInternet_" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="965" height="965" viewBox="0 0 965 965" fill="none">
            <path d="M482.28 963.93C748.111 963.93 963.61 748.431 963.61 482.599C963.61 216.768 748.111 1.26953 482.28 1.26953C216.449 1.26953 0.950195 216.768 0.950195 482.599C0.950195 748.431 216.449 963.93 482.28 963.93Z" fill="#00A77F" stroke="white" stroke-miterlimit="10"/>
            <path d="M185.78 203.73L415.85 511.35L184.33 761.46H236.44L439.14 542.48L602.91 761.46H780.23L537.21 436.54L752.71 203.73H700.6L513.93 405.4L363.1 203.73H185.78ZM262.41 242.11H343.87L703.59 723.08H622.13L262.41 242.11Z" fill="black"/>
          </svg>
        </a>
        
        <a href="https://www.youtube.com/channel/UCcBI2HQJlPsykWHE5kVHPSg/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="50px" height="50px" fill-rule="nonzero" fill="#00a77f"><g transform="translate(-28.16,-28.16) scale(1.22,1.22)"><g fill="#00a77f" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(4,4)"><path d="M56.456,17.442c-0.339,-1.44 -1.421,-2.595 -2.866,-3.053c-3.829,-1.215 -12.136,-2.389 -21.59,-2.389c-9.454,0 -17.761,1.174 -21.591,2.389c-1.445,0.458 -2.527,1.613 -2.866,3.053c-0.64,2.719 -1.543,7.761 -1.543,14.558c0,6.797 0.903,11.839 1.544,14.558c0.339,1.44 1.421,2.595 2.866,3.053c3.829,1.215 12.136,2.389 21.59,2.389c9.454,0 17.761,-1.174 21.591,-2.389c1.445,-0.458 2.527,-1.613 2.866,-3.053c0.64,-2.719 1.543,-7.761 1.543,-14.558c0,-6.797 -0.903,-11.839 -1.544,-14.558zM27,40v-16l14.857,8z"/></g></g></g></svg>
        </a>
        
        <a href="https://www.linkedin.com/company/nomadinternet/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="50px" height="50px" fill-rule="nonzero" fill="#00a77f"><g transform="translate(-40.96,-40.96) scale(1.32,1.32)"><g fill="#00a77f" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(4,4)"><path d="M48,8h-32c-4.418,0 -8,3.582 -8,8v32c0,4.418 3.582,8 8,8h32c4.418,0 8,-3.582 8,-8v-32c0,-4.418 -3.582,-8 -8,-8zM24,47h-5v-20h5zM24.029,23.009c-0.647,0.66 -1.491,0.991 -2.529,0.991c-1.026,0 -1.865,-0.341 -2.519,-1.023c-0.654,-0.682 -0.981,-1.519 -0.981,-2.509c0,-1.02 0.327,-1.852 0.981,-2.498c0.654,-0.647 1.493,-0.97 2.519,-0.97c1.038,0 1.882,0.323 2.529,0.969c0.647,0.646 0.971,1.479 0.971,2.499c0,1.034 -0.324,1.881 -0.971,2.541zM47,47h-5v-11.113c0,-3.099 -1.786,-4.887 -4,-4.887c-1.067,0 -2.274,0.648 -2.965,1.469c-0.691,0.821 -1.035,1.862 -1.035,3.125v11.406h-5v-20h5v3.164h0.078c1.472,-2.435 3.613,-3.644 6.426,-3.652c3.996,-0.012 6.496,2.988 6.496,8.242z"></path></g></g></g></svg>
        </a>
        <a href="https://www.tiktok.com/@nomadinternet" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" style="fill: #00a77f; width: 25px;" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 449.45 515.38"><path fill-rule="nonzero" d="M382.31 103.3c-27.76-18.1-47.79-47.07-54.04-80.82-1.35-7.29-2.1-14.8-2.1-22.48h-88.6l-.15 355.09c-1.48 39.77-34.21 71.68-74.33 71.68-12.47 0-24.21-3.11-34.55-8.56-23.71-12.47-39.94-37.32-39.94-65.91 0-41.07 33.42-74.49 74.48-74.49 7.67 0 15.02 1.27 21.97 3.44V190.8c-7.2-.99-14.51-1.59-21.97-1.59C73.16 189.21 0 262.36 0 352.3c0 55.17 27.56 104 69.63 133.52 26.48 18.61 58.71 29.56 93.46 29.56 89.93 0 163.08-73.16 163.08-163.08V172.23c34.75 24.94 77.33 39.64 123.28 39.64v-88.61c-24.75 0-47.8-7.35-67.14-19.96z"/></svg>
        </a>
      </div>
    
      <div class="bottom-footer"><p>NomadInternet 2024©. All rights reserved.</p></div>
  </div>
</footer>


{% comment %}
<footer id="footer" class="footer">
<div class="back-to-top">
  <div class="back-to-top__btn"><span>↑</span>Back To Top<span>↑</span></div>
</div>

<div class="container">
  <div class="footer__topline">
    <a href="/" class="logo logo--footer">
      <img src="{{ 'logo.svg' | asset_url }}" alt="Nomad Internet" loading="lazy" width="180" height="auto">
    </a>

    <div class="footer__app-store">
      <p>Our app is Live. Download Now!</p>
      <div class="footer__app-store__links">
        <a href="https://apps.apple.com/us/app/nomad-internet/id6444594379">
          <img src="{{ 'apple.svg' | asset_url }}" alt="Nomad Internet" loading="lazy" width="40" height="40">
        </a>
        <a href="https://play.google.com/store/apps/details?id=co.shopney.everywhereinternet&hl=en_US&gl=US">
          <img src="{{ 'android.svg' | asset_url }}" alt="Nomad Internet" loading="lazy" width="40" height="40">
        </a>
      </div>
    </div>
  </div>

  <div class="row space-around" style="--gutter-x: 40px">
    <div class="col-auto">
      <div class="widget footer__widget">
        <h4 class="widget__title">Internet</h4>
        <ul>
          <li><a href="/pages/wireless-internet">Wireless Internet</a></li>
          <li><a href="/pages/nomad-enterprise">Enterprise</a></li>
          <li><a href="/pages/nomad-wifi">WiFi</a></li>
          <li><a href="/pages/nomad-transportation">Transportation</a></li>
          <li><a href="/pages/nomad-retail">Retail</a></li>
          <li><a href="/pages/states">Availability</a></li>
        </ul>
      </div>
    </div>

    <div class="col-auto">
      <div class="widget footer__widget">
        <h4 class="widget__title">Modems</h4>
        <ul>
          <li><a href="/pages/nomad-modems">Nomad Modems</a></li>
          <li><a href="/pages/nomad-residential-plan">Nomad Cube</a></li>
          <li>
            <a href="/pages/nomad-residential-plan">Nomad Air</a>
          </li>
          <li>
            <a href="/pages/nomad-power-plan">Nomad Raptor</a>
          </li>
          <li><a href="/pages/nomad-air-plan">Nomad Air Travel</a></li>
          <li><a href="/pages/specifications">Specifications</a></li>
        </ul>
      </div>
    </div>

    <div class="col-auto">
      <div class="widget footer__widget">
        <h4 class="widget__title">Plans</h4>
        <ul>
          <li><a href="/pages/plans">Nomad Plans</a></li>
          <li><a href="/pages/nomad-residential-plan">Nomad Unlimited Residential</a></li>
          <li><a href="/pages/nomad-travel-plan">Nomad Unlimited Travel</a></li>
          <li><a href="/pages/nomad-power-plan">Nomad Unlimited Power</a></li>
          <li><a href="/pages/nomad-rural-one-plan">Nomad Unlimited Residential 4G</a></li>
          <li><a href="/pages/nomad-prime-data-try-for-free">Nomad Unlimited Prime</a></li>
        </ul>
      </div>
    </div>

    <div class="col-auto">
      <div class="widget footer__widget">
        <h4 class="widget__title">Resources</h4>
        <ul>
          <li><a href="/blogs/countrynomad">Blog</a></li>
          <li><a href="https://support.nomadinternet.com/">Support & F.A.Q</a></li>
          <li><a href="https://community.nomadinternet.com/">Community</a></li>
          <li><a href="/pages/nomad-brand">Nomad Brand</a></li>
          <li><a href="/pages/career-opportunities">Work At Nomad</a></li>
          <li><a href="/pages/survey">Survey</a></li>
        </ul>
      </div>
    </div>

    <div class="col-auto">
      <div class="widget footer__widget footer__widget--contacts">
        <h4 class="widget__title">Contacts</h4>
        <ul>
          <li>
            <span class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
              </svg>
            </span>
            <address>
              1308 Common St Suite 205<br>
              New Braunfels, Texas 78130
            </address>
          </li>
          <li>
            <span class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
              </svg>
            </span>
            <div>
              <a href="tel:+1 385 257 2809">+1 385 257 2809</a>
            </div>
          </li>
          <li>
            <span class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
              </svg>
            </span>
            <a href="mailto:support@nomadinternet.com">support@nomadinternet.com</a>
          </li>
          <li>
            <span class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
              </svg>
            </span>
            <a href="mailto:media@nomadinternet.com">media@nomadinternet.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__bottomline">
    <div class="footer__politics">
      <a href="/policies/terms-of-service">Terms of Service</a>
      <a href="/policies/refund-policy">Refund Policy</a>
      <a href="/pages/privacy-policy">Privacy Policy</a>
    </div>
    <div class="footer__copyright">Nomadinternet 2023 &copy; All rights reserved</div>
  </div>
</div>
</footer>
{% endcomment %}