  <div class="home_banner_video container">
    <div class="home_banner_video_frame">
      <iframe src="https://www.youtube.com/embed/GpMMHzDggSs" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

{% schema %}
  {
    "name": "Home Banner Video",
    "settings": [],
    "presets": [
      {
        "name": "Home Banner Video"
      }
    ]
  }
{% endschema %}