<section class="how-it-work-banner">
		<div class="container">
			<div class="section-content">
				<h3>High-Speed Internet. No Boundaries.</h3>
				<h2>Empowering Rural Communities and Frequent Travelers</h2>
				<p>Experience Contract-Free, High-Speed Internet Today!</p>
				<a href="/pages/plans">View Plans</a>
			</div>
		</div>
	</section>
<section class="usp_banner">
  <div class="usp_container">
  <div class="usp_block">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
      <path d="M35 27.498H20M25 37.498H20M40 17.498H20M50 29.998V16.998C50 12.7977 50 10.6975 49.1825 9.09312C48.4635 7.6819 47.3161 6.53455 45.9049 5.8155C44.3006 4.99805 42.2004 4.99805 38 4.99805H22C17.7996 4.99805 15.6994 4.99805 14.0951 5.8155C12.6839 6.53455 11.5365 7.6819 10.8175 9.09312C10 10.6975 10 12.7977 10 16.998V42.9981C10 47.1984 10 49.2986 10.8175 50.903C11.5365 52.3142 12.6839 53.4615 14.0951 54.1806C15.6994 54.9981 17.7996 54.9981 22 54.9981H30M40 39.9981L52.5 52.4981M52.5 39.9981L40 52.4981" stroke="#00A77F" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span>No Contract/Cancel Anytime</span>    
  </div>
   <div class="usp_block">
     <svg xmlns="http://www.w3.org/2000/svg" width="61" height="60" viewBox="0 0 61 60" fill="none">
  <path d="M22.9995 29.998L27.9995 34.998L39.2495 23.748M23.5043 51.5002C24.3236 51.3919 25.1513 51.6141 25.8041 52.1169L28.8122 54.4252C29.8065 55.189 31.1897 55.189 32.1813 54.4252L35.3033 52.028C35.8866 51.5808 36.6226 51.3836 37.3503 51.4808L41.2556 51.9947C42.4971 52.1585 43.6942 51.4669 44.1748 50.3086L45.6774 46.6754C45.958 45.9948 46.4968 45.456 47.1773 45.1754L50.8103 43.6727C51.9686 43.1949 52.6602 41.9949 52.4963 40.7533L52.0019 36.9895C51.8936 36.1701 52.1158 35.3423 52.6185 34.6896L54.9266 31.6813C55.6905 30.6869 55.6905 29.3036 54.9266 28.312L52.5296 25.1898C52.0824 24.6065 51.8852 23.8704 51.9825 23.1427L52.4963 19.2372C52.6602 17.9956 51.9686 16.7984 50.8103 16.3179L47.1773 14.8151C46.4968 14.5346 45.958 13.9957 45.6774 13.3152L44.1748 9.68194C43.697 8.52364 42.4971 7.832 41.2556 7.99588L37.3503 8.50975C36.6226 8.60975 35.8866 8.41253 35.3061 7.9681L32.1841 5.57095C31.1897 4.80708 29.8065 4.80708 28.8149 5.57095L25.693 7.9681C25.1097 8.41253 24.3736 8.60975 23.6459 8.51531L19.7407 8.00143C18.4991 7.83755 17.302 8.5292 16.8215 9.6875L15.3216 13.3207C15.0383 13.9985 14.4995 14.5374 13.8217 14.8207L10.1887 16.3207C9.03047 16.8012 8.33886 17.9984 8.50273 19.24L9.01658 23.1455C9.11102 23.8732 8.91381 24.6093 8.4694 25.1898L6.07238 28.312C5.30856 29.3064 5.30856 30.6897 6.07238 31.6813L8.4694 34.8035C8.91659 35.3868 9.11379 36.1229 9.01658 36.8506L8.50273 40.7561C8.33886 41.9977 9.03047 43.1949 10.1887 43.6754L13.8217 45.1782C14.5022 45.4587 15.0411 45.9976 15.3216 46.6781L16.8243 50.3114C17.302 51.4697 18.5019 52.1613 19.7435 51.9974L23.5043 51.5002Z" stroke="#00A77F" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
    <span>No Credit Check</span>
  </div>
   <div class="usp_block">
     <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
  <path d="M29.9995 48.75H30.0245M57.0155 21.7519C49.8984 15.23 40.4136 11.25 29.9992 11.25C19.5849 11.25 10.1001 15.23 2.98291 21.7519M11.8293 30.6074C16.6747 26.3391 23.0347 23.75 29.9995 23.75C36.9642 23.75 43.3243 26.3391 48.1696 30.6074M39.2453 39.4378C36.6976 37.4407 33.4874 36.25 29.9992 36.25C26.4582 36.25 23.2038 37.477 20.6379 39.529" stroke="#00A77F" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
    <span>Unlimited Nationwide Data</span>
  </div>
  </div>  
</section>
{% schema %}
{
"name": "How Nomad Works Banner",
"presets": [
{
"name": "How Nomad Works Banner"
}
],  
"settings": []
}
{% endschema %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
var $j = $.noConflict(); 
</script>