<div class="svg-map">
	<div class="state-name"></div>

	{% render 'map' %}
</div>

{% schema %}
{
	"name": "States SVG Map",
	"class": "container",
	"presets": [
		{
			"name": "States SVG Map"
		}
	],
	"settings": [

	]
}
{% endschema %}
