{{ 'modem-page.css' | asset_url | stylesheet_tag }}
<section class="air-banner-section">
		<div class="container">
			<div class="section-content">
				<div class="left-content">
					<h3>Home & RVs Internet</h3>
					<h2>Nomad Air Indoor & Outdoor wireless Modem</h2>
					<p>Nomad Air router guarantees dependable and secure internet access, turning every trip and residential stay into a connected journey.</p>
					<ul>
						<li>
							<svg xmlns="http://www.w3.org/2000/svg" width="34" height="26" viewBox="0 0 34 26" fill="none">
							  	<path fill-rule="evenodd" clip-rule="evenodd" d="M13.5249 23.1595L15.2622 25.0034C16.223 26.0231 17.7785 26.0231 18.7369 25.0034L20.4743 23.1595C18.5551 21.1227 15.4441 21.1227 13.5249 23.1595ZM6.57554 15.784L10.0502 19.4717C13.8812 15.4033 20.118 15.4033 23.9514 19.4717L27.4261 15.784C21.6686 9.6708 12.3331 9.6708 6.57554 15.784ZM32.53 10.3646L30.9008 12.0937C23.2241 3.94639 10.7776 3.94639 3.09841 12.0937L1.46921 10.3646C0.427301 9.25881 0.532939 7.42836 1.68543 6.45037C10.6203 -1.12587 23.3813 -1.12587 32.3162 6.45037C33.4687 7.42836 33.5719 9.25881 32.53 10.3646Z" fill="#00A77F"/>
							</svg>
							Wifi 6
						</li>
						<li>
							<svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewBox="0 0 28 26" fill="none">
							  	<path d="M25.1113 0.768188H7.05577C5.52383 0.768188 4.27799 2.01402 4.27799 3.54597V6.32374H2.88911C1.35716 6.32374 0.111328 7.56958 0.111328 9.10152V22.9904C0.111328 24.5224 1.35716 25.7682 2.88911 25.7682H11.2224C12.7544 25.7682 14.0002 24.5224 14.0002 22.9904H25.1113C26.6433 22.9904 27.8891 21.7446 27.8891 20.2126V3.54597C27.8891 2.01402 26.6433 0.768188 25.1113 0.768188ZM11.2183 22.9904H2.88911V9.10152H11.2224L11.2183 22.9904ZM25.1072 20.2126H14.0002V9.10152C14.0002 7.56958 12.7544 6.32374 11.2224 6.32374H7.05577V3.54597H25.1113L25.1072 20.2126Z" fill="#00A77F"/>
							</svg>
							Up to 30 devices
						</li>
						<li>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="26" viewBox="0 0 32 26" fill="none">
							  	<path d="M5.94397 7.82373C6.15841 7.96122 6.39815 8.02674 6.63541 8.02674C7.05867 8.02674 7.47385 7.8172 7.71926 7.43436L11.098 3.73296L17.4429 12.7124C18.1763 12.2037 18.9113 11.7584 19.644 11.3727L12.8357 1.73828C12.3891 1.1074 11.7412 0.733844 11.0287 0.770788C10.3271 0.786672 9.68558 1.16958 9.26927 1.82067L5.55383 6.04808C5.1722 6.64578 5.34628 7.44089 5.94397 7.82373Z" fill="#00A77F"/>
							  	<path d="M15.9083 25.7682C26.9125 25.7682 30.4503 18.7457 31.5327 12.0133C29.6444 14.3475 26.1315 17.6995 19.931 20.8106C17.6479 21.9557 15.3928 22.4107 13.2556 22.4107C6.64784 22.1635 3.6488 19.1113 2.49609 17.3142C6.13843 19.8578 12.6401 23.0299 19.3545 19.6616C26.0838 16.2851 29.5339 12.5865 31.1237 10.4132C30.943 10.2795 30.7263 10.1928 30.4817 10.1845C27.63 10.0789 20.5559 10.5315 14.8107 16.7593C11.5136 20.3344 4.07234 17.4073 1.20845 16.0828C0.564378 15.7847 0.271381 16.0508 0.606995 16.6769C2.04256 19.3593 6.46028 25.7682 15.9083 25.7682Z" fill="#00A77F"/>
							  	<path d="M29.2056 9.15526C29.4653 9.15526 29.7043 9.16037 29.9204 9.16881C30.0776 9.17462 30.2324 9.19979 30.3836 9.23567L27.8715 4.91296L13.751 1.18341L20.6279 10.9147C24.0035 9.46946 27.1508 9.15526 29.2056 9.15526Z" fill="#00A77F"/>
							  	<path d="M10.9686 9.412L9.57617 8.76935V10.2725L10.9686 10.915V9.412Z" fill="#00A77F"/>
							  	<path d="M13.3848 10.4591L11.9922 9.81631V11.3195L13.3848 11.9621V10.4591Z" fill="#00A77F"/>
							  	<path d="M9.45508 13.1041L10.8477 13.7467V12.2436L9.45508 11.6011V13.1041Z" fill="#00A77F"/>
							  	<path d="M11.8711 14.151L13.2635 14.7933V13.2903L11.8711 12.6476V14.151Z" fill="#00A77F"/>
							</svg>
							Built in C-Band
						</li>
					</ul>
					<div class="banner-button">
						<a href="/pages/plans" class="order-button">Order Now</a>
						<a href="/pages/coverage-map" class="availability-button">Check Availability</a>
					</div>
				</div>
				<div class="right-content">
					<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/air-banner-image.png?v=1696833733">
				</div>
			</div>
		</div>
	</section>

	<section class="air-image-and-text">
		<div class="container">
			<div class="section-content">
				<div class="left-content">
					<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/air-image.png?v=1696833734">
				</div>
				<div class="right-content">
					<h3>Why Choose Nomad Air</h3>
					<ul>
						<li>
							<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/right-check.png?v=1696833732">
							<b>Unlimited, Fast Internet:</b> Say farewell to sluggish internet and embrace Nomad Air's lightning-fast speeds, ensuring connectivity wherever you are.
						</li>
						<li>
							<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/right-check.png?v=1696833732">
							<b>Connectivity for Multiple Devices:</b> Nomad Air lets you link up to 30 devices simultaneously, catering to families, groups, and businesses.
						</li>
						<li>
							<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/right-check.png?v=1696833732">
							<b>Perfect for Rural Homes and Travel:</b> Ideal for travel, Nomad Air boasts breakthrough 5G and 4G LTE speeds, making it perfect for rural area residents, RVers, Digital Nomads, and a variety of locations including residences, shops, restaurants, offices, medical facilities, dorms, apartments, and more.
						</li>
					</ul>
					<div class="air-buttons">
						<a href="/pages/plans" class="order-button">Order Now</a>
						<a href="/pages/coverage-map" class="availability-button">Check Availability</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="what-included-section">
		<div class="section-title">
			<h2>WHAT IS INCLUDED</h2>
		</div>
		<div class="included-list">
			<div class="included-box">
				<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/nomad-air-image.png?v=1696833732">
				<h3>Nomad Air</h3>
			</div>
			<div class="included-box">
				<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/ethernet-cable.png?v=1696833732">
				<h3>Ethernet</h3>
			</div>
			<div class="included-box">
				<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/power-supply.png?v=1696833732">
				<h3>Power Supply</h3>
			</div>
			<div class="included-box">
				<img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/power-cable.png?v=1696833732">
				<h3>Power Cable</h3>
			</div>
		</div>
	</section>

	<section class="modem-specification-section">
		<div class="container">
			<div class="section-title">
				<h2>Nomad Air - Modem Specification</h2>
			</div>
			<div class="features-list">
				<div class="heading">
					<h3>KEY FEATURES</h3>
				</div>
				<div class="features-details-list">
					<div class="features-details">
						<h3>Chipset</h3>
						<p>Qualcomm® Snapdragon™ SDX55</p>
					</div>
					<div class="features-details">
						<h3>Network technology</h3>
						<p>5G sub-6 GHz and 4G LTE Cat 22- 4x4 MIMO sub-6 GHz- 256 QAM- HSPA+/UMTS- CBRS</p>
					</div>
					<div class="features-details">
						<h3>Wi-Fi version</h3>
						<p>Wi-Fi 6 (802.11 a/b/g/n/ac/ax) <br> Wi-Fi connections: Up to 30 connected devices Wi-Fi bands: Real simultaneous dual-band Wi-Fi (2.4GHz & 5GHz)</p>
					</div>
					<div class="features-details">
						<h3>Connectors/ports</h3>
						<p>1 LAN port- 1 USB-C port</p>
					</div>
					<div class="features-details">
						<h3>Dimensions</h3>
						<p>6.3” x 2.8” x 2.4”(160 mm x 71.6 mm x 60 mm)</p>
					</div>
					<div class="features-details">
						<h3>Weight</h3>
						<p>12 oz (350g)</p>
					</div>
					<div class="features-details">
						<h3>Operating temperature</h3>
						<p>32° to 113°F (0°C to 45°C)</p>
					</div>
					<div class="features-details">
						<h3>SIM type</h3>
						<p>Dual SIM (4FF Nano)</p>
					</div>
					<div class="features-details">
						<h3>Security</h3>
						<p>Secure Boot, Admin Security, AES 256 Encryption, Security Hardened Web Interface, Session Timeout, Wi-Fi On/Off Control, Incorrect Password Lockout, Block Factory Reset, Encrypted Configuration Backup/Restore, Advanced Firewall, Anti CSRF (OWASP)</p>
					</div>
					<div class="features-details">
						<h3>Wi-Fi Security</h3>
						<p>Wi-Fi Security (WPA/WPA2/WPA3), Wi-Fi Protected Setup (WPS 2.0), Wi-Fi Privacy Separation, Configurable DNSMAC Address Filtering, NAT Firewall, Port Forwarding, Port Filtering</p>
					</div>
				</div>
				<div class="order-button">
					<a href="/pages/plans">Order Now</a>
				</div>
			</div>
		</div>
	</section>


{% schema %}
{
"name": "Nomad Air",
"presets": [
{
"name": "Nomad Air"
}
],  
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}