<div class="shop-confidence-container">
  <h2>SHOP WITH CONFIDENCE</h2>
  <div class="shop-confidence-icon-container">
    <div class="shop-confidence-icon-item">
      <svg width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_207_5332)">
        <path d="M51.375 1.67212V13.0742H62.7764L51.375 1.67212Z" fill="#00B589"/>
        <path d="M49.5 16.8242C48.4645 16.8242 47.625 15.9847 47.625 14.9492V0.574219H20.75C17.6484 0.574219 15.125 3.09759 15.125 6.19922V27.1603C15.7427 27.1043 16.3679 27.0742 17 27.0742C23.391 27.0742 29.1121 29.9962 32.8983 34.5742H53.25C54.2855 34.5742 55.125 35.4137 55.125 36.4492C55.125 37.4847 54.2855 38.3242 53.25 38.3242H35.3685C36.5405 40.6112 37.2963 43.1448 37.5389 45.8242H53.25C54.2855 45.8242 55.125 46.6637 55.125 47.6992C55.125 48.7347 54.2855 49.5742 53.25 49.5742H37.5389C36.9781 55.7666 33.6696 61.1775 28.8447 64.5742H58.25C61.3516 64.5742 63.875 62.0508 63.875 58.9492V16.8242H49.5ZM53.25 27.0742H25.75C24.7145 27.0742 23.875 26.2347 23.875 25.1992C23.875 24.1637 24.7145 23.3242 25.75 23.3242H53.25C54.2855 23.3242 55.125 24.1637 55.125 25.1992C55.125 26.2347 54.2855 27.0742 53.25 27.0742Z" fill="#00B589"/>
        <path d="M16.9409 30.5742C7.67219 30.5742 0 38.1146 0 47.3833C0 56.652 7.67219 64.3242 16.9409 64.3242C26.2096 64.3242 33.75 56.652 33.75 47.3833C33.75 38.1146 26.2096 30.5742 16.9409 30.5742ZM25.2611 52.9066C26.0323 53.6778 26.0323 54.9322 25.2611 55.7041C24.4958 56.4688 23.2414 56.4813 22.4635 55.7041L16.9409 50.1795L11.2858 55.7048C10.5146 56.476 9.26016 56.476 8.48826 55.7048C7.71702 54.9335 7.71702 53.6791 8.48826 52.9072L14.0122 47.3833L8.48826 41.8594C7.71702 41.0875 7.71702 39.8331 8.48826 39.0618C9.26016 38.2906 10.5146 38.2906 11.2858 39.0618L16.9409 44.5871L22.4635 39.0618C23.2334 38.2919 24.4879 38.2893 25.2611 39.0618C26.0323 39.8331 26.0323 41.0875 25.2611 41.8594L19.7372 47.3833L25.2611 52.9066Z" fill="#00B589"/>
        </g>
        <defs>
        <clipPath id="clip0_207_5332">
        <rect width="64" height="64" fill="white" transform="translate(0 0.574219)"/>
        </clipPath>
        </defs>
      </svg>
      <p>No Contracts</p>
    </div>
    <div class="shop-confidence-icon-item">
      <svg width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_207_5346)">
        <path d="M53.302 14.3592C48.6854 9.58368 42.7104 6.54706 36.2259 5.62331L38.0741 3.77506C38.8064 3.04281 38.8064 1.85568 38.0741 1.12343C37.342 0.39131 36.1548 0.39131 35.4225 1.12343L30.6741 5.87168C29.9419 6.60381 29.9419 7.79106 30.6741 8.52331L35.4224 13.2716C35.7885 13.6377 36.2684 13.8208 36.7481 13.8208C37.2279 13.8208 37.7079 13.6377 38.0739 13.2716C38.8061 12.5394 38.8061 11.3522 38.0739 10.6199L37.012 9.55806C42.1636 10.5662 46.8885 13.1204 50.6056 16.9654C55.2938 21.8149 57.8756 28.2014 57.8756 34.9483C57.8759 49.2163 46.2679 60.8242 32 60.8242C17.7321 60.8242 6.12415 49.2163 6.12415 34.9484C6.12415 29.5041 7.79502 24.2961 10.9563 19.8876C14.0519 15.5704 18.3194 12.3491 23.2978 10.5718C24.273 10.2236 24.7813 9.15081 24.4331 8.17543C24.085 7.20018 23.012 6.69193 22.0368 7.04006C16.3364 9.07518 11.451 12.7622 7.90865 17.7023C4.2879 22.7518 2.37415 28.7154 2.37415 34.9486C2.37415 42.8619 5.45577 50.3016 11.0514 55.8972C16.647 61.4924 24.0866 64.5742 32 64.5742C39.9134 64.5742 47.353 61.4926 52.9486 55.8971C58.5443 50.3014 61.6259 42.8618 61.6259 34.9484C61.6259 27.2237 58.6696 19.9116 53.302 14.3592Z" fill="#00B589"/>
        <path d="M12.7355 34.9485C12.7355 45.5708 21.3775 54.2128 32 54.2128C42.6224 54.2128 51.2644 45.5708 51.2644 34.9485C51.2644 24.3261 42.6224 15.6838 32 15.6838C21.3774 15.6838 12.7355 24.326 12.7355 34.9485ZM33.151 36.6173C30.452 35.6632 28.8883 34.9112 27.7538 34.0213C26.3575 32.9262 25.7184 31.0348 26.0857 29.0855C26.4842 26.9707 27.9589 25.2872 29.9345 24.6921C29.9619 24.6838 29.9888 24.6772 30.016 24.6692V23.9142C30.016 22.8787 30.8555 22.0392 31.891 22.0392C32.9265 22.0392 33.766 22.8787 33.766 23.9142V24.5498C35.0752 24.8565 35.9889 25.4548 36.3583 25.731C37.1877 26.3511 37.3574 27.526 36.7374 28.3555C36.1173 29.185 34.9427 29.3545 34.1129 28.7346C33.7159 28.4378 32.6202 27.7993 31.0162 28.2826C30.0685 28.5681 29.8234 29.5007 29.7708 29.7798C29.6669 30.3311 29.7863 30.85 30.0679 31.0707C31.0488 31.8398 32.8085 32.519 34.4007 33.0817C37.3132 34.1112 38.9327 36.8093 38.4307 39.7955C38.1842 41.2616 37.4467 42.622 36.3537 43.6262C35.602 44.3167 34.7262 44.8077 33.766 45.0847V45.9825C33.766 47.018 32.9265 47.8575 31.891 47.8575C30.8555 47.8575 30.016 47.018 30.016 45.9825V45.2691C28.7687 45.1225 27.7278 44.7383 26.3279 43.8226C25.4613 43.2557 25.2184 42.0936 25.7853 41.227C26.3522 40.3602 27.5144 40.1175 28.3809 40.6843C29.6788 41.5335 30.1695 41.6115 31.8785 41.5996C33.5612 41.5883 34.5374 40.3342 34.7325 39.1737C34.828 38.607 34.8647 37.2231 33.151 36.6173Z" fill="#00B589"/>
        </g>
        <defs>
        <clipPath id="clip0_207_5346">
        <rect width="64" height="64" fill="white" transform="translate(0 0.574219)"/>
        </clipPath>
        </defs>
      </svg>
      <p>24/7 Support</p>
    </div>
    <div class="shop-confidence-icon-item">
      <svg width="74" height="65" viewBox="0 0 74 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M67.0009 17.6534H62.5333C58.7336 8.63119 50.3667 2.07464 40.7345 0.82242C31.189 -0.450131 21.8103 3.22391 15.6744 10.6198C13.8707 12.7942 12.4399 15.1582 11.3923 17.6534H6.99907C3.4709 17.6534 0.600769 20.5235 0.600769 24.0517V32.5827C0.600769 36.1109 3.4709 38.981 6.99907 38.981H15.7578L14.8414 36.1838C12.1733 28.0359 13.6751 19.7111 18.9591 13.344C24.1515 7.08522 32.0805 3.98816 40.1805 5.05042C48.7467 6.16628 56.1822 12.2243 59.1283 20.4879L59.1462 20.5359C59.6211 21.798 59.9544 23.0956 60.1459 24.4307C60.7853 28.4193 60.4209 32.4619 59.0942 36.1214L59.0848 36.1469C55.7916 45.4968 46.9344 51.7776 37.0416 51.7776C33.4904 51.7776 30.6017 54.6478 30.6017 58.1759C30.6017 61.7041 33.4718 64.5742 37 64.5742C40.5281 64.5742 43.3983 61.7041 43.3983 58.1759V55.2995C51.9143 53.2754 59.0673 47.2387 62.5054 38.9809H67.0009C70.5291 38.9809 73.3992 36.1107 73.3992 32.5826V24.0515C73.3992 20.5234 70.5291 17.6534 67.0009 17.6534Z" fill="#00B589"/>
        <path d="M17.8051 43.2466V47.5121H36.9999C47.5846 47.5121 56.1948 38.9018 56.1948 28.3172C56.1948 17.7326 47.5846 9.12231 36.9999 9.12231C26.4153 9.12231 17.8051 17.7326 17.8051 28.3172C17.8051 32.6328 19.2546 36.8025 21.9039 40.1745C21.3895 41.9719 19.7483 43.2466 17.8051 43.2466ZM43.3982 26.1844H47.6638V30.45H43.3982V26.1844ZM34.8672 26.1844H39.1327V30.45H34.8672V26.1844ZM26.3361 26.1844H30.6017V30.45H26.3361V26.1844Z" fill="#00B589"/>
      </svg>
      <p>7-Day Money Back<br> Guarantee</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Shop with Confidence",
  "settings": [
  ],
  "presets": [
    {
      "name": "Shop with Confidence"
    }
  ]
}
{% endschema %}