<section class="chat-and-call-section">
    <div class="container">
        <div class="section-content">
            <div class="chat-and-call-section__bg">
                <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/background_lines.svg?v=1708634207" alt="bg"/>
            </div>
            <div class="left-content" style="z-index: 3;">
                <h2>{{ section.settings.heading }}</h2>
                <p>{{ section.settings.content }}</p>
                <a href="{{ section.settings.link }}">VIEW PLANS</a>
            </div>
            <div class="right-content">
                <div class="chat-icon-list page-chat-icon-list">
                    <div class="icon-and-text">
                        <div class="image">
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect x="1.40768" y="1.38864" width="41.182" height="41.182" rx="20.591" fill="#008061"/>
                              <rect x="1.40768" y="1.38864" width="41.182" height="41.182" rx="20.591" stroke="#008061" stroke-width="1.90911"/>
                              <g clip-path="url(#clip0_1_7231)">
                              <path d="M24.0483 15.9795C25.0251 16.1701 25.9227 16.6477 26.6264 17.3514C27.3301 18.0551 27.8078 18.9528 27.9983 19.9295M24.0483 11.9795C26.0776 12.2049 27.9699 13.1137 29.4146 14.5565C30.8592 15.9993 31.7703 17.8905 31.9983 19.9195M20.2253 23.8426C19.0237 22.641 18.0749 21.2823 17.3789 19.8327C17.3191 19.708 17.2891 19.6457 17.2661 19.5668C17.1844 19.2864 17.2431 18.9422 17.4131 18.7048C17.461 18.6379 17.5181 18.5808 17.6324 18.4665C17.982 18.1169 18.1568 17.9421 18.2711 17.7663C18.7021 17.1034 18.7021 16.2488 18.2711 15.5859C18.1568 15.4101 17.982 15.2353 17.6324 14.8857L17.4376 14.6909C16.9061 14.1594 16.6404 13.8937 16.355 13.7494C15.7875 13.4623 15.1172 13.4623 14.5496 13.7494C14.2643 13.8937 13.9985 14.1594 13.4671 14.6909L13.3095 14.8485C12.7798 15.3781 12.515 15.6429 12.3128 16.003C12.0884 16.4025 11.927 17.023 11.9284 17.4812C11.9296 17.8941 12.0097 18.1764 12.1699 18.7408C13.0309 21.7742 14.6553 24.6366 17.0433 27.0245C19.4313 29.4125 22.2937 31.037 25.3271 31.898C25.8915 32.0582 26.1737 32.1383 26.5867 32.1395C27.0449 32.1409 27.6654 31.9795 28.0649 31.7551C28.4249 31.5528 28.6897 31.288 29.2194 30.7584L29.377 30.6008C29.9084 30.0693 30.1742 29.8036 30.3185 29.5182C30.6056 28.9507 30.6056 28.2804 30.3185 27.7128C30.1742 27.4275 29.9084 27.1617 29.377 26.6303L29.1821 26.4354C28.8325 26.0858 28.6577 25.911 28.4819 25.7967C27.819 25.3657 26.9645 25.3657 26.3016 25.7967C26.1258 25.911 25.951 26.0858 25.6014 26.4354C25.4871 26.5497 25.4299 26.6069 25.3631 26.6547C25.1257 26.8247 24.7814 26.8834 24.5011 26.8017C24.4222 26.7787 24.3598 26.7488 24.2351 26.6889C22.7855 25.9929 21.4269 25.0441 20.2253 23.8426Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </g>
                              <defs>
                              <clipPath id="clip0_1_7231">
                              <rect width="24" height="24" fill="white" transform="translate(9.99866 9.97949)"/>
                              </clipPath>
                              </defs>
                            </svg>
                        </div>
                        <a onclick="$zoho.salesiq.floatwindow.visible('show');">Start chat</a>
                    </div>
                    <div class="icon-and-text">
                        <div class="image">
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <rect x="1.40768" y="1.38864" width="41.182" height="41.182" rx="20.591" fill="#008061"/>
                              <rect x="1.40768" y="1.38864" width="41.182" height="41.182" rx="20.591" stroke="#008061" stroke-width="1.90911"/>
                              <g clip-path="url(#clip0_1_7225)">
                              <path d="M16.093 21.2083C16.0309 20.8077 15.9986 20.3973 15.9986 19.9795C15.9986 15.5612 19.6039 11.9795 24.0513 11.9795C28.4986 11.9795 32.1039 15.5612 32.1039 19.9795C32.1039 20.9776 31.9199 21.9329 31.5838 22.814C31.514 22.997 31.4791 23.0885 31.4633 23.1599C31.4476 23.2307 31.4415 23.2805 31.4398 23.3529C31.4381 23.4261 31.448 23.5067 31.4678 23.6678L31.8704 26.938C31.914 27.292 31.9358 27.469 31.8769 27.5977C31.8253 27.7105 31.7337 27.8 31.6197 27.849C31.4897 27.9049 31.3133 27.879 30.9604 27.8273L27.7751 27.3604C27.6088 27.336 27.5256 27.3238 27.4499 27.3243C27.375 27.3247 27.3231 27.3302 27.2498 27.3456C27.1757 27.3612 27.081 27.3967 26.8916 27.4676C26.0083 27.7985 25.0511 27.9795 24.0513 27.9795C23.6331 27.9795 23.2223 27.9478 22.8213 27.8868M17.6302 31.9795C20.5951 31.9795 22.9987 29.5171 22.9987 26.4795C22.9987 23.4419 20.5951 20.9795 17.6302 20.9795C14.6653 20.9795 12.2618 23.4419 12.2618 26.4795C12.2618 27.0901 12.3589 27.6774 12.5382 28.2262C12.614 28.4582 12.6519 28.5742 12.6643 28.6534C12.6773 28.7362 12.6796 28.7826 12.6747 28.8662C12.6701 28.9463 12.6501 29.0368 12.61 29.2178L11.9987 31.9795L14.9935 31.5705C15.1569 31.5482 15.2387 31.537 15.31 31.5375C15.3852 31.538 15.4251 31.5421 15.4988 31.5568C15.5688 31.5707 15.6728 31.6074 15.8809 31.6809C16.4292 31.8744 17.0178 31.9795 17.6302 31.9795Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </g>
                              <defs>
                              <clipPath id="clip0_1_7225">
                              <rect width="24" height="24" fill="white" transform="translate(9.99866 9.97949)"/>
                              </clipPath>
                              </defs>
                            </svg>

                        </div>
                        <a href="tel:+1 210 598 5949">Call us <br> +1 210 598 5949</a>
                    </div>
                    <!-- <div class="icon-and-text">
                        <div class="image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                <path d="M6 6.40527L10.5 10.9053M6 6.40527H3L2 3.40527L3 2.40527L6 3.40527V6.40527ZM19.259 3.14629L16.6314 5.7739C16.2354 6.16992 16.0373 6.36793 15.9632 6.59626C15.8979 6.7971 15.8979 7.01345 15.9632 7.21429C16.0373 7.44262 16.2354 7.64063 16.6314 8.03664L16.8686 8.2739C17.2646 8.66992 17.4627 8.86793 17.691 8.94212C17.8918 9.00737 18.1082 9.00737 18.309 8.94212C18.5373 8.86793 18.7354 8.66992 19.1314 8.2739L21.5893 5.81599C21.854 6.46016 22 7.16567 22 7.90527C22 10.9428 19.5376 13.4053 16.5 13.4053C16.1338 13.4053 15.7759 13.3695 15.4298 13.3012C14.9436 13.2053 14.7005 13.1574 14.5532 13.1721C14.3965 13.1877 14.3193 13.2112 14.1805 13.2855C14.0499 13.3553 13.919 13.4863 13.657 13.7482L6.5 20.9053C5.67157 21.7337 4.32843 21.7337 3.5 20.9053C2.67157 20.0768 2.67157 18.7337 3.5 17.9053L10.657 10.7482C10.919 10.4863 11.0499 10.3553 11.1198 10.2248C11.1941 10.086 11.2176 10.0087 11.2332 9.85208C11.2479 9.70473 11.1999 9.46166 11.1041 8.97551C11.0358 8.62933 11 8.27148 11 7.90527C11 4.86771 13.4624 2.40527 16.5 2.40527C17.5055 2.40527 18.448 2.6751 19.259 3.14629ZM12.0001 15.4052L17.5 20.9052C18.3284 21.7336 19.6716 21.7336 20.5 20.9052C21.3284 20.0767 21.3284 18.7336 20.5 17.9052L15.9753 13.3806C15.655 13.3503 15.3427 13.2925 15.0408 13.2096C14.6517 13.1028 14.2249 13.1803 13.9397 13.4656L12.0001 15.4052Z" stroke="#00A77F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <a class="redirect_ticket">Submit a <br> ticket</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

{% if template == 'page.flex-pay' %}
    <style>
        @media (min-width: 1024px) {
            .chat-and-call-section .section-content .left-content h2,
            .chat-and-call-section .section-content .left-content p
            {
                max-width: 500px;
            }
        }
    </style>
{% endif %}
{% comment %}
<section class="home-signup">
   <div class="container">
      <div class="section-content">
         <h2>Sign Up Today and Experience Internet Without Boundaries!</h2>
         <a class="btn" href="/pages/plans">View Plans</a>
          <div class="banner_contact">
          <span>Have Questions?</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
          <g id="phone-call-01">
          <path id="Icon" d="M11.7084 5.49935C12.5223 5.65815 13.2704 6.05623 13.8568 6.64263C14.4432 7.22903 14.8412 7.97707 15 8.79102M11.7084 2.16602C13.3994 2.35388 14.9764 3.11116 16.1802 4.31352C17.3841 5.51588 18.1434 7.09186 18.3334 8.78268M8.52253 12.0519C7.52121 11.0506 6.73055 9.91839 6.15056 8.71037C6.10067 8.60647 6.07572 8.55451 6.05656 8.48877C5.98846 8.25514 6.03737 7.96826 6.17905 7.7704C6.21892 7.71472 6.26655 7.66709 6.36181 7.57183C6.65315 7.28049 6.79881 7.13483 6.89405 6.98834C7.25322 6.43593 7.25321 5.72378 6.89405 5.17138C6.79881 5.02489 6.65315 4.87923 6.36181 4.58789L6.19942 4.42549C5.75655 3.98263 5.53511 3.76119 5.2973 3.6409C4.82433 3.40168 4.26577 3.40168 3.79281 3.6409C3.55499 3.76119 3.33355 3.98263 2.89069 4.42549L2.75932 4.55686C2.31797 4.99821 2.09729 5.21889 1.92875 5.51891C1.74174 5.85183 1.60727 6.36891 1.60841 6.75076C1.60943 7.09488 1.67618 7.33007 1.80969 7.80044C2.52716 10.3283 3.88089 12.7136 5.87088 14.7036C7.86086 16.6935 10.2462 18.0473 12.774 18.7647C13.2444 18.8983 13.4795 18.965 13.8237 18.966C14.2055 18.9672 14.7226 18.8327 15.0555 18.6457C15.3555 18.4771 15.5762 18.2565 16.0176 17.8151L16.1489 17.6837C16.5918 17.2409 16.8132 17.0194 16.9335 16.7816C17.1728 16.3087 17.1728 15.7501 16.9335 15.2771C16.8132 15.0393 16.5918 14.8179 16.1489 14.375L15.9865 14.2126C15.6952 13.9213 15.5495 13.7756 15.4031 13.6804C14.8506 13.3212 14.1385 13.3212 13.5861 13.6804C13.4396 13.7756 13.2939 13.9213 13.0026 14.2126C12.9073 14.3079 12.8597 14.3555 12.804 14.3954C12.6062 14.5371 12.3193 14.586 12.0857 14.5179C12.0199 14.4987 11.968 14.4738 11.8641 14.4239C10.656 13.8439 9.52384 13.0532 8.52253 12.0519Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </g></svg>
          <span>Call us today at <em><a href="tel:+1 210 598 5949" style="color:#fff;">+1 210 598 5949</a></em></span>
          </div>
      </div>
   </div>
</section>
{% endcomment %}

{% schema %}
{
    "name": "Page SignUp",
    "presets": [
        {
            "name": "Page SignUp"
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Rural or On-the-Road, We've Got You Covered! – Starting At $99.95/Mo"
        },
        {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "Sign Up Today and Experience Internet Without Boundaries!"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}