@font-face {
    font-family: 'AktivGrotesk';
    src: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Bold.woff2?v=1697835012') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Bold.woff?v=1697835012') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Regular.woff2?v=1697835011') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Regular.woff?v=1697835012') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Medium.woff2?v=1697835012') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Medium.woff?v=1697835012') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*.template-activate{padding-top:25px!important;}*/
body{background:#fff!important;}
section.modem-section{
	overflow: hidden;
    background:#fff;
}

#activation_form section.modem-section, #activation_form section.order-detail-section {
    background-color: #f0f0f0;
}
/*.modem-section .air-info a.back-arrow,
.modem-section .omega-info a.back-arrow,
.modem-section .air-info-form a.back-arrow{
    position: absolute;
    top: 30px;
    left: 33px;
}*/
.modem-section .container, .order-detail-section .container {
    max-width: 991px;
    margin: 0 auto;
    padding: 0 15px;
    display: block;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.modem-section .modem-select,
.modem-section .air-info-form{
    padding: 50px 9px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.modem-section .modem-select img.logo{
    margin: 0 auto 82px;
    display: block;
    max-width:118px;
}

@media (min-width: 1024px) {
    .modem-section .modem-select,
    .modem-section .air-info-form {
        padding: 50px;
        border-radius: 20px;
    }
    .modem-section .modem-select img.logo{
        margin: 0 auto 32px;
    }   
}
.modem-section .modem-select .section-title {
    text-align: center;
    margin: 0 0 40px;
}
.modem-section .modem-select .section-title h3 {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 8px;
  font-family: 'AktivGrotesk'!important;
}
.modem-section .modem-select .section-title p {
    color: #5B5D6A;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
  margin:0;
  font-family: 'AktivGrotesk'!important;
}
.modem-section .modem-select .modem-list .box a{
  text-decoration: none;
}
.modem-section .modem-select .modem-list .box.active {
    border: 2px solid var(--accent, #00A77F);
    background: rgba(0, 167, 127, 0.05);
}

.modem-section .modem-select .modem-list .box:hover {
    border: 2px solid var(--accent, #00A77F);
    background: rgba(0, 167, 127, 0.05);
}

.modem-section .modem-select .modem-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 0 0 25px;
}
.modem-section .modem-select .modem-list .box {
    text-align: center;
    padding: 31px 20px;
    border-radius: 12px;
    border: 0.397px solid #A0A0A0;
    background: #FDFDFD;
    cursor: pointer;
}
.modem-section .modem-select .modem-list .box img {
    margin: 0 auto 12px;
    max-height: 80px;
}
.modem-section .modem-select .modem-list .box p {
    color: #000;
    font-size: 16px;
  font-family: 'AktivGrotesk'!important;
    font-weight: 500;
    line-height: 1.5;
    text-transform: capitalize;
    margin-bottom: 0;
}
.modem-section .modem-select .proceed-button {
    text-align: center;
}	
.modem-section .modem-select .proceed-button a {
    width: 100%;
    display: inline-block;
    padding: 12px 0;
    border-radius: 8px;
    background: #017C5F;
    color: #FFF;
    font-size: 16px;
  font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: 22.68px; /* 141.75% */
  text-decoration: none;
  cursor: pointer;
}

.modem-section .modem-select .proceed-button a:hover {
    background: #03634C;
}
.modem-section .air-info,
.modem-section .raptor-info,
.modem-section .omega-info{
    padding: 24px 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
  /*  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;*/
    width: 100%;
}
.modem-section .air-info.active, .modem-section .omega-info.active, .modem-section .raptor-info.active {
    left: 0;
}
.modem-section .air-info img.logo,
.modem-section .raptor-info img.logo,
.modem-section .omega-info img.logo{
    margin: 0 auto 32px;
    display: block;
  max-width:118px;
}
.modem-section .air-info .section-title,
.modem-section .omega-info .section-title,
.modem-section .raptor-info .section-title
{
    text-align: center;
    margin: 0 0 40px;
}
.modem-section .air-info .section-title h2,
.modem-section .omega-info .section-title h2,
.modem-section .raptor-info .section-title h2
{
	color: #000;
	font-size: 24px;
	font-weight: bold;
	line-height: normal;
	margin: 0 0 8px;
    font-family: 'AktivGrotesk'!important;
}
.modem-section .air-info .section-title p,
.modem-section .raptor-info .section-title p,
.modem-section .omega-info .section-title p{
    color: #5B5D6A;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin:0;
    font-family: 'AktivGrotesk'!important;
}
.modem-section .air-info > img,
.modem-section .raptor-info > img,
.modem-section .omega-info > img{
    margin: 0 auto;
    display: block;
        height: 350px;
    width: auto;
}
.modem-section .air-info .got-it-button,
.modem-section .raptor-info .got-it-button,
.modem-section .omega-info .got-it-button{
    text-align: center;
    margin: 40px 0 0;
}
.modem-section .air-info .got-it-button a,
.modem-section .raptor-info .got-it-button a,
.modem-section .omega-info .got-it-button a{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    border-radius: 8px;
    background: #017C5F;
    color: #FFF;
    font-size: 16px;
  font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: 22.68px;
}

.modem-section .air-info .got-it-button a:hover,
.modem-section .raptor-info .got-it-button a:hover,
.modem-section .omega-info .got-it-button a:hover{
    background-color: #03634C;
}
.modem-section .air-info-form img.logo {
    display: block;
    margin: 0 auto 56px;
  max-width:118px;
}
.modem-section .air-info-form .section-title h2 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 8px;
}
.modem-section .air-info-form .section-title {
    text-align: center;
    margin: 0 0 40px;
}
.modem-section .air-info-form .section-title p {
    color: #5B5D6A;
    font-size: 14px;
    font-weight: normal;
  margin:0;
    line-height: 20px;
  font-family: 'AktivGrotesk'!important;
}
.modem-section .air-info-form .form-details .imei-input,  .modem-section .air-info-form .form-details .email-input{
    margin: 0 0 24px;
}
.modem-section .air-info-form{
    /*position: fixed;
    top: 0;*/
    background-color: #fff;
   /* left: 100%;
    bottom: 0;*/
 /*  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;*/
    width: 100%;
}
.modem-section .air-info-form.active{
	left: 0;
}
.modem-section .air-info-form .form-details .imei-input .title,
.modem-section .air-info-form .form-details .iccid-input .title,
.modem-section .air-info-form .form-details .email-input .title{
    display: flex;
    justify-content: space-between;
    margin: 0 0 4px;
    align-items: center;
}
.modem-section .air-info-form .form-details .imei-input .title label,
.modem-section .air-info-form .form-details .iccid-input .title label,
.modem-section .air-info-form .form-details .email-input .title label{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: 'AktivGrotesk'!important;
}
.modem-section .air-info-form .form-details .imei-input .title a,
.modem-section .air-info-form .form-details .iccid-input .title a{
    color: #00A77F;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
  font-family: 'AktivGrotesk'!important;
  text-decoration:none;
}
.modem-section .air-info-form .form-details .imei-input input,
.modem-section .air-info-form .form-details .iccid-input input,
.modem-section .air-info-form .form-details .email-input input{
    border-radius: 4px;
    border: 0.5px solid #A3A3A3;
    background: #FFF;
    padding: 12px 16px;
    color: #5B5D6A;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px; /* 142.857% */
    width: 100%;
    font-family: 'AktivGrotesk'!important;
}
.air-info-form .form-details > a {
    width: 100%;
    text-align: center;
    margin: 40px 0 0;
    border-radius: 8px;
    background-color: #017C5F;
    border: 0;
    padding: 12px 0;
    color: #FFF;
    font-size: 16px;
  font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: 22.68px;
    display: inline-block;
  text-decoration:none;
}

.air-info-form .form-details > a:hover {
    background: #03634C;
}

/* All popup css start */
.air-imei-popup,
.air-iccid-popup,
.raptor-imei-popup,
.raptor-iccid-popup,
.omega-imei-popup,
.omega-iccid-popup{
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    border-radius: 30px 30px 0px 0px;
    background: #FFF;
    z-index: 999;
    padding: 23px 16px 100px;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.air-imei-popup .popup-details,
.air-iccid-popup .popup-details,
.raptor-imei-popup .popup-details,
.raptor-iccid-popup.popup-details,
.omega-imei-popup .popup-details,
.omega-iccid-popup .popup-details{
	text-align: center;
}
.air-imei-popup .popup-details > svg,
.air-iccid-popup .popup-details > svg,
.raptor-imei-popup .popup-details > svg,
.raptor-iccid-popup .popup-details > svg,
.omega-imei-popup .popup-details > svg,
.omega-iccid-popup .popup-details > svg{
    position: absolute;
    top: 23px;
    right: 0;
    margin: 0 auto;
    left: 0;
}
.air-imei-popup .popup-details a.close-popup,
.air-iccid-popup .popup-details a.close-popup,
.raptor-imei-popup .popup-details a.close-popup,
.raptor-iccid-popup .popup-details a.close-popup,
.omega-imei-popup .popup-details a.close-popup,
.omega-iccid-popup .popup-details a.close-popup{
    position: absolute;
    top: 23px;
    right: 16px;
}
.air-imei-popup .popup-details .section-title,
.air-iccid-popup .popup-details .section-title,
.raptor-imei-popup .popup-details .section-title,
.raptor-iccid-popup .popup-details .section-title,
.omega-imei-popup .popup-details .section-title,
.omega-iccid-popup .popup-details .section-title{
    padding: 56px 0 24px;
}
.air-imei-popup .popup-details .section-title h2,
.air-iccid-popup .popup-details .section-title h2,
.raptor-imei-popup .popup-details .section-title h2,
.raptor-iccid-popup .popup-details .section-title h2,
.omega-imei-popup .popup-details .section-title h2,
.omega-iccid-popup .popup-details .section-title h2{
    color: #000;
    font-size: 24px;
    font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 12px;
    text-align: center;
}
.air-imei-popup .popup-details .section-title p,
.air-iccid-popup .popup-details .section-title p,
.raptor-imei-popup .popup-details .section-title p,
.raptor-iccid-popup .popup-details .section-title p,
.omega-imei-popup .popup-details .section-title p,
.omega-iccid-popup .popup-details .section-title p{
    color: #797C8E;
    font-size: 16px;
    font-weight: normal;
    line-height: 137.023%;
    max-width: 295px;
    margin: 0 auto;
    font-family: 'AktivGrotesk'!important;
}
.air-imei-popup.active,
.air-iccid-popup.active,
.raptor-imei-popup.active,
.raptor-iccid-popup.active,
.omega-imei-popup.active,
.omega-iccid-popup.active{
    bottom: 0;
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
/* All popup css end */




section.step-section {
    padding: 0 0 95px;
}

.step-section .container {
    max-width: 990px;
    margin: 0 auto;
    padding: 16px 16px;
    display: block;
    width: 100%;
}

.step-section .container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px 40px;
}

@media (min-width: 1024px) {
    .step-section .container {
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 100px;
    }
}

.step-section .step-details {
    padding: 0px 0;
}

.step-section .step-details .step-1 .section-title,
.step-section .step-details .step-2 .section-title{
    margin: 0 0 30px;
}

.step-section .is-mobile.section-title h3,
.step-section .step-details .step-1 .section-title h3,
.step-section .step-details .step-2 .section-title h3{
    color: #222;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 4px;
    font-family: 'AktivGrotesk'!important;
}
.step-section .is-mobile.section-title p,
.step-section .step-details .step-1 .section-title p,
.step-section .step-details .step-2 .section-title p{
    color: #4D5166;
    font-size: 14px;
  font-family: 'AktivGrotesk'!important;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.28px;
  margin:0;
}

@media (min-width: 1024px) {
    .step-section .is-mobile.section-title h3,
    .step-section .step-details .step-1 .section-title h3,
    .step-section .step-details .step-2 .section-title h3 {
        font-size: 24px;
    }

    .step-section .step-details .step-1 .section-title p,
    .step-section .is-mobile.section-title p,
    .step-section .step-details .step-2 .section-title p {
        font-size: 16px;
    }
}
.image-slider .image img {
    width: 100%;
}
.image-slider .slick-arrow {
    position: absolute;
    z-index: 1;
    border-radius: 570.288px;
    background: #FFF;
    box-shadow: 0px 4.5623px 6.84345px 0px rgba(151, 151, 151, 0.17);
    border: 0;
    width: 39px;
    height: 39px;
    padding: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    top: calc(50% - 20px);
    left: 20px;
}
.image-slider button.slick-next.slick-arrow {
    right: 20px;
    left: auto;
}
.image-slider ul.slick-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.image-slider ul.slick-dots li button {
    font-size: 0;
    padding: 0;
    background-color: #A3A3A3;
    width: 5px;
    height: 5px;
    border: 0;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.image-slider ul.slick-dots li.slick-active button {
    width: 12px;
    border-radius: 50px;
    background-color: #fff;
}
.step-section .step-details .plan-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 30px 0 20px;
}
.step-section .step-details .plan-details .plan-box {
    border-radius: 4px;
    border: 0.5px solid #A0A0A0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    text-align: center;
    cursor: pointer;
}
.step-section .step-details .plan-details .plan-box.active{
	border-radius: 4px;
	border: 2.5px solid #00A77F;
	background: rgba(0, 167, 127, 0.05);
}
.step-section .step-details .plan-details .plan-box h4 {
    color: #FF4D00;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 16px;
}
.step-section .step-details .plan-details .plan-box h3 {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    text-transform: capitalize;
    margin: 0 0 4px;
  font-family: 'AktivGrotesk'!important;
}
.step-section .step-details .plan-details .plan-box span {
    color: #000;
    font-size: 14px;
    font-weight: bold;
  font-family: 'AktivGrotesk'!important;
    line-height: 22px;
    text-transform: capitalize;
    display: flex;
    gap: 4px;
    align-items: center;
    margin: 0 0 8px;
}
.step-section .step-details .plan-details .plan-box span s{
  color: #797C8E;
    font-size: 14px;
    font-weight: bold;
  font-family: 'AktivGrotesk'!important;
    line-height: 22px;
  margin:0;
}
.step-section .step-details .plan-details .plan-box span b {
    color: #FF4D00;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: -0.12px;
    font-family: 'AktivGrotesk'!important;
}
.step-section .step-details .plan-details .plan-box p {
    color: #797C8E;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin:0;
  font-family: 'AktivGrotesk'!important;
}
.step-section .step-details .step-1 .choosing-plan {
    text-align: center;
    margin: 0 0 16px;
}
.step-section .step-details .step-1 .choosing-plan a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #525252;
    font-size: 14px;
    font-family: 'AktivGrotesk'!important;
    font-weight: normal;
    line-height: 30px; /* 214.286% */
    text-decoration-line: underline;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .step-section .step-details .step-1 {
        padding: 16px;
        padding-bottom: 0;
    }

    .step-section .step-details .step-2 {
        border-bottom: 1px solid #E5E5E5;
        padding: 16px;
        padding-bottom: 20px;
    }
}

.step-section .step-details .step-2 .free-trial-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.step-section .step-details .step-2 .free-trial-details .free-trial-box {
    border-radius: 4px;
    border: 0.5px solid #A0A0A0;
    padding: 12px;
    text-align: center;
    cursor: pointer;
}
.step-section .step-details .step-2 .free-trial-details .free-trial-box.active {
    border-radius: 4px;
    border: 2.5px solid #00A77F;
    background: rgba(0, 167, 127, 0.05);
}
.step-section .step-details .step-2 .free-trial-details .free-trial-box h4 {
    color: #FF4D00;
    font-size: 14px;
    font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 16px;
}
.step-section .step-details .step-2 .free-trial-details .free-trial-box h3 {
    color: #000;
    font-size: 14px;
    font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: 17px;
    text-transform: capitalize;
    margin: 0;
}
.step-section .step-details .step-2 .free-trial-details .free-trial-box span {
    color: #000;
    font-size: 13px;
    font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: 22px;
    text-transform: capitalize;
    margin: 0 0 12px;
}
.step-section .step-details .step-2 .free-trial-details .free-trial-box p {
    color: #797C8E;
    font-size: 11.5px;
    font-family: 'AktivGrotesk'!important;
    font-weight: normal;
    line-height: 15px;
    margin: 10px 0 10px;
    min-height: 60px;
}
.step-section .step-details .step-2 .free-trial-details .free-trial-box a {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 22.68px;
    letter-spacing: 0.14px;
    text-decoration-line: underline;
    font-family: 'AktivGrotesk'!important;
}
.step-section .plan-checkout {
    padding: 22px 16px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 990px;
}
.step-section .plan-checkout .left-content h3 {
    color: #000;
    font-size: 16px;
    font-family: 'AktivGrotesk'!important;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 4px;
}
.step-section .plan-checkout .left-content p {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #000;
    font-size: 14px;
    font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: normal;
    margin:0;
}
.step-section .plan-checkout .left-content p s {
    color: #797C8E;
    font-size: 14px;
    font-family: 'AktivGrotesk'!important;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}
.step-section .plan-checkout .left-content p b {
    color: #FF4D00;
    font-size: 12px;
    font-family: 'AktivGrotesk'!important;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.12px;
}
.step-section .footer-checkout__right a,
.step-section .plan-checkout .right-content .customise_continue {
    padding: 12.5px 35px;
    color: #FFF;
    font-size: 18px;
    font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: 22.68px;
    border-radius: 8px;
    background: #017C5F;
    display: inline-block;
        min-width: unset;
    cursor: pointer;
}
.step-section .footer-checkout__right a:hover,
.step-section .plan-checkout .right-content .customise_continue:hover {
    background-color: #03634C;
}

/* Thank You popup css start */
.thankyou-popup {
    position: fixed;
    top: 0;
    height: 100vh;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: #fff;
    z-index: 1;
    left: 100%;
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thankyou-popup.active{
	left: 0;
}
.thankyou-popup .popup-content h2 {
    text-align: center;
    color: #000;
    font-size: 28px;
    font-weight: 400;
    line-height: 130%;
    margin: 0 auto 16px;
    max-width: 322px;
}
.thankyou-popup .popup-content {
    text-align: center;
}
.thankyou-popup .popup-content p {
    color: #5B5D6A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.thankyou-popup .done-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px 16px;
    border-top: 1px solid #E5E5E5;
}
.thankyou-popup .done-button a {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    padding: 12.5px 0;
    border-radius: 8px;
    background: #017C5F;
}
/* Thank You popup css end */

/* Popup css start */
.which-internet-plan-popup,
.details-popup{
    padding: 26px 26px 46px;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    border-radius: 30px 30px 0px 0px;
    background: #FFF;
    z-index: 999;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.which-internet-plan-popup.active,
.details-popup.active{
    bottom: 0;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.which-internet-plan-popup .plan-services h2{
	text-align: center;
	margin: 0 0 24px;
	color: #222;
	font-size: 24px;
	font-weight: bold;
    font-family: 'AktivGrotesk'!important;
	line-height: normal;
}
.which-internet-plan-popup .popup-details > svg,
.details-popup > svg{
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.which-internet-plan-popup .popup-details a.close-popup,
.details-popup a.close-popup{
    top: 23px;
    right: 16px;
    position: absolute;
}
.which-internet-plan-popup .popup-details .plan-services {
    padding: 69px 0 0;
}
.which-internet-plan-popup .popup-details .plan-services .plan-box {
    border-radius: 12px;
    background: #E9F2E4;
    padding: 16px 10px 16px 20px;
    margin: 0 0 12px;
}
.which-internet-plan-popup .popup-details .plan-services .plan-box:last-child{
	margin: 0;
}
.which-internet-plan-popup .popup-details .plan-services .plan-box span {
    border-radius: 500px;
    background: #FFF;
    padding: 4px 16px;
    color: #FF4C00;
    font-size: 12px;
    font-family: 'AktivGrotesk'!important;
    font-weight: normal;
    line-height: normal;
    letter-spacing: -0.24px;
    max-width: 73px;
    margin-left: auto;
    display: block;
    margin-bottom: 4px;
}
.which-internet-plan-popup .popup-details .plan-services .plan-box h3 {
    color: #000;
    font-size: 16px;
    font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 16px;
}
.which-internet-plan-popup .popup-details .plan-services .plan-box ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #292929;
    font-size: 14px;
    font-family: 'AktivGrotesk'!important;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 8px;
}
.which-internet-plan-popup .popup-details .plan-services .plan-box ul li b {
    color: #00A77F;
}
.details-popup .popup-details {
    padding: 62px 0 37px;
}
.details-popup .popup-details h2 {
    color: #000;
    font-size: 24px;
    font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 32px;
}
.details-popup .popup-details ul li {
    position: relative;
    padding-left: 55px;
    margin: 0 0 24px;
}
.details-popup .popup-details ul li svg {
    position: absolute;
    left: 0;
}
.details-popup .popup-details ul li .content h3 {
    color: #000;
    font-size: 16px;
    font-family: 'AktivGrotesk'!important;
    font-weight: bold;
    line-height: 17px;
    text-transform: capitalize;
    margin: 0 0 8px;
}
.details-popup .popup-details ul li .content p {
    color: #797C8E;
    font-size: 12px;
    font-family: 'AktivGrotesk'!important;
    font-weight: normal;
    line-height: 150%;
    margin:0;
}
.details-popup .popup-details ul li:last-child {
    margin: 0;
}
/* Popup css end */

.hidden-popup-overlay {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
}
.hidden-popup-overlay.active {
  opacity: 1;
  visibility: visible;
}
a.back-arrow{
      display: flex;
    gap: 5px;
    text-decoration: none;
    font-size: 18px;
  margin-bottom:40px;
  color: var(--accent, #008061);
text-align: center;
font-family: 'AktivGrotesk'!important;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
  justify-content: center;
    margin-top: 20px;
}
.rr_loader_overlay{top:-70px;}
.rr_spinner {
    top: 40%;
}
.rr_loader h2 {
    top: 50%;
    left: 49%;
    transform: translate(-52%,-50%);
}

.email-info{
  display: flex;
align-items: center;
gap: 4px;
align-self: stretch;
margin-top:4px;  
}
.email-info svg{
  width: 15px;
height: 15px;
}
.email-info span{
  color: var(--gray-true-600, var(--colors-gray-true-600, #525252));
text-align: center;
font-family: 'AktivGrotesk'!important;
font-size: 12px;
font-style: normal;
font-weight: normal;
line-height: 20px; /* 166.667% */
}

/* .box-3{
  display: flex;
padding: 9.518px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12.691px;
align-self: stretch;
border-radius: 12px;
border: 0.397px solid #A0A0A0;
background: #FDFDFD;  
margin-bottom:40px;  
} */

.box-4 svg {
    width: 100%;
    max-width: 40px;
    margin: auto;
    margin-bottom: 12px;
}

.own_modem_text{
color: var(--Heading, #000);
text-align: center;
font-family: 'AktivGrotesk'!important;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
margin:0;  
}
.box-3.active {
    border: 1.5px solid var(--accent, #00A77F);
    background: rgba(0,167,127,.05);
}
/* Style for the green checkbox */
    .checkbox-container {
      display: flex;
      align-items: flex-start;
      margin-top:20px;
    }

    .custom-checkbox {
      position: relative!important;
      width: 15px!important;
      height: 15px!important;
      margin-right: 10px!important;
      margin-left:0!important;
      border: 2px solid #4CAF50!important; /* Green color for the border */
      border-radius: 4px!important;
      cursor: pointer!important;
      padding:0.581rem 0.581rem!important;
      min-width:unset!important;
    }

    .custom-checkbox:checked {
      background-color: #4CAF50; /* Green color for the background when checked */
    }

    .custom-checkbox::before {
      content: '\2713'; /* Unicode checkmark character */
      font-size: 16px;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }

    .custom-checkbox:checked::before {
      display: block;
    }

    .terms-text {
      color: #5B5D6A;
font-family: 'AktivGrotesk'!important;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 166.667% */
    }
.terms-text .link_text{
  color: var(--accent, #00A77F);
font-family: 'AktivGrotesk'!important;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
text-decoration-line: underline;
}

@media only screen and (max-width: 767px){
.modem-section .steps {
    overflow-y: scroll;
}
.rr_loader h2 {
    top: 50%;
    left: 52%;
    transform: translate(-52%,-50%);
}  
}
@media only screen and (min-width: 767px){
.modem-section .container, .order-detail-section .container{max-width:650px;}
}


@media only screen and (min-width: 768px) {
    .step-section .plan-checkout { 
      max-wdith: 990px;
      margin: 0 auto;
    }
}

.outer-container {
    background-color: #ffff; 
    width: 100%;
    justify-content: center;
     position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #E5E5E5;
}

@media only screen and (min-width: 768px) {
    .step-section .plan-checkout .right-content .customise_continue {
     padding: 12.5px 70px;
    }
}


.steps2-imgs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.steps2-imgs img {
    max-height: 150px;
    object-fit: contain;
    width: 100%;
}

#activation_form section.modem-section{
    background-color: #fff;
}

#activation_form section.modem-section a.back-arrow {
    font-size: 16px;
}

#activation_form section.modem-section .back-arrow.is-desktop {
    display: none;
    color: #008061;
}

#activation_form section.modem-section .back-arrow.is-mobile {
    display: flex;
    color: #008061;
}

@media (min-width: 1024px) {
    .steps2-imgs {
        flex-direction: row;
        gap: 60px;
    }

    .steps2-imgs img:first-of-type {
        width: 60%;
    }

    .steps2-imgs img:last-of-type {
        width: 40%;
    }

    #activation_form section.modem-section {
        background-color: #f0f0f0;
    }


    #activation_form section.modem-section .back-arrow.is-desktop {
        display: flex;
        margin: 20px auto 0;
    }

    #activation_form section.modem-section .back-arrow.is-mobile {
        display: none;
    }

    .modem-section .air-info, .modem-section .raptor-info, .modem-section .omega-info {
        padding: 50px;
        border-radius: 20px;
    }

    .modem-section .air-info-form {
        padding: 50px;
        border-radius: 20px;
    }
}

@media (max-width: 1023px) {
    .modem-section .container, .order-detail-section .container {
        justify-content: flex-start;
    }
}

.modem-section .air-info-form .form-details .email-input {
    position: relative;
}

.modem-section .air-info-form .form-details .email-input input.active,
.modem-section .air-info-form .form-details .imei-input input.active,
.modem-section .air-info-form .form-details .iccid-input input.active {
    border-color: #008061;
}

.modem-section .air-info-form .form-details .imei-input input.checked,
.modem-section .air-info-form .form-details .iccid-input input.checked {
    border-color: #008061;
}

.modem-section .air-info-form .form-details .email-input input.error,
.modem-section .air-info-form .form-details .imei-input input.error,
.modem-section .air-info-form .form-details .iccid-input input.error {
    border-color: red;
}

.modem-section .air-info-form .form-details .imei-input,
.modem-section .air-info-form .form-details .iccid-input {
    position: relative;
}

.modem-section .air-info-form .form-details .email-input #is-error,
.modem-section .air-info-form .form-details .imei-input #is-error,
.modem-section .air-info-form .form-details .iccid-input #is-error,
.modem-section .air-info-form .form-details .email-input #is-checked,
.modem-section .air-info-form .form-details .imei-input #is-checked,
.modem-section .air-info-form .form-details .iccid-input #is-checked {
    display: block;
    position: absolute;
    top: 37px;
    right: 10px;
}

section.step-section .step-wrapper {
    display: flex;
    flex-direction: column;
    margin: 32px 0 40px;
}

section.step-section .step-images {
    width: 100%;
}

section.step-section .step-details {
    width: 100%;
}

@media (min-width: 1024px) {
    section.step-section .step-wrapper  {
        flex-direction: row;
        gap: 40px;
    }

    section.step-section .step-images {
        float: left;
        width: 50%;
        position: sticky;
        top: 50px;
        display: block;
        height: max-content;
    }
    
    section.step-section .step-details {
        width: 50%;
        float: right;
    }

    section.step-section .step-section__top {
        padding: 10px 10px 0;
    }
}

section.step-section .step-section__top .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid #00000024;
}

section.step-section .offer-text {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 500px;
    color: #f5f5f5 !important;
    background-color: #ff4d00;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal !important;
    letter-spacing: -.12px !important;
    margin-top: 8px !important;
    width: fit-content;
}

.step-section .step-details .plan-details .plan-box h4 {
    width: 100%;
    height: 14px;
}

.step-section .step-wrapper .section-title.is-mobile {
    display: block;
    margin-bottom: 16px;
}

.step-section .step-wrapper .section-title.is-desktop {
    display: none;
}

.compare_plan_price {
    margin: 0 4px;
    text-decoration: line-through;
    color: #797C8E;
    font-size: 14px;
}

@media (min-width: 1024px) {
    .step-section .step-wrapper .section-title.is-mobile {
        display: none;
    }
    
    .step-section .step-wrapper .section-title.is-desktop {
        display: block;
    }   
}

.step-section .step-wrapper .step-details .footer-checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 24px;
}

.step-section .step-wrapper .step-details .footer-checkout__left .selected_plan {
    font-size: 16px;
    line-height: 19.23px;
    margin: 0;
    font-weight: 600;
    font-family: AktivGrotesk !important;
    margin-bottom: 4px;
}

.step-section .step-wrapper .step-details .footer-checkout__left p {
    margin: 0;
    font-size: 14px;
    line-height: 16.83px;
    font-family: AktivGrotesk !important;
    font-weight: 600;
}

.step-section .step-wrapper .step-details .footer-checkout__left p .compare_plan_price {
    color: #797C8E;
}

.step-section .step-wrapper .step-details .footer-checkout__left p .selected_plan_off {
    font-size: 12px;
    line-height: 14.18px;
    letter-spacing: -0.01em;
    color: #FF4D00;
}

.step-section .outer-container {
    display: block;
}

.step-section .step-wrapper .step-details .footer-checkout {
    display: none;
}

@media (min-width: 1024px) {
    .step-section .outer-container {
        display: none;
    }   

    .step-section .step-wrapper .step-details .footer-checkout {
        display: flex;
    }
}

@media (max-width: 500px) {
    .step-section .plan-checkout .left-content p {
        flex-wrap: wrap;
    }

    .step-section .plan-checkout .left-content p b.selected_plan_off {
        width: 100%;
    }
}




.frame8890 {
  display: flex;
  flex-direction: column;
  /*width: 600px;*/
  align-items: center;
  gap: 40px;
  padding: 50px;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
}

.frame8890 .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8890 .logo-dark {
  position: relative;
  width: 121.04px;
  height: 41.09px;
}

.frame8890 .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8890 .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -0.81px;
  font-family: AktivGrotesk !important;
  font-weight: bold;
  color: #000000;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame8890 .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9.7px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8890 .p {
  position: relative;
  align-self: stretch;
  margin-top: -0.81px;
  font-family: AktivGrotesk !important;
  font-weight: 400;
  color: #5b5d6a;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom:0;
}

.frame8890 .div-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8890 .div-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8890 .div-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8890 .div-6 {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8890 .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: AktivGrotesk !important;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.frame8890 .div-wrapper-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
  border: 0.5px solid;
  border-color: #a3a3a3;
  position: relative;
  margin-top: -0.5px;
  font-family: AktivGrotesk !important;
  font-weight: 400;
  color: #5b5d6a;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.frame8890 .alert-circle {
  position: relative;
  width: 15px;
  height: 15px;
}

.frame8890 .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: AktivGrotesk !important;
  font-weight: 400;
  color: #525252;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  margin-bottom:0;
}

.frame8890 .div-wrapper-3 {
  display: flex;
  height: 47px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #017c5f;
  border-radius: 8px;
  cursor:pointer;
}

.frame8890 .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -0.76px;
  font-family: AktivGrotesk !important;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22.7px;
  white-space: nowrap;
}

.frame8890 .div-7 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.frame8890 .icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame8890 .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: AktivGrotesk !important;
  font-weight: 400;
  color: #008061;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  #activation_form section.order-detail-section  {
    background-color: #fff;
  }
  .frame8890 {
    padding: 50px 10px;
  }
}

.frame8891 {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  gap: 40px;
  padding: 50px;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
}

.frame8891 .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8891 .logo-dark {
  position: relative;
  width: 121.04px;
  height: 41.09px;
}

.frame8891 .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8891 .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -0.81px;
  font-family: AktivGrotesk !important;
  font-weight: bold;
  color: #000000;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame8891 .thank-you-for-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9.7px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8891 .thank-you-for {
  position: relative;
  align-self: stretch;
  margin-top: -0.81px;
  font-family: AktivGrotesk !important;
  font-weight: 400;
  color: #282828;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.frame8891 .div-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8891 .frame8891-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8891 .img {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame8891 .i-ve-read-and-wrapper {
  display: flex;
  height: 47px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #017c5f;
  border-radius: 8px;
  cursor:pointer;
}

.frame8891 .i-ve-read-and {
  position: relative;
  width: fit-content;
  margin-top: -0.76px;
  font-family: AktivGrotesk !important;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22.7px;
  white-space: nowrap;
}

.frame8891 .div-4 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
  cursor:pointer;
}

.frame8891 .icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame8891 .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: AktivGrotesk !important;
  font-weight: 400;
  color: #008061;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.frame8891 .div-3 .frame-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.frame8891 .div-3 .frame-img img {
    max-height: 150px;
    object-fit: contain;
    width: 100%;
}

@media (min-width: 767px) {
  .frame8891 .div-3 .frame-img {
    flex-direction: row;
  }
}
.frame8893 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 50px;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
}
.frame8893 .img {
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
  width: 100%;
}
.frame8893 .group {
  position: relative;
  width: 177.29px;
  height: 177.29px;
}
.frame8893 .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
  width: 100%;
}
.frame8893 .text-wrapper {
  position: relative;
  max-width: 403px;
  margin-top: -1px;
  font-family: AktivGrotesk !important;
  font-weight: bold;
  color: #008061;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom:0;
}
.frame8893 .p {
  position: relative;
  align-self: stretch;
  opacity: 0.7;
  font-family: AktivGrotesk !important;
  font-weight: 400;
  color: #282828;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom:0;
}
.frame8893 .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
  width: 100%;
}
.frame8893 .div-wrapper {
  display: flex;
  height: 47px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 12px;
  background-color: #017c5f;
  border-radius: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  cursor:pointer;
}
.frame8893 .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -0.76px;
  font-family: AktivGrotesk !important;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22.7px;
  white-space: nowrap;
}


  .slick-prev img{transform: rotate(180deg);}
  .image-slider .slick-arrow{background:transparent!important;box-shadow:none!important;}
  .addon_trial_popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.addon_trial_popup .background-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  background: rgb(0 0 0 / 50%);
}
.addon_trial_popup.active {
  opacity: 1;
  visibility: visible;
}
.addon_trial_popup .popup-details {
  background: #fff;
  position: relative;
  z-index: 1;
  max-width: 100%;
  width: 1000px;
  padding: 97px 65px 68px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.addon_trial_popup .popup-details a.close-button {
  position: absolute;
  right: 56px;
  top: 33px;
}
.addon_trial_popup .popup-details .rocket_svg {
  margin: 0 auto;
  width: 149.499px;
  height: 151.758px;
}
.addon_trial_popup .popup-details h2 {
  color: var(--heading, #000);
  font-family: AktivGrotesk !important;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0;
}
.addon_trial_popup .popup-details p {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: AktivGrotesk !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 32px */
  letter-spacing: 0.2px;
  margin-bottom: 36px;
  max-width:475px;
}
.addon_trial_btn {
  display: flex;
  width: 275px;
  height: 60px;
  padding: 8.075px 29.071px;
  justify-content: center;
  align-items: center;
  gap: 8.075px;
  border-radius: 8px;
  border: 1.615px solid #00a77f;
  background: var(--accent, #00a77f);
  color: #fff;
  text-align: center;
  font-family: AktivGrotesk !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 134%; /* 26.8px */
  letter-spacing: 0.6px;
  text-decoration: none;
}
.addon_trial_btn:hover {
  background: #008a69;
}
.free_text {
  color: #000;
  font-family: AktivGrotesk !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
  @media screen and (max-width: 767px) {
    .addon_trial_popup .popup-details h2 {
    font-size: 28px;
      text-align:center;
  }
  .addon_trial_popup .popup-details .rocket_svg {
    width: 100px;
    height: 100px;
  }
  .free_text {
    font-size: 21px;
  }
    .addon_trial_popup .popup-details{padding: 95px 25px 68px 25px;}
  }

@media screen and (min-width: 767px) and (max-width: 991px){
    .addon_trial_popup .popup-details h2 {
    font-size: 28px;
      text-align:center;
  }
  .addon_trial_popup .popup-details .rocket_svg {
    width: 100px;
    height: 100px;
  }
  .free_text {
    font-size: 21px;
  }
    .addon_trial_popup .popup-details{padding: 95px 25px 68px 25px;}
  }
@media only screen and (max-width: 767px) {
    .frame8893 {
      padding: 50px 12px;
    }
  }
  