.features-content {
  padding: 48px 10px;
}

.features-content .heading {
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  width: 100%;
  margin: auto;
  font-weight: 700;
  margin-bottom: 8px;
}

.features-content .content {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 32px;
  font-size: 18px;
  color: #282828;
  line-height: 30.89px;
  font-weight: 400;
}

.features-content .list {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 32px;
}

.features-content .list .item {
  background: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 16px;
  row-gap: 32px;
}

.features-content .list .item img {
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
}

.features-content .list .item .title {
  margin: 0;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  color: #101828;
  margin-bottom: 16px;
}

.features-content .list .item .desc {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #475467;
  opacity: 0.8;
}

.features-content .list .item .btn {
  background: var(--button-bg-color);
  border-color: var(--button-border-color);
  color: var(--button-text-color);
}

@media (min-width: 750px) {
  .features-content {
    padding: 64px 10px;
  }

  .features-content .heading {
    font-size: 36px;
    line-height: 46.8px;
    max-width: 600px;
  }

  .features-content .list {
    grid-template-columns: repeat(var(--grid-count), 1fr);
    gap: 40px;
  }

  .features-content .content {
    margin-bottom: 32px;
  }
}