@font-face {
  font-family: 'AktivGrotesk';
  src: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Bold.woff2?v=1697835012') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Bold.woff?v=1697835012') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Regular.woff2?v=1697835011') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Regular.woff?v=1697835012') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Medium.woff2?v=1697835012') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0103/2847/3658/files/AktivGrotesk-Medium.woff?v=1697835012') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.text-with-content .heading {
  font-family: AktivGrotesk !important;
}

@media (min-width: 1024px) {
  .image-with-text {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }

  .faq-section.custom-faq-section {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
}


.image-with-text .image-with-text--content .sub-title,
.image-with-text .image-with-text--content .title,
.image-with-text .image-with-text--content .desc,
.image-with-text .image-with-text--content .btn
{
  font-family: AktivGrotesk !important;
}

.image-with-text .image-with-text--content .desc {
  font-size: 16px !important;
}

.custom-faq-section *, .banner-slideshow__item-content * {
  font-family: AktivGrotesk !important;
}

.banner-slideshow__item-content .buttons .btn {
  font-weight: 500 !important;
}

@media (min-width: 1024px) {
  .banner-slideshow__item.swiper-slide .hidden-sm-d.ratio {
    min-height: 700px !important;
  }
}