body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000 !important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

#css-backoffice > .MuiBox-root > .MuiBox-root {
    padding: 0
}

.navigation-AppBar {
    background-color: var(--primary) !important
}

@media only screen and (min-width:769px) {
    .mobile-menu {
        display: none !important
    }
}

.mobile-menu {
    display: block
}

.navigation-Tabs > .css-1cgx7kx-MuiTabs-scroller > .MuiTabs-flexContainer > .css-h0q0iv-MuiButtonBase-root-MuiTab-root {
    min-height: 50px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    white-space: inherit
}

    .navigation-Tabs > .css-1cgx7kx-MuiTabs-scroller > .MuiTabs-flexContainer > .css-h0q0iv-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: var(--secondary) !important
    }

.navigation-Tabs > .css-1cgx7kx-MuiTabs-scroller > .css-10d9dml-MuiTabs-indicator {
    background-color: var(--secondary) !important
}

.navigation-Tab {
    align-items: center !important;
    display: flex !important;
    justify-content: unset !important;
    text-align: left !important
}

.ST_CS_TableHeading {
    white-space: nowrap
}

.ST_CS_product-label > .MuiFormControlLabel-label {
    display: contents !important
}

.ST_CS_ProductDecrementBtn, .ST_CS_ProductIncrementBtn {
    border: .01rem solid rgba(25,118,210,.5) !important;
    border-radius: 1rem !important;
    min-width: 1.7rem !important;
    padding: 0 !important
}

.ST_CS_DeleteConfirmPopup {
    padding: 15px
}

.ST_CS_TextRight {
    align-items: center;
    display: flex;
    justify-content: space-between !important;
    justify-content: right
}

.ST_CI_textfield-details {
    padding-left: 0 !important;
    width: 100% !important
}

.ST_CI_ProductDecrementBtn, .ST_CI_ProductIncrementBtn {
    background-color: initial !important;
    border: .01rem solid rgba(25,118,210,.5) !important;
    border-radius: 1rem !important;
    color: rgba(0,0,0,.26) !important;
    height: 1.2rem !important;
    width: 2rem !important
}

@media screen and (min-width:900px) {
    .ST_CI_responsive-textfield {
        padding-left: 16px !important
    }
}

.ST_CI_product-label > .MuiFormControlLabel-label {
    display: contents !important
}

.ST_CI_TableHeading {
    white-space: nowrap
}

.ST_CI_ProductDecrementBtn svg, .ST_CI_ProductIncrementBtn svg {
    margin: 0 !important
}

.ST_DB_Dialog_Box {
    padding: 24px
}

.ST_DB_No_Data {
    color: grey;
    font-weight: 700;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap
}

.ST_DB_Pie_Width {
    width: 75%
}

.ST_DB_Graph {
    height: 200px !important
}

.ST_DB_Min_Class {
    max-width: 24% !important
}

@media (max-width:767px) {
    .ST_DB_Min_Class {
        margin-bottom: 10px !important;
        margin-left: 16px !important;
        max-width: 100% !important
    }
}

.ST_DC_Discount_Copied, .ST_DC_Discount_Copy {
    cursor: pointer;
    position: absolute;
    right: 20px
}

#ST_DC_Discount_Code {
    display: flex;
    width: calc(100% - 75px)
}

::ng-deep .MuiTextField-root {
    display: flex !important
}

.ST_DC_Icons {
    margin-top: 15px
}

.ST_DC_Discount_Copied {
    color: #05bf05 !important
}

.ST_DC_Card_Grid {
    text-align: right !important
}

@media only screen and (max-width:767px) {
    .ST_DC_Card_Grid {
        text-align: left !important
    }

    .ST_DC_Modal_CSS {
        width: 75% !important
    }
}

@media (device-width:768px) and (device-height:1024px) and (orientation:portrait) {
    #ST_DC_Discount_Code {
        width: calc(100% - 75px)
    }
}

.ST_DC_Pointer_Events_All {
    pointer-events: all
}

.ST_DC_Pointer_Events_None {
    pointer-events: none
}

.ST_DC_Thead {
    white-space: nowrap
}

.ST_MC_Search_Icon {
    position: absolute;
    right: 10px
}

.ST_MC_Thead TableCell {
    word-break: break-all
}

.ST_MC_Dialog_Box {
    padding: 24px
}

.ST_MC_Disable_Form {
    opacity: .8;
    pointer-events: none
}

.ST_MC_No_Pointer {
    pointer-events: none
}

.ST_MC_All_Pointer {
    pointer-events: all
}

.ST_MC_ErrMsg {
    color: red;
    font-size: 12px;
    position: absolute;
    right: 32px
}

.ST_MC_Cursor_CSS {
    cursor: not-allowed !important
}

@media only screen and (max-width:767px) {
    #ST_MC_Search {
        font-size: 12px !important
    }
}

.ST_SOD_Tab_Style {
    font-size: 15px;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    width: 25% !important
}

.ST_SO_Thead TableCell {
    word-break: break-all
}

.ST_SO_Dialog_Box {
    padding: 24px
}

.ST_DO_DeleteConfirmPopup {
    padding: 15px
}

.ST_DO_TextRight {
    align-items: center;
    display: flex;
    justify-content: right
}

.ST_DO_ExportCsv {
    texttransform: "capitalize";
    whitespace: "nowrap";
    margintop: 2
}

:root {
    --primary: #81ca51;
    --secondary: #5167ca;
    --inputBoxBorder: #272886;
    --inputBoxLabel: #100cf5;
    --color-background: transparent !important
}

.ST_Main_Card {
    margin-bottom: 20px;
    padding: 2rem
}

.MuiFormLabel-asterisk {
    color: red
}

input[type=number] {
    -moz-appearance: textfield !important
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
}

::-webkit-scrollbar {
    background-color: #f5f5f5;
    height: 5px;
    width: 5px
}

::-webkit-scrollbar-thumb {
    background-color: #1976d2;
    border-radius: 30px
}

.ST_Affiliate_Product_Table tr td {
    white-space: nowrap
}

.MuiBackdrop-root:empty, .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:empty {
    display: block !important
}

textarea {
    height: 40px !important;
    min-height: 40px !important
}

input {
    border: none !important;
    height: auto !important;
    margin: 0 !important
}

td, th {
    background-color: #fff !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important
}

.navigation-Tab:not(.Mui-selected):hover {
    background-color: initial !important;
    color: rgba(0,0,0,.6) !important
}

.ST_SOD_Tab_Style:hover, .navigation-Tab.Mui-selected:hover {
    background-color: initial !important
}

.ST_SOD_Tab_Style:hover {
    color: rgba(0,0,0,.6) !important
}

.MuiLink-button:hover, .ST_SOD_Tab_Style.Mui-selected:hover {
    background-color: initial !important
}

.MuiLink-button:hover {
    color: #1976d2 !important
}

button {
    border-radius: 4px !important
}

table {
    background-color: #fff !important
}

.MuiGrid-item div.div {
    color: red !important;
    display: none !important
}

.MuiDrawer-paper {
    position: relative !important
}

.ST_Dialog_Box {
    padding: 24px
}

.ST_Text_Right {
    text-align: right;
    width: 100%
}

.ST_Login_Grid {
    background-color: #bbcde2;
    border-radius: 22px
}

.ST_CursorCss {
    cursor: pointer !important
}

@media only screen and (max-width:767px) {
    .ST_LC_Video {
        display: none !important
    }
}

.ST_SU_Display {
    display: flex;
    justify-content: center;
    width: 100%
}

.ST_SU_TextColor {
    color: grey
}

.ST_SU_TextField {
    display: flex;
    justify-content: center;
    width: 100%
}

#rep-login{padding-top:50px!important;}
.css-uqf73e{height:auto!important;background-color: #00a77f!important;}
.css-3ihacg{background-color: #00a77f!important;}