@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url({{ 'D-DIN-Regular.woff2' | asset_url }}) format('woff2');
}

@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url({{ 'D-DIN-Bold.woff2' | asset_url }}) format('woff2');
}

body#nomad-vending-machine {
  background: #000;
}

.vending-container {
  background: #000;
  padding: 0px 20px;
  max-width: 500px;
  margin: auto;
}

.vending-container p {
  margin: 0;
}

.vending-container h2 {
  line-height: 0;
}

.vending-header {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
}

.vending-header .logo {
  display: block;
  max-width: 109px;
}

@media (max-width: 35.987rem) {
  .vending-header .logo {
    max-width: 141.532px;
  }
}

.machine-container {
  display: flex;
  gap: 14.5px;
  padding: 35px 14px 0px;
  background-image: url('smart-hub-bg.png');
  background-size: cover;
}

.machine-container > div {
  flex-grow: 1;
  flex-shrink: 1;
}

.machine-container .vending-image {
  flex-basis: 100px;
}

.machine-container .vending-content {
  flex-basis: 229px;
}

@media (max-width: 990px) {
  .machine-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .vending-container {
    padding: 0;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}


.vending-content h2 {
  color: #FFF;
  font-family: DIN;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
  margin: 6px 0 12px;
}

.vending-button {
  display: flex;
  justify-content: flex-start;
}

.vending-button .vending-button-link {
  border-radius: 4.364px;
  background: #008B69;
  padding: 8.182px 0px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  width: 90%;
  line-height: inherit;
  border: none;
  font-family: DIN;
  cursor: pointer;
}

.vending-button .vending-button-link:hover {
  opacity: 0.8;
}

.vending-steps-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 22px 0 29px;
}

.vending-step {
  display: flex;
  padding: 20px 16px 20px 24px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  background: #242424;
  gap: 10%;
}

.vending-tag-step {
  background: #00DCA71A;
  padding: 36px;
  border-radius: 1000px;
  height: 71px;
  width: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vending-step .vending-tag-step p {
  width: 54px;
  height: 54px;
  border-radius: 343.213px;
  border: 10.983px solid rgba(0, 220, 167, 0.10);
  background: var(--accent, #00A77F);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: DIN;
  font-size: 32.948px;
  font-weight: 600;
  text-transform: capitalize;
}

.vending-step-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vending-step-content h2 {
  color: #FFF;
  font-family: DIN;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}

.vending-step-content .vending-description {
  color: #ffffffcc;
  font-family: DIN;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135.756%;
}

.vending-step-content .vending-description a {
  text-decoration: none;
}

.vendor-popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 100vh;
  right: 0;
  bottom: 0;
  opacity: 1;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: end;
  transition: all 0.5s ease;
}

.vendor-popup.active {
  top: 0;
  opacity: 1;
}

.vending-pop-content {
  border-radius: 30px 30px 0px 0px;
  border: 1px solid rgba(255, 255, 255, 0.31);
  background: #000;
  padding: 0px 24px 60px 24px;
  width: 100%;
}

@media (min-width: 500px) {
  .vendor-popup {
    justify-content: center;
    align-items: center;
  }
  .vending-pop-content {
    max-width: 460px;
    border-radius: 30px;
  }
}

.vending-pop-content #drag-close {
  padding-top: 23px;
  width: 80%;
  margin: auto;
}

.vending-pop-content .hr {
  cursor: pointer;
  height: 4px;
  width: 50px;
  margin: auto;
  background: white;
}

.vending-close {
  display: flex;
  justify-content: end;
}

.vending-close img {
  cursor: pointer;
}

.vending-speed {
  display: flex;
  justify-content: center;
  padding: 16px 0 24px 0;
}

.speed-vending-mssg {
  color: #FFF;
  text-align: center;
  font-family: DIN;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.vending-credits {
  padding: 24px 0
}

.line-vending-credit {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 7px;
}

.vending-title {
  color: #ffffffcc;
  font-family: DIN;
  font-size: 16px;
  font-weight: 400;
  line-height: 125.756%;
}

.vending-value {
  color: #00A77F;
  font-family: DIN;
  font-size: 20px;
  font-weight: 600;
  line-height: 125.756%;
}
.passcodebtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100% !important;
}

.copied {
  display: none;
}

.vending-button.copying .vending-button-link {
  background: transparent;
  border-radius: 8px;
  border: 1.5px solid #fff;
}

.copying .copy {
  display: none;
}

.copying .copied {
  display: inline-block;
}

.vending-new-step {
  padding: 32px 18px;
  color: #fff;
  font-family: 'DIN';
  background-image: var(--mobile-image);
}

@media (min-width: 991px) {
  .vending-new-step {
    background-image: var(--desktop-image);
    padding: 48px 18px;
  }
}

.vending-new-step .vending-new-step__wrapper {
  background: #000000a8;
  padding: 28px 20px;
  border-radius: 8px;
}


.vending-new-step__wrapper .title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 26px;
  font-weight: 600;
  line-height: 31.75px;
  text-align: center;
  font-family: 'DIN';
  letter-spacing: 0.02em;
}


.vending-new-step__wrapper .list .item {
  padding-bottom: 32px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.vending-new-step__wrapper .list .item .item__number {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7.69px solid #00dca71a;
  border-radius: 100%;
}

.vending-new-step__wrapper .list .item .item__number::after {
  display: table;
  content: "";
  position: absolute;
  width: 2.36px;
  height: -webkit-fill-available;
  max-height: 220px;
  top: 10px;
  background: #00a77f;
  z-index: 0;
}


.vending-new-step__wrapper .list .item .item__number.last::after {
  display: none;
  height: 0;
}

.vending-new-step__wrapper .list .item .item__number .circle {
  width: 34px;
  height: 34px;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  display: flex;
  font-family: 'DIN';
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #00A77F, #00A77F), linear-gradient(0deg, rgba(0, 220, 167, 0.1), rgba(0, 220, 167, 0.1));
  border-radius: 100%;
  z-index: 1;
}

.vending-new-step__wrapper .list .item .item__wrapper {
  width: calc(100% - 60px);
  margin-top: 4px;
}

.vending-new-step__wrapper .list .item .heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-size: 18.5px;
  font-family: 'DIN';
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

.vending-new-step__wrapper .list .item .heading .icon {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
}

.vending-new-step__wrapper .list .item .content {
  font-size: 16px;
  font-family: 'DIN';
  line-height: 22.4px;
  font-weight: 400;
  color: #fff;
  opacity: 0.8;
}

@media (min-width: 991px) {
  .vending-new-step .vending-new-step__wrapper .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  .vending-new-step__wrapper .list .item .item__number::after {
    display: none;
  }

  .vending-new-step__wrapper .title {
    font-size: 40px;
    line-height: 48.84px;
  }

  .vending-new-step__wrapper .list .item .heading {
    font-size: 20px;
    line-height: 27.63px;
  }

  .vending-new-step__wrapper .list .item .content {
    font-size: 18px;
    line-height: 25.2px;
  }
}

.vending-new-step__wrapper .list .item .content a {
  text-decoration: none;
}

.vending-new-step__wrapper .card-icons__list {
  display: flex;
  gap: 10px;
}

.vending-new-step__wrapper .card-icons__list img {
  width: 100%;
  max-width: 21.5%;
}

.vending-new-step__wrapper .list .card-icons__title {
  font-size: 16px;
  font-family: 'DIN';
  font-weight: 700;
  line-height: 21px;
  margin: 10px 0 6px;
}

.vending-video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vending-video-popup__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000b3;
}

.vending-video-popup__content {
  z-index: 1;
  background: transparent;
  width: 90%;
  margin: auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.vending-video-popup__btn {
  background: transparent;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: 0;
  cursor: pointer;
}

.vending-video-popup__btn svg {
  fill: #fff;
  stroke: #fff;
  stroke-width: 2.5;
}

.vending-page {
  margin-top: -68px;
}

@media (max-width: 767px) {
  .vending-page {
    margin-top: -58px;
  }
}

.vending-page .lp-16 {
  font-family: 'DIN';
  color: #fff;
  padding: 64px 0;
}

.vending-page .lp-16__title {
  position: relative;
  font-family: 'DIN';
}

.vending-page .lp-16__title::before {
  display: table;
  content: "";
  background: #00A77F;
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translate(-50%);
  height: 3px;
  width: 75px;
}

.vending-page .accordion__heading {
  background-color: transparent !important;
  border-radius: 0;
  border: 1px solid #2e2e2e;
  padding: 1.875rem;
  margin: 0;
}

.vending-page .accordion__pane--active .accordion__heading {
  background-color: transparent;
  border-radius: 0;
}

.vending-page .accordion__content-wrapper {
  font-size: 16px;
  background: #333333a6;
  padding: 20px;
}

.vending-page .accordion__content-wrapper * {
  margin: 0;
  margin-bottom: 8px;
}

.vending-page .accordion__content-wrapper *:last-of-type {
  margin-bottom: 0;
}

.vending-page .accordion__heading:hover {
  background-color: #1c1c1c !important;
}

.vending-page .accordion__pane--active .accordion__heading:hover {
  background-color: transparent !important;
}

@media (max-width: 990px) {
  .vending-page .lp-16__title {
    font-size: 24px;
  }

  .vending-page .accordion__heading {
    font-size: 16px;
    padding: 0.938rem;
    font-weight: 600;
  }
}

.vending-page .banner-slideshow * {
  font-family: 'DIN';
}

.vending-page .banner-slideshow .banner_contact em {
  font-style: normal;
}

.vending-page .accordion__heading .accordion__icon {
  width: 22px;
  height: 22px;
}

.vending-page #shopify-section-lp-16 {
  max-width: 100%;
  background: rgba(16, 16, 16, 1);
}

.vending-page .lp-16 .btn {
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'DIN';
  letter-spacing: 0.02em;
  background: transparent;
  border: 1px solid #fff;
  padding: 12px 40px;
}

.vending-page .banner-slideshow .banner-slideshow__item-content .heading {
  font-size: 36px;
}

.vending-page .banner-slideshow .buttons .btn {
  font-size: 16px;
  font-family: 'DIN';
  font-weight: 600;
  line-height: 19.54px;
}

@media (min-width: 991px) {
  .vending-page .banner-slideshow .banner-slideshow__item-content .heading {
    font-size: 42px;
  }

  .vending-page .banner-slideshow .buttons .btn {
    font-size: 18px;
    line-height: 1.4;
  }
}

body.template-nomad-vending-machine {
  background: #101010;
}