<div class="not-found" style="background-image: url({{ '404.jpg' | asset_url }})">
	<div class="container">
		<div class="not-found__content">
			<h1 class="not-found__title">Page not fond</h1>
			<div class="not-found__description">
				<p>We couldn't find the page you're looking for.<br class="hidden-xs"> Try starting over from Home</p>
			</div>
			<div class="not-found__404">404</div>
			<a href="/" class="btn outline btn--not-found">Back to home</a>
		</div>
	</div>
</div>
<div class="hidden">12312312 = {{ template }}</div>