{% section 'nomadplansherosection' %}
{% section 'bottombarofherosection' %}
{% section 'image-with-textplansnomad' %}
{% section 'customhtmlnomadplans' %}
{% section 'modern' %}
{% section 'imagewithtext_plan_nomad' %}
{% section 'footeremail' %}
<div class="container page_content">
  <div class="row">
    {{ page.content }}
  </div>
</div>
<style>
  #nomad-plans #shopify-section-footeremail {
    position:relative;
}
  #nomad-plans .main-footer {
    background: #2F3C5D;
    color: #fff;
    padding-top: 230px!important;
    z-index: -1;
    margin-top: -178PX;
}
  #nomad-plans #footer .top-footer .nav-link {
    color: #fff;
}
  #nomad-plans .top-footer .btn {
    border-color: #fff;
    color: #fff;
}
  #nomad-plans .main-footer .contact-social li a {
    color: #fff;
}



</style>
