<section class="help-section-top pt-5 pb-5 mb-lg-5" id="page-top">
<div class="container">
{{ page.content }}
</div>
</section>
<section class="read-section help-overlay mt-5 pt-5" style="background:#F6F6F6;">
  <div class="container">
 
    <h2 class="title text-center">Affiliate Contact</h2>
    <div class="read-correctly__content mb-2 pb-2">
      <p>If you have any questions about our affiliate program, please reach out using the form below.</p>
    </div>
    <div class="get-touch-form col-md-8 mx-auto p-5 rounded">
      <div data-reamaze-embed="contact" data-reamaze-embed-subject="Affiliate Inquiry" data-reamaze-embed-disable-subject="true" data-reamaze-embed-channel="1"></div>
    </div>
  </div>
</section>