<section class="d-flex align-items-center pt-5">
  <div class="container">
    <div class="section-title text-center">
      <h1 class="title mb-3">ADDRESS FOUND!</h1>
      <p class="text-black">Hello there and thanks so much for reaching out to us here at Nomad Internet! We are thrilled that you are considering joining our growing community.</p>
      <p class="text-black">We have received your request and can recommend the following plan for optimum service in your area - <strong>Strong Pink Plan</strong></p>
      <p class="text-black">We can see that you have access to our towers/antennas within the desired radius for service. To purchase and view our plans, please head here: <a href="https://nomadinternet.com/pages/plans#wizard-plans">https://nomadinternet.com/pages/plans </a></p>
    </div>
  </div>
</section>
<section class="d-flex align-items-center pt-5 pb-5">
  <div class="container">
    <div class="section-title">
      <h1 class="title mb-3 text-center">COST</h1>
      <p class="text-black">The <strong>Strong Pink Plan</strong> monthly price is $129. The only other cost is a one-time setup membership fee. The membership fee is based on what you need to get started. We have 2 different options to choose from:</p>
      <ul>
        <li><strong>Travel Router</strong> ($149)-- we provide a small portable modem with a rechargeable battery.</li>
        <li><strong>Wifi Router</strong> ($199)-- we provide a stationary modem with an ethernet port and external powerful antennas.</li>
      </ul>
    </div>
  </div>
</section>

<section class="d-flex align-items-center pt-5 pb-5">
  <div class="container">
    <div class="section-title">
      <h1 class="title mb-3 text-center">HOW IT WORKS</h1>
      <p class="text-black">Once you place your order, we will program your own customized High-Speed Wireless Modem for your specific location. Then, we will ship you your new device with FedEx Express Shipping, directly to your home! Once you receive your modem, all you have to do is plug it in and your internet is ready to go. That’s it!</p>
      
    </div>
  </div>
</section>

<section class="d-flex align-items-center pt-5 pb-5">
  <div class="container">
    <div class="section-title">
      <h1 class="title mb-3 text-center">14-Day Money-Back Guarantee</h1>
      <p class="text-black">As always, each membership includes a 14-day money-back guarantee, which begins on the date you receive the modem to test out the device and service at no risk. If the device or service does not meet your expectations and you would like a full refund, just send it back within the trial period. We will provide a free label!</p>
	  <p>Please let us know if you have any additional questions by emailing us at: <a href="mailto:sales@nomadinternet.com">sales@nomadinternet.com</a></p>
      <p>**P.S. Want free Internet for life? Refer 5 friends and you get free Internet! For more information, visit our <a href="https://nomadinternet.com/pages/free">https://nomadinternet.com/pages/free</a></p>
      <p><small><em>Complete terms of service can be found at any time by visiting our terms and conditions page <a href="https://nomadinternet.com/policies/terms-of-service">here</a>.</em></small></p>
    </div>
  </div>
</section>