  {% section 'hero-section-homepage' %}
        {% section 'textwithemail' %}
        {% section 'text-with-image' %}
        {% section 'plan-options-product' %}
       {% section 'imagewithproduct' %}
        
<div class="container page_content">
   
    {{ page.content }}     
 {% section 'testimonial' %} 
</div>
  {% section 'htmlsec' %}
     {% section 'testimonial_new' %}
 {% section 'customhtml' %}
{% section 'faqhtml' %}

 {% section 'footeremail' %}
