{{ 'reseller.css' | asset_url | stylesheet_tag }}
{% comment %}
 <div class="frame38">
      <img class="img" src="https://nomadinternet.com/cdn/shop/t/223/assets/logo-dark.svg?v=30845031517405073591699168827" />
      <div class="div">
        <div class="div">
          <div class="div-2">
            <a href="https://reseller.nomadinternet.com/affiliates/login.php" style="text-decoration:none;">
            <div class="text-wrapper">Login</div>
            </a>
          </div>
        </div>
        <div class="frame-wrapper">
          <a href="https://reseller.nomadinternet.com/affiliates/signup.php">
          <div class="div-wrapper"><div class="text-wrapper-2">Sign Up</div></div>
          </a>
        </div>
      </div>
    </div>
{% endcomment %}
<section class="reseller-banner">
  <div class="container">
      <div class="section-content">
          <h3>Share Fast Internet, Get Big Rewards</h3>
          <h2>Offer Fast, Affordable Internet & a Free Modem, Earn Big with Nomad!</h2>
          <p>Join us and earn $65 for each customer who signs up for a monthly plan, plus we’ll give them a free modem!</p>
          <a href="http://www.shareasale.com/join/147274" target="_blank" style="text-transform: uppercase;">Become an Affiliate</a>
      </div>
  </div>
</section>
<div class="frame6528">
  <p class="text-wrapper">How the Nomad Partner Program Works</p>
  <div class="div">
    <div class="div-2">
      <div class="div-3">
        <div class="div-4">
         <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
  <path d="M41.6663 26.0415V14.1665C41.6663 10.6662 41.6663 8.91601 40.9851 7.57906C40.3859 6.40305 39.4298 5.44692 38.2538 4.84771C36.9168 4.1665 35.1667 4.1665 31.6663 4.1665H18.333C14.8327 4.1665 13.0825 4.1665 11.7456 4.84771C10.5696 5.44692 9.61343 6.40305 9.01422 7.57906C8.33301 8.91601 8.33301 10.6662 8.33301 14.1665V35.8332C8.33301 39.3335 8.33301 41.0837 9.01422 42.4206C9.61343 43.5966 10.5696 44.5528 11.7456 45.152C13.0825 45.8332 14.8327 45.8332 18.333 45.8332H24.9997M29.1663 22.9165H16.6663M20.833 31.2498H16.6663M33.333 14.5832H16.6663M30.208 39.5832L34.3747 43.7498L43.7497 34.3748" stroke="#27AE61" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          <div class="text-wrapper-2">Sign Up &amp; Approval</div>
        </div>
        <p class="p">Join the Nomad Internet Reseller Program.</p>
        <div class="div-wrapper">
          <a href="http://www.shareasale.com/join/147274" target="_blank"><div class="text-wrapper-3">Sign Up Now</div></a></div>
      </div>
      <div class="div-3">
        <div class="div-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
  <path d="M20.8333 27.0834C21.728 28.2795 22.8694 29.2692 24.1802 29.9854C25.4911 30.7015 26.9406 31.1274 28.4305 31.2341C29.9203 31.3408 31.4157 31.1259 32.8152 30.6038C34.2147 30.0817 35.4856 29.2648 36.5416 28.2084L42.7916 21.9584C44.6891 19.9938 45.739 17.3625 45.7153 14.6313C45.6916 11.9001 44.596 9.28748 42.6647 7.35615C40.7334 5.42481 38.1207 4.3293 35.3895 4.30557C32.6583 4.28184 30.027 5.33178 28.0624 7.22926L24.4791 10.7918M29.1666 22.9168C28.2719 21.7207 27.1304 20.731 25.8196 20.0148C24.5088 19.2986 23.0593 18.8728 21.5694 18.7661C20.0795 18.6594 18.5841 18.8743 17.1846 19.3964C15.7851 19.9184 14.5143 20.7354 13.4583 21.7918L7.20826 28.0418C5.31078 30.0064 4.26084 32.6376 4.28457 35.3689C4.30831 38.1001 5.40382 40.7127 7.33515 42.644C9.26649 44.5754 11.8791 45.6709 14.6103 45.6946C17.3415 45.7183 19.9728 44.6684 21.9374 42.7709L25.4999 39.2084" stroke="#27AE61" stroke-width="4.17" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          <div class="text-wrapper-2">Get Your Reseller Link</div>
        </div>
        <p class="p">Once approved, receive a unique Reseller Link</p>
      </div>
      <div class="div-3">
        <div class="div-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
  <path d="M18.7494 7.29199V4.16699M10.5424 10.5434L8.33268 8.33366M10.5424 27.0837L8.33268 29.2934M27.0827 10.5434L29.2924 8.33366M7.29102 18.7503H4.16602M33.0503 33.7286L27.8592 43.3691C27.2662 44.4705 26.9697 45.0212 26.6129 45.1605C26.3033 45.2813 25.9546 45.2472 25.6743 45.0686C25.3513 44.8628 25.1672 44.2651 24.799 43.0696L17.5935 19.6779C17.2927 18.7014 17.1423 18.2131 17.2633 17.8833C17.3687 17.5961 17.5951 17.3697 17.8823 17.2643C18.2121 17.1433 18.7004 17.2937 19.677 17.5945L43.0686 24.8C44.264 25.1683 44.8617 25.3524 45.0675 25.6754C45.2461 25.9557 45.2803 26.3043 45.1594 26.614C45.0201 26.9707 44.4694 27.2672 43.3681 27.8603L33.7276 33.0513C33.564 33.1394 33.4821 33.1835 33.4105 33.2401C33.3469 33.2904 33.2894 33.3479 33.2391 33.4115C33.1825 33.4831 33.1385 33.5649 33.0503 33.7286Z" stroke="#27AE61" stroke-width="4.17395" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          <div class="text-wrapper-2">Visitor Clicks Your Link</div>
        </div>
        <p class="p">Visitor&#39;s IP is logged &amp; a cookie is stored for tracking when they click your link.</p>
      </div>
    </div>
    <div class="div-2">
      <div class="div-3">
        <div class="div-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
  <path d="M4.6875 25H23.4375" stroke="#27AE61" stroke-width="3.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M34.0625 20.3125C33.125 11.4063 29.375 4.6875 25 4.6875C19.8437 4.6875 15.625 13.75 15.625 25C15.625 36.25 19.8437 45.3125 25 45.3125" stroke="#27AE61" stroke-width="3.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M45.1562 26.5625C45.1562 26.0937 45.3125 25.4688 45.3125 25C45.3125 13.75 36.25 4.6875 25 4.6875C13.75 4.6875 4.6875 13.75 4.6875 25C4.6875 36.25 13.75 45.3125 25 45.3125C26.5625 45.3125 28.125 45.1563 29.6875 44.6875" stroke="#27AE61" stroke-width="3.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M38.2813 27.3437C41.25 30.3125 41.25 35.3125 38.2813 38.2813C37.5 39.0625 36.7187 39.5313 35.7812 40C32.9687 41.0938 29.6875 40.625 27.3437 38.2813C24.375 35.3125 24.375 30.3125 27.3437 27.3437C30.3125 24.375 35.3125 24.375 38.2813 27.3437Z" stroke="#27AE61" stroke-width="3.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M39.8437 35.9375L45.9375 41.5625C47.1875 42.8125 47.1875 44.6875 45.9375 45.9375C44.6875 47.1875 42.8125 47.1875 41.5625 45.9375L36.0938 40.4687" stroke="#27AE61" stroke-width="3.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
          <div class="text-wrapper-4">Visitor Explores Nomadinternet.com</div>
        </div>
        <p class="p">The visitor browses our offerings</p>
      </div>
      <div class="div-3">
        <div class="div-4">
          <img class="" src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Group_469293.svg?v=1699269352" />
          <p class="text-wrapper-5">Visitor Signs Up for Service</p>
        </div>
        <p class="p">Signups via your link earn you commissions, even if they don&#39;t sign up immediately</p>
      </div>
      <div class="div-3">
        <div class="div-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="57" height="50" viewBox="0 0 57 50" fill="none">
<path d="M21.9996 23.8105H22.0136M26.2019 23.8105H26.2159M30.4042 23.8105H30.4182M36.0073 15.4059V18.2074M30.4042 7.00125C31.4548 5.60048 34.0732 4.19971 36.0073 4.19971C37.9413 4.19971 40.2096 5.13356 41.6104 7.00125M33.2057 11.2036C33.731 10.5032 35.0402 9.80279 36.0073 9.80279C36.9744 9.80279 38.1084 10.2697 38.8088 11.2036M20.8789 18.2074H37.1279C38.6969 18.2074 39.4815 18.2074 40.0807 18.5128C40.6078 18.7813 41.0365 19.2099 41.305 19.7371C41.6104 20.3363 41.6104 21.1209 41.6104 22.6899V24.9311C41.6104 26.5001 41.6104 27.2847 41.305 27.8839C41.0365 28.411 40.6078 28.8397 40.0807 29.1082C39.4815 29.4136 38.6969 29.4136 37.1279 29.4136H20.8789C19.3099 29.4136 18.5254 29.4136 17.9262 29.1082C17.399 28.8397 16.9704 28.411 16.7018 27.8839C16.3965 27.2847 16.3965 26.5001 16.3965 24.9311V22.6899C16.3965 21.1209 16.3965 20.3363 16.7018 19.7371C16.9704 19.2099 17.399 18.7813 17.9262 18.5128C18.5254 18.2074 19.3099 18.2074 20.8789 18.2074Z" stroke="#27AE61" stroke-width="2.80154" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1.69531 41.8094C1.69531 38.7205 1.69531 37.1761 2.65492 36.2164C3.61453 35.2568 5.15899 35.2568 8.24792 35.2568H11.5242C14.6131 35.2568 16.1576 35.2568 17.1172 36.2164C18.0768 37.1761 18.0768 38.7205 18.0768 41.8094C18.0768 44.8983 18.0768 46.4429 17.1172 47.4024C16.1576 48.362 14.6131 48.362 11.5242 48.362H8.24792C5.15899 48.362 3.61453 48.362 2.65492 47.4024C1.69531 46.4429 1.69531 44.8983 1.69531 41.8094Z" stroke="#27AE61" stroke-width="1.67301"/>
<path d="M8.24993 45.085H4.97363" stroke="#27AE61" stroke-width="1.67301" stroke-linecap="round"/>
<path d="M11.5245 45.085H10.2959" stroke="#27AE61" stroke-width="1.67301" stroke-linecap="round"/>
<path d="M1.69531 40.1709H18.0768" stroke="#27AE61" stroke-width="1.67301" stroke-linecap="round"/>
<path d="M54.1885 40.3812L54.2273 40.7791L54.601 40.9209C55.2407 41.1637 55.6626 41.7778 55.6598 42.462V42.4647V43.6114H55.6597L55.6598 43.6196C55.669 44.3388 55.2089 44.9802 54.5246 45.2019L54.214 45.3025L54.1115 45.6124C53.9656 46.0537 53.6566 46.662 53.0025 47.2066C52.35 47.7498 51.3146 48.2622 49.6618 48.451L49.3139 48.4907L49.1581 48.8043C48.9913 49.14 48.6499 49.3533 48.2752 49.356C47.8007 49.3551 47.393 49.0193 47.3014 48.5539C47.2097 48.0877 47.4607 47.6219 47.9004 47.442L47.6565 46.8458L47.9004 47.442C48.3401 47.2622 48.8456 47.4186 49.1069 47.8153L49.3264 48.1487L49.7226 48.1005C52.0435 47.8181 53.127 46.8453 53.5882 45.9778L53.9028 45.3861L53.2991 45.0952C52.7282 44.82 52.3642 44.2435 52.3613 43.6099V42.465C52.3616 41.7956 52.7666 41.1929 53.3861 40.9395L53.8351 40.7559L53.7827 40.2737C53.6964 39.4802 53.4415 38.0904 52.6526 36.8826C51.8395 35.6377 50.4713 34.6126 48.277 34.6126C46.0829 34.6126 44.7128 35.6375 43.8977 36.8819C43.1067 38.0895 42.8495 39.4792 42.7631 40.2737L42.7106 40.7566L43.1605 40.9398C43.7818 41.1929 44.1892 41.7955 44.1927 42.4662V43.6114C44.1927 44.5222 43.4543 45.2606 42.5435 45.2606C41.6326 45.2606 40.8942 44.5222 40.8942 43.6114L40.8942 42.4647L40.8942 42.462C40.8914 41.7778 41.3133 41.1637 41.9529 40.9209L42.3267 40.7791L42.3655 40.3812C42.485 39.1549 42.9073 37.6048 43.8268 36.3783C44.7256 35.1792 46.1148 34.2628 48.277 34.2628C50.4391 34.2628 51.8284 35.1792 52.7272 36.3783C53.6466 37.6048 54.0689 39.1549 54.1885 40.3812ZM56.3039 43.6114V42.4647L49.7349 49.091C53.2488 48.6896 54.3709 46.8795 54.7231 45.8147C55.6759 45.506 56.3168 44.6129 56.3039 43.6114ZM43.1932 41.3393L42.8711 41.8972L43.1932 41.3393C42.7911 41.1072 42.2958 41.1072 41.8937 41.3393L42.2089 41.8853L41.8937 41.3393C41.4917 41.5715 41.244 42.0004 41.244 42.4647V43.6114C41.244 44.329 41.8258 44.9108 42.5435 44.9108C43.2611 44.9108 43.8429 44.329 43.8429 43.6114V42.4647C43.8429 42.0004 43.5952 41.5715 43.1932 41.3393ZM54.0105 41.1652C53.2929 41.1652 52.7111 41.747 52.7111 42.4647V43.6114C52.7111 44.329 53.2929 44.9108 54.0105 44.9108C54.7282 44.9108 55.3099 44.329 55.3099 43.6114V42.4647C55.3099 41.747 54.7282 41.1652 54.0105 41.1652Z" fill="#27AE61" stroke="#27AE61" stroke-width="1.28832"/>
</svg>
          <p class="text-wrapper-6">We Handle Everything, you get paid!</p>
        </div>
        <p class="p">We manage payments, ship modems, activate accounts, and offer support.</p>
      </div>
    </div>
    <div class="div-6">
      <div class="div-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="44" viewBox="0 0 40 44" fill="none">
<path d="M23.2978 4.14193C27.4191 4.83499 31.2071 6.8193 34.1588 9.87254C37.7264 13.5629 39.6916 18.4238 39.6916 23.558C39.6916 28.8175 37.6429 33.7633 33.9239 37.4823C30.2049 41.2012 25.2591 43.2499 19.9996 43.2499C14.7401 43.2499 9.7943 41.2012 6.07529 37.4824L6.25206 37.3056L6.07529 37.4824C2.35627 33.7634 0.307617 28.8175 0.307617 23.5581C0.307617 19.4155 1.57979 15.4509 3.98647 12.0945C6.34066 8.81144 9.58815 6.36042 13.3772 5.00768L13.3772 5.00768C14.1472 4.73282 14.9944 5.13408 15.2693 5.90417L15.2693 5.90418C15.5441 6.67428 15.1429 7.52131 14.3728 7.79628L14.3728 7.79629C11.1539 8.94541 8.39482 11.028 6.3928 13.82L6.18964 13.6743L6.3928 13.82C4.34881 16.6704 3.26855 20.0372 3.26855 23.558C3.26855 32.7832 10.7744 40.289 19.9996 40.289C29.2248 40.289 36.7306 32.7832 36.7305 23.5579C36.7305 19.1951 35.0613 15.0663 32.0298 11.9304C29.8275 9.65237 27.079 8.07548 24.0726 7.32587L24.1624 7.41564C24.7405 7.99379 24.7405 8.93119 24.1624 9.5093C24.1624 9.50931 24.1624 9.50933 24.1623 9.50934M23.2978 4.14193L19.1295 4.47638C18.649 4.95684 18.649 5.73597 19.1295 6.21651L22.2455 9.33255C22.4858 9.57282 22.8007 9.693 23.1156 9.693C23.4304 9.693 23.7454 9.57282 23.9856 9.33255L24.1623 9.50934M23.2978 4.14193L24.1625 3.27725C24.7407 2.69908 24.7407 1.76174 24.1625 1.18357C23.5844 0.60547 22.647 0.605491 22.0689 1.18355L22.0688 1.18356L18.9527 4.29959C18.9527 4.29959 18.9527 4.2996 18.9527 4.2996C18.3745 4.8777 18.3746 5.81513 18.9527 6.39329L22.0688 9.50933C22.3578 9.79834 22.7371 9.943 23.1156 9.943C23.494 9.943 23.8734 9.79838 24.1623 9.50934M23.2978 4.14193L24.1623 9.50934" fill="#27AE61" stroke="#27AE61" stroke-width="0.5"/>
<path d="M13.4375 28.3438C13.4375 30.76 15.3963 32.7188 17.8125 32.7188H22.1875C24.6037 32.7188 26.5625 30.76 26.5625 28.3438C26.5625 25.9275 24.6037 23.9688 22.1875 23.9688H17.8125C15.3963 23.9688 13.4375 22.01 13.4375 19.5938C13.4375 17.1775 15.3963 15.2188 17.8125 15.2188H22.1875C24.6037 15.2188 26.5625 17.1775 26.5625 19.5938M20 13.0312V34.9063" stroke="#27AE61" stroke-width="2.625" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
        <div class="text-wrapper-7">Earn Monthly Commissions</div>
      </div>
      <p class="p">Enjoy $10 monthly lifetime commissions for every customer.</p>
    </div>
  </div>
</div>


<div class="frame6535">
  <div class="div">
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
  <path d="M25.0003 39.9998L35.0003 49.9998L55.0003 29.9998M73.3337 39.9998C73.3337 58.4093 58.4098 73.3332 40.0003 73.3332C21.5908 73.3332 6.66699 58.4093 6.66699 39.9998C6.66699 21.5903 21.5908 6.6665 40.0003 6.6665C58.4098 6.6665 73.3337 21.5903 73.3337 39.9998Z" stroke="white" stroke-width="4.8" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
    <p class="that-s-it-you-use">How the Nomad Affiliate Program Works</p>
    <p class="signing-up-and">
      Signing up and getting your account configured couldn&#39;t be easier. You can start earning recurring
      commissions in as little as five minutes.
    </p>
  </div>
    <a href="http://www.shareasale.com/join/147274" target="_blank">
  <div class="div-wrapper"><div class="text-wrapper">Sign Up Today</div></div></a>
</div>

<div class="frame6544">
      <p class="text-wrapper">Benefits of the Nomad Partner Program</p>
      <div class="div">
        <div class="div-2">
          <div class="div-wrapper"><p class="p">Earn Passive Income with Every Referral!</p></div>
          <div class="div-3">
            <div class="div-4">
             <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
  <path d="M17.5 5.25L7.875 14.875L3.5 10.5" stroke="#27AE61" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p class="div-5">
                <span class="span">Lifetime Earnings: </span>
                <span class="text-wrapper-2">Secure $10 monthly for each customer you bring on board</span>
              </p>
            </div>
            <div class="div-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
  <path d="M17.5 5.25L7.875 14.875L3.5 10.5" stroke="#27AE61" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p class="div-5">
                <span class="span">Empower &amp; Earn: </span>
                <span class="text-wrapper-2">Provide unlimited wireless internet and reap continuous rewards</span>
              </p>
            </div>
            <div class="div-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
  <path d="M17.5 5.25L7.875 14.875L3.5 10.5" stroke="#27AE61" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p class="div-5">
                <span class="span">Steady Stream: </span>
                <span class="text-wrapper-2">Enjoy non-stop Monthly Lifetime Commissions for every referral.</span>
              </p>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="div-wrapper"><p class="p">Unlimited Payouts/Instant Cash with Nomad Internet!</p></div>
          <div class="div-3">
            <div class="div-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
  <path d="M17.5 5.25L7.875 14.875L3.5 10.5" stroke="#27AE61" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p class="div-5">
                <span class="span">Swift Access: </span>
                <span class="text-wrapper-2"
                  >Automatic payments ensure quick cash withdrawals from your Reseller Account</span
                >
              </p>
            </div>
            <div class="div-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
  <path d="M17.5 5.25L7.875 14.875L3.5 10.5" stroke="#27AE61" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p class="div-5">
                <span class="span">Diverse Payment Options: </span>
                <span class="text-wrapper-2">Choose from wire transfer, ACH, or Zelle for your payouts.</span>
              </p>
            </div>
            <div class="div-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
  <path d="M17.5 5.25L7.875 14.875L3.5 10.5" stroke="#27AE61" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p class="div-5">
                <span class="span">Premium Connectivity: </span>
                <span class="text-wrapper-2">Trust in Nomad&#39;s top-tier wireless internet offerings</span>
              </p>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="div-wrapper"><p class="p">Your 24/7 Nomad Reseller Insight Hub!</p></div>
          <div class="div-3">
            <div class="div-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
  <path d="M17.5 5.25L7.875 14.875L3.5 10.5" stroke="#27AE61" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p class="div-5">
                <span class="span">Comprehensive Analytics: </span>
                <span class="text-wrapper-2">Dive deep into customer behaviors and patterns.</span>
              </p>
            </div>
            <div class="div-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
  <path d="M17.5 5.25L7.875 14.875L3.5 10.5" stroke="#27AE61" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p class="div-5">
                <span class="span">Track Conversions: </span>
                <span class="text-wrapper-2">Understand your success rate with clear conversion metrics.</span>
              </p>
            </div>
            <div class="div-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
  <path d="M17.5 5.25L7.875 14.875L3.5 10.5" stroke="#27AE61" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              <p class="div-5">
                <span class="span">Monitor Earnings: </span>
                <span class="text-wrapper-2">Stay updated on every commission you earn</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>