<style>
  .cmngson {
    background-image: url(https://cdn.shopify.com/s/files/1/0103/2847/3658/files/image_115.png?v=1670832227);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
  }
  #coming-soon .main-header {
    z-index: 99;
    position: absolute;
    width: 100%;
}
  .soonpg {
    display: flex;
    padding-top: 140px;
    justify-content: space-between;
    align-items: center;
}
  .nesc img {
    max-width: 600px;
}
 .gogllogo img {
    max-width: 150px;
    margin-top: 40px;
} 
  .gogllogo {
    display: flex;
    justify-content: center;
}
  .intrnt h1 {
    font-size: 79px;
    font-weight: 500;
    font-family: 'poppins';
    color: #109d59;
    line-height: 120px;
}
  .intrnt {
    max-width: 810px;
}
  #coming-soon .navbar-light .navbar-nav .nav-link{
	color: #fff;
}
  #coming-soon footer#footer {
    background: #2f3c5c;
    margin-top: -3px;
}
  #coming-soon .top-footer .nav-link, #coming-soon .top-footer .btn, #coming-soon #footer h4.title, #coming-soon .main-footer .contact-social li a, #coming-soon #footer p {
        color: #fff;
}
  @media screen and (max-width: 990px) {
.soonpg{
	flex-wrap: wrap-reverse;
    justify-content: center;
  }
  }
  @media screen and (max-width: 768px) {
	.intrnt h1 {
		font-size: 68px;
		line-height: 96px;
		padding-top: 40px;
		text-align: center;
	}
    .gogllogo img {
    max-width: 96px;
    margin-top: 14px;
    margin-bottom: 30px;
}
    .nesc img {
    max-width: 450px;
}
  }
  @media screen and (max-width: 600px) {
    .intrnt h1 {
    font-size: 48px;
    line-height: 68px;
}
    .gogllogo img {
    max-width: 80px;
}
    .nesc img {
    max-width: 350px;
}
  }
</style>

<div class="cmngson">
  <div class="container-wrapper">
    <div class="soonpg">
    <div class="nesc">
      <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/Group-1000006905.png?v=1670571875">
    </div>
    <div class="intrnt">
      <h1>Nomad Internet App <span style="color:#fff;font-weight:700;">Coming Soon on</span></h1>
      <div class="gogllogo">
        <img src="https://cdn.shopify.com/s/files/1/0103/2847/3658/files/google-play-hero-1.png?v=1670832620">
      </div>
      </div>
    </div>
    </div>
  </div>