<div class="faq">
	<div class="container">
		<h1 class="page__title">FAQ</h1>

		<div class="tabs">
			<ul class="tabs__nav">
				<li class="tabs__nav-item">Nomad Plans</li>
				<li class="tabs__nav-item">Choosing My Device</li>
				<li class="tabs__nav-item">Returns and Exchanges</li>
				<li class="tabs__nav-item">Speeds</li>
				<li class="tabs__nav-item">General</li>
			</ul>

			<div class="tabs__panes">
				<div class="tabs__pane">
					<div class="accordion">
						<div class="accordion__pane">
							<div class="accordion__heading">Accordion heading 1</div>
							<div class="accordion__content">
								<h3>Content 1</h3>
								<p>Lorem ipsum dolor sit amet ...</p>
							</div>
						</div>
						<div class="accordion__pane">
							<div class="accordion__heading">Accordion heading 2</div>
							<div class="accordion__content">
								<h3>Content 2</h3>
								<p>Lorem ipsum dolor sit amet ...</p>
							</div>
						</div>
						<div class="accordion__pane">
							<div class="accordion__heading">Accordion heading 3</div>
							<div class="accordion__content">
								<h3>Content 3</h3>
								<p>Lorem ipsum dolor sit amet ...</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs__pane">
					<p>Lorem ipsum dolor sit amet ...</p>
				</div>
				<div class="tabs__pane">
					<p>Lorem ipsum dolor sit amet ...</p>
				</div>
				<div class="tabs__pane">
					<p>Lorem ipsum dolor sit amet ...</p>
				</div>
				<div class="tabs__pane">
					<p>Lorem ipsum dolor sit amet ...</p>
				</div>
			</div>
		</div>

		<div class="faq__bottom">
			<div class="text-center">
				<div class="row v-gutters justify-center">
					<div class="col-lg-8 col-md-10 col-12">
						<h2 class="faq__title">Didn't find an answer to your question?</h2>
						<div class="faq__description">
							<p>If you did not find the answer to your question, write and send it using this form. Your message will be sent to the customer service department and we will get back to you as soon as possible.</p>
						</div>
					</div>

					<div class="col-md-10 col-12">
						<div class="faq__form">
							<form action="." method="post">
								<div class="row">
									<div class="col-md-6 col-12">
										<label class="input-wrapper">
											<span class="sr-only">Name</span>
											<input type="text" name="Name" placeholder="Name" required>
										</label>

										<label class="input-wrapper">
											<span class="sr-only">Phone</span>
											<input type="tel" name="Phone" placeholder="Phone" required>
										</label>

										<label class="input-wrapper">
											<span class="sr-only">E-mail</span>
											<input type="mail" name="E-mail" placeholder="E-mail" required>
										</label>
									</div>

									<div class="col-md-6 col-12">
										<label class="input-wrapper">
											<span class="sr-only">Message</span>
											<textarea placeholder="Message" name="Message" required></textarea>
										</label>

										<label class="input-wrapper">
											<input type="submit" value="Send message" class="btn outline lg wide">
										</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
