{% section 'nomadmodemsherosection' %}
{% section 'bottombarofherosection' %}
{% section 'image-with-text-1modem' %}
{% section 'image-with-text-modem' %}
{% section 'customhtmlnomadmodems' %}
{% section 'airvsraptormob' %}
 {% section 'footeremail' %}
<div class="container page_content">
  <div class="row">
    {{ page.content }}
  </div>
</div>

<style>
  #shopify-section-nomadmodemsherosection .spclofr-box h2{
    max-width:650px;
  }
  #shopify-section-nomadmodemsherosection .spclofr-box span{
    display:inline !important;
  }
  .dat h3{
    font-weight:500 !important;
  }
  #nomad-modems{
        background: rgba(217, 217, 217, 0.25);
  }
  div#shopify-section-image-with-text-modem, div#shopify-section-image-with-text-1modem {
    background: #fff;
}
</style>