{% section 'referpagebanner' %}.
{% section 'textwithemail' %}.
{% section 'get-in-touch-form' %}.

<div class="container page_content">
  <div class="row">
    {{ page.content }}
  </div>
</div>
{% section 'footeremail' %}.
