<div class="activate-thank-you">
  
<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120" fill="none">
<path d="M112.016 38.0231C110.641 34.7722 108.983 31.6849 107.047 28.7776C106.943 28.9031 106.834 29.0176 106.714 29.1322C105.972 29.8304 105.247 30.5449 104.521 31.2649C106.18 33.8286 107.614 36.5395 108.82 39.3813C111.58 45.9104 112.981 52.8486 112.981 60.0049C112.981 67.1613 111.58 74.094 108.82 80.6286C106.152 86.934 102.329 92.6013 97.4632 97.4722C92.5978 102.338 86.9305 106.156 80.6196 108.829C74.0905 111.589 67.1523 112.99 59.996 112.99C52.8396 112.99 45.9069 111.589 39.3723 108.829C33.0669 106.161 27.3996 102.338 22.5287 97.4722C17.6632 92.6067 13.8451 86.9395 11.1723 80.6286C8.41233 74.0995 7.01051 67.1613 7.01051 60.0049C7.01051 52.8486 8.41233 45.9158 11.1723 39.3813C13.8396 33.0704 17.6632 27.4086 22.5287 22.5376C27.4051 17.6722 33.0723 13.8486 39.3778 11.1813C45.9069 8.42129 52.8451 7.01947 60.0014 7.01947C67.1578 7.01947 74.0905 8.42129 80.6251 11.1813C86.9305 13.8486 92.5978 17.6722 97.4687 22.5376C98.0142 23.0831 98.5487 23.6395 99.0669 24.2067C100.005 23.6449 100.943 23.0995 101.892 22.5704C101.98 22.5213 102.067 22.4776 102.154 22.4395C101.44 21.6322 100.692 20.8467 99.9287 20.0831C94.7469 14.9013 88.7087 10.8267 81.9832 7.98492C75.0178 5.03947 67.6214 3.54492 60.0014 3.54492C52.3814 3.54492 44.9851 5.03947 38.0251 7.97947C31.3051 10.8213 25.2669 14.8958 20.0796 20.0777C14.8923 25.2595 10.8232 31.2976 7.98142 38.0231C5.04142 44.9831 3.54688 52.3795 3.54688 59.9995C3.54688 67.6195 5.04142 75.0158 7.98142 81.9758C10.8232 88.6958 14.8978 94.734 20.0796 99.9213C25.2614 105.109 31.2996 109.178 38.0251 112.019C44.9851 114.965 52.3814 116.459 60.0014 116.459C67.6214 116.459 75.0178 114.965 81.9778 112.019C88.6978 109.178 94.736 105.103 99.9232 99.9213C105.105 94.7395 109.18 88.7013 112.021 81.9758C114.967 75.0158 116.461 67.6195 116.461 59.9995C116.461 52.3795 114.961 44.9831 112.016 38.0231Z" fill="#017C5F"/>
<path d="M33.886 55.8596C34.8678 55.0851 36.1006 54.6542 37.3497 54.6542C38.2115 54.6542 39.0787 54.8614 39.8533 55.2433L56.6424 63.6542C64.2951 54.1305 71.3806 46.3796 78.2478 40.0087C83.7678 34.8924 89.3042 30.5069 95.026 26.7433C86.2278 17.4814 73.7915 11.7051 60.0078 11.7051C33.3351 11.7051 11.7188 33.3269 11.7188 59.9942C11.7188 86.6614 33.3297 108.289 60.0024 108.289C86.6751 108.289 108.291 86.6669 108.291 59.9996C108.291 50.7378 105.684 42.0869 101.168 34.7396C96.0187 40.2869 91.2187 46.4724 86.386 53.7542C80.3915 62.7869 74.8824 72.7578 69.5533 82.396C68.5606 84.1905 66.9024 87.1905 63.6133 88.1342C62.9697 88.3196 62.3042 88.4124 61.6278 88.4124C58.7478 88.4124 56.3424 86.7814 54.3678 85.1833C47.3587 79.5214 41.7733 73.3796 35.8606 66.8778C35.0042 65.9396 34.1206 64.9633 33.2369 64.0033C32.1897 62.8633 31.666 61.3251 31.786 59.7869C31.906 58.2487 32.6751 56.8142 33.886 55.8596Z" fill="#017C5F"/>
<path d="M57.5422 67.7673L38.3804 58.1673C37.5786 57.7637 36.6131 57.8619 35.9095 58.4182C34.8568 59.2528 34.7313 60.8019 35.6368 61.7946C42.3841 69.1582 48.5695 76.2982 56.4131 82.6364C58.2241 84.1037 60.4604 85.6255 62.7022 84.9873C64.6004 84.4419 65.7241 82.5382 66.6841 80.8091C78.0131 60.3164 88.0168 42.3437 104.457 26.7491C105.166 26.0782 104.331 24.9437 103.48 25.4237C87.4168 34.4182 73.4913 47.6073 57.5422 67.7673Z" fill="#017C5F"/>
</svg>
  
<div class="activate-thank-you-text">
  <h2>Nomad Modem Activation Complete!</h2>
  <p>Your request has been received. Please allow approximately 2 hours for activation. Thank you for choosing Nomad Internet!</p>
<p>Nomad Internet provides plans for as low as $49.95 a month with Friends of Nomad!</p>
<p>Share your experience by inviting up to 5 Friends to join Nomad. Every friend you invite today that joins within 30 days will save you $10 every month, for up to $50 off a month!</p>
<a href="/pages/fon" class="activate-thank-you-btn">Claim $50 Rewards</a>
</div>
  
</div>


<style>  
.activate-thank-you{
font-family: Graphie;  
display: flex;
padding: 40px;
flex-direction: column;
align-items: center;
gap: 32px;
border-radius: 12px;
background: #FFF;
max-width:600px;
margin:40px auto 70px;  
}
.activate-thank-you svg{
width: 120px;
height: 120px;
}
.activate-thank-you-text{
display: flex;
flex-direction: column;
align-items: center;
gap: 0px;
align-self: stretch;
}
.activate-thank-you-text h2{
  color: var(--Heading, #000);
text-align: center;
font-family: Graphie;
font-size: 36px;
font-style: normal;
font-weight: bold;
line-height: 138.023%;
margin-top:0;  
}
.activate-thank-you-text p{
color: var(--gray-true-700, var(--colors-gray-true-700, #424242));
text-align: center;
font-family: Graphie;
font-size: 16px;
font-style: normal;
font-weight: normal;
line-height: 137.023%; /* 27.405px */
margin-top:0;  
}  
.activate-thank-you-btn{
display: flex;
width: 236px;
height: 48px;
padding: 12px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 8px;
background: #017C5F;
color: #FFF;
font-family: Graphie;
font-size: 18px;
font-style: normal;
font-weight: bold;
line-height: 22.68px;
text-decoration: none;
cursor: pointer;
margin:20px auto 0 auto;  
}
@media screen and (max-width: 767px){
  .activate-thank-you {
    margin: 10px auto 50px;
}
  .activate-thank-you {
    padding: 40px 20px;
    gap: 20px;
}
  .activate-thank-you svg {
    width: 80px;
    height: 80px;
}
  .activate-thank-you-text h2 {
    font-family: Graphie;
    font-size: 26px;
}
  .activate-thank-you-text p{font-size: 16px;}
}
  
</style>