<div class="contacts">
	<div class="container">
		<h1 class="page__title">Creator Program</h1>
      
        <!-- old nav link: https://nomad.grin.live/creator -->
		<!-- <iframe referrerpolicy="no-referrer" crossorigin="anonymous" src="https://hxo.grin.live/creator" style="width: 100%; height: 800px; border: none;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        <iframe referrerpolicy="no-referrer" crossorigin="anonymous" src="https://creators.nomadinternet.com/" style="width: 100%; height: 800px; border: none;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>
</div>
